[2016-09-13 14:32] kagel opened #2 "Automatically add the "bounty" label to a repository"
'bounty' label doesn't exist by default. Let's add it automatically.

[2016-09-13 23:29] #2 closed, assigned to nobody

[2016-09-25 05:05] jarradh opened #3 "list isn't populated with bounties & more"
<img width="994" alt="screen shot 2016-09-25 at 1 03 25 pm" src="https://cloud.githubusercontent.com/assets/2714786/18813144/9222a3a8-8320-11e6-8067-31659db614f2.png">

[2016-09-25 05:09] jarradh opened #4 "first time sign-in, did not sign me in"
first time signing in, retuned me to commiteth and i had to press sign in button again.

[2017-01-09 06:45] jarradh opened #5 "Design similar to BountySource"
We need a stripped down web design similar to https://www.bountysource.com/

Let's discuss

[2017-01-13 14:17] jarradh opened #6 "Maintainer list does not include Organisation repositories"

[2017-01-13 14:27] jarradh opened #7 "Support ERC20 using DSMultsig, DSAuth & DSAuthority"
This is the Multisig contract used by Maker

https://github.com/nexusdev/ds-multisig
https://github.com/nexusdev/ds-auth/blob/master/src/DSAuthority50.sol
https://github.com/nexusdev/ds-auth/blob/master/src/auth.sol

[2017-01-15 02:18] jarradh opened #8 "Homepage listings"
The homepage should list

Activity (new bounty, changes in balance, awarded)
Top Bounty Hunters (and their earnings)
A list of most popular repositories

Similar to https://www.bountysource.com/

[2017-01-17 11:21] tpatja opened #10 "Not possible to switch github accounts"
Currently it is not possible to switch github accounts on the commiteth web UI.

Reproducing:
* sign in with a github account A
* sign out
* press sign in again
-> commiteth signs you in with account A automatically

The only way to sign in with another github account at this point is to revoke access to the oauth application on github's settings view for account A.

There should be some means of

[2017-01-17 11:25] tpatja opened #11 "commiteth.com should use HTTPS"
The production server should use HTTPS. We can get a free SSL certificate from [letsencrypt.org](https://letsencrypt.org/) and set up automated renewal.

[2017-01-17 11:31] tpatja opened #12 "Add existing bounty tagged issues when enabling a repository"
Currently, bounties are created only for new issues added after the repository is enabled by the maintainer. It should work so that when a repository is enabled, we immediately add bounties for existing issues with the "bounty" label.

[2017-01-17 11:38] tpatja opened #13 "Balance not updated to QR image"
After a bounty issue is created and some ether is deposited onto the bounty contract, the commiteth bot should update the ETH balance to the the bounty comment on the Github issue.

It currently updates the text "Current balance: N.00000000 ETH" in the beginning of the comment, but leaves the QR image unmodified, showing the old balance.

![screen shot 2017-01-17 at 13 37 01](https://cloud.githubu

[2017-01-21 08:41] tpatja commented on #11
Done. commiteth.com now enforeces ssl usage and has a certbot auto-updating the certificate.

https://www.ssllabs.com/ssltest/analyze.html?d=commiteth.com&latest

[2017-01-21 08:41] #11 closed

[2017-01-21 09:24] jarradh opened #14 "Setup Yellerapp"
http://yellerapp.com/

[2017-01-21 10:15] commiteth commented on #14
Current balance: 0.0000 ETH
![QR Code](https://commiteth.com/qr/status-im/commiteth/bounty/14/beb6529a73faffb0c06274243ae8f5c95eee51a4f41513cf2d7113d977f6a826/qr.png)
[https://commiteth.com](https://commiteth.com)

[2017-01-21 15:20] #4 closed

[2017-01-21 15:20] #13 closed

[2017-01-21 15:39] tpatja opened #15 "Users and repositories DB tables use incorrect datatype for datetimes"
Both users.created and repositories.updated use SQL time datatype. We want to store full datetimes instead of time of day, so those should be changed to [timestamp](https://www.postgresql.org/docs/9.1/static/datatype-datetime.html).

[2017-01-21 15:41] tpatja commented on #6
Fixed by commit [60cc76](https://github.com/status-im/commiteth/commit/60cc76919e0)

[2017-01-21 15:41] #6 closed

[2017-01-22 09:08] tpatja opened #16 "Include contract address in comment text"
Currently the bot's comment includes the QR image and a "current balance" text. The image has a the contract address as text, but since it's an image copying it to the clipboard is impossible. Let's include the address in the comment text.

[2017-01-22 10:45] #12 closed

[2017-01-22 10:45] #15 closed

[2017-01-22 10:45] #16 closed

[2017-01-24 06:15] tpatja opened #17 "Toggle checkbox for a repository needs to be atomic"
Currently, the checkbox for enabling/disabling a repository immediately switches it's state upon clicking, regardless of what happens to the AJAX request. This causes UI state corruption, when for example you quickly click the checkbox several times.

The checkbox should only change it's checked state after the operation has been completed and not allow clicks during the operation.

[2017-01-27 15:07] tpatja commented on #14
Unfortunately, Yeller has been [shut down](http://yellerapp.com/posts/2016-08-21-yeller-is-closing-down.html). We should look at alternatives.

[2017-01-27 15:19] jarradh commented on #14
It was literally just up a few days ago, lmao. I guess yet another reason we need decentralised apps

[2017-02-07 17:18] tpatja opened #18 "Github webhook security impovements"
We should set a secret key in the [config](https://developer.github.com/v3/repos/hooks/#create-a-hook) when creating Github webhooks and verify the received webhook POST payloads' integrity.

https://developer.github.com/webhooks/securing/

[2017-02-15 13:10] tpatja opened #19 "Estimate gas instead of hard-coding"
Currently eth.core/send-transaction (used for contract deployments and multisig wallet operations) uses a hard-coded value for gas. We should make the gas value dynamic by using eth_estimateGas.

[2017-02-18 14:09] tpatja opened #20 "Do not allow users with no Ethereum account configured to enable repositories"
Users should not be allowed to enable repositories before they have provided a valid Ethereum address. Currently it is possible and it leads to a crash in case a user enables a repo and adds bounty issues.

It would probably make sense for the UI to indicate somehow that using the system is not possible before configuring your address. Maybe force it as first step after signing up.

[2017-02-22 18:14] #17 closed

[2017-02-22 18:14] #18 closed

[2017-02-22 20:29] tpatja commented on #10
Using multiple accounts is possible. Commiteth will use the github account the user is currently signed in to on Github. Closing issue.

[2017-02-22 20:29] #10 closed

[2017-02-22 20:31] tpatja commented on #3
Old issue, not applicable to current version. Closing.

[2017-02-22 20:31] #3 closed

[2017-02-22 20:34] tpatja commented on #14
Yeller is not an option anymore. Let's open a new issue if we decide to use something else, like Sentry, in the future.

[2017-02-22 20:34] #14 closed

[2017-02-23 09:28] tpatja opened #21 "Injected web3 not usable with advanced cljs optimizations"
All features using the web3 injected into the javascript context are currently not working in production. This happens only with `:optimizations :advanced`.

Find a way to fix this without resorting to `:optimizations :whitespace`

[2017-02-23 10:30] #21 closed

[2017-03-01 14:01] commiteth commented on #19
Current balance: 0.0000 ETH
Contract address: 0xb5f2c4a582b6f691c7c8f1728e3396b386143fdb
![QR Code](https://commiteth.com/qr/status-im/commiteth/bounty/19/fcc4e36f872e788ee597e717bec26fd55dc4764145d50ac8ac87033a279edfba/qr.png)
[https://commiteth.com](https://commiteth.com)

[2017-03-01 16:47] tpatja opened #22 "Store bounty comment image for all balances"
Currently we store one comment PNG image in the db per bounty issue. This works correctly for the issue page on Github, but email notifications (and Slack integration) will show the latest image for all comments of an issue, showing a different balance on the image and comment.

Let's change it to store an image for all balances.

[2017-03-02 09:08] tpatja opened #23 "Datetetimes on front end use wrong time-zone"
We store all timestamps in UTC time in the DB, but for some reason the datetimes delivered to the front end are off by 8 hours. Something is converting these datetimes from UTC -> SGT.

This means eg. activity feed will show `8 hours ago` for an event that just happened.

[2017-03-02 10:47] tpatja commented on #23
Solved by including `-Duser.timezone=UTC` in java command line.

[2017-03-02 10:47] #23 closed

[2017-03-02 17:42] tpatja opened #24 "Cache invalidation for app.js"
Currently users' browsers are caching the application's javascript, causing the site to sometimes appear broken until a forced refresh is performed. Let's find a way to invalidate caches when a new version is deployed. [Optimus](https://github.com/magnars/optimus) seems like a good tool for this.

[2017-03-03 14:38] #20 closed

[2017-03-03 14:38] #22 closed

[2017-03-03 14:55] commiteth commented on #19
Current balance: 0.00000000
Contract address: 0x663fe88488456f5fdb66be78ba06def9237d3a58
![QR Code](https://commiteth.com/qr/status-im/commiteth/bounty/19/efda1b5e072a6fb50c253c0365fea581e0235c9b7dbe81cab824a4042b91d7ad/qr.png)
[https://commiteth.com](https://commiteth.com)

[2017-03-06 14:38] tpatja opened #25 "Indicate testnet usage on page header and issue comment"
Add "(Testnet)" to page header and github comment.

[2017-03-06 15:49] #25 closed

[2017-03-06 15:52] tpatja opened #26 "Post comment immediately after bounty label added"
Currenty we post the QR image as a comment to the Github issue only after the contract has been mined and we know the contract address.

To provide better UX, let's initially post this image:

<img width="1399" alt="d" src="https://cloud.githubusercontent.com/assets/1180880/23618311/9b79d74e-0298-11e7-8f51-2654a39aaa3a.png">

and update it with the QR image once the contract has been mined.

[2017-03-06 18:35] #26 closed

[2017-03-08 06:53] tpatja opened #27 "Broken link on manage bounties view"
### Description

*Type*: Bug

*Summary*: Bounties view link to Github issue is missing the repo owner in the URL.

#### Expected behavior
The URL should contain `https://github.com/<owner>/<repo>/issues/<issue-number>`

#### Actual behavior
URL contains `https://github.com//<repo>/issues/<issue-number>`

[2017-03-08 07:20] tpatja opened #28 "Indicate confirming bounties not possible without connected wallet"
### User Story

As a user, I want to have a clear indication that confirming bounty payouts is not possible unless I have an Ethereum wallet connected to the app.

### Description

*Type*: Improvement

*Summary*: Currently the manage bounties view shows a greyed out "Confirm" button for bounties pending payout if the signed in used has no Ethereum wallet connected.

### Solution

Let's add a warni

[2017-03-08 18:48] tpatja opened #29 "Minimize required Github permission set"
### User Story

As a user, I only want to grant the commiteth bot permissions that make sense.

### Description

*Type*: Bug

Currently, the following permissions are requested from users when signing up.
![pasted image at 2017_03_08 18_26](https://cloud.githubusercontent.com/assets/1180880/23718512/6629674a-0440-11e7-9a1e-40bdbefe9e43.png)

There are most likely some permissions that are not actu

[2017-03-08 20:02] tpatja commented on #29
The most offensive oauth scope seems to be `repo`. Looking at the [docs](https://developer.github.com/v3/oauth/#scopes), we should not need it.

[2017-03-08 20:37] #28 closed

[2017-03-08 20:45] #27 closed

[2017-03-09 18:11] tpatja opened #31 "Spinner shown forever on manage bounties view after confirming payout"
### Description

*Type*: Bug

*Summary*: After clicking on the `Confirm` button for bounty pending payout on manage bounties view, the button is meant go into an in progress state until the transaction is approved in the connected wallet.

#### Expected behavior
Button spinner not shown after transaction approved. Bounty issue shown in "Old claims" list with greyed out "Signed off" button.

#### A

[2017-03-10 12:11] tpatja opened #32 "Contract may not get deployed in a high concurrency situation"
### Description

*Type*: Bug

*Summary*: If we receive many issue-labeled webhook events triggering bounty contract deployments within a very short time, all contracts may not get deployed successfully.

#### Expected behavior
Commiteth should be robust enough to have all the contracts deployed successfully.

#### Actual behavior
For the failed contract deployments, we get the following error resp

[2017-03-12 17:52] #32 closed

[2017-03-14 12:47] commiteth commented on #31
![Contract deploying](https://commiteth.com/img/deploying_contract.png)

[2017-03-14 15:59] jarradh opened #33 "Organisations are not listed."
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to add a repository from my organisation so that I can use commieth.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually hap

[2017-03-14 15:59] commiteth commented on #33
![Contract deploying](https://commiteth.com/img/deploying_contract.png)

[2017-03-14 16:00] jarradh opened #34 "overflow-y: scroll; causes double scrollbars"
Don't add `overflow-y: scroll;` to `<html>`

[2017-03-14 16:30] tpatja commented on #29
Unfortunately `repo` oauth scope is needed. The Github API does not allow even read access to the user's repositories without this scope and they only have read/write version of it.

[2017-03-14 16:53] tpatja opened #35 "Progressive permissioning"
### User Story

As a user, I only want to grant commiteth permissions that are needed.

### Description

*Type*: Feature

*Summary*: Require only basic permissions when signing up and ask for more permissions when needed.

### Solution

* require only `user:email` when signing up
* require additionally `admin:repo_hook`,  `repo` and `admin:org_hook` in case the user wants to use the Manage reposit

[2017-03-14 18:38] tpatja commented on #33
Fixed. UX will be improved in #35

[2017-03-14 18:38] #33 closed

[2017-03-14 18:39] #29 closed

[2017-03-14 19:07] tpatja commented on #5
Solved by @andmironov's new design

[2017-03-14 19:07] #5 closed

[2017-03-14 19:07] tpatja commented on #8
Solved by @andmironov's new design

[2017-03-14 19:07] #8 closed

[2017-03-14 19:14] tpatja opened #36 "Update comment image for signed off bounty"
### User Story

As a user, I want the comment image generated by commieth to clearly indicate that the bounty has been signed off, so no one will send ETH to the contract.

*Type*: Feature

*Summary*:  Currently, the comment image for a bounty issue is not updated after the bounty has been signed off to the winner.

### Solution

Update the comment and image indicating the bounty has been signed o

[2017-03-14 20:43] #31 closed

[2017-03-15 00:03] steveklebanoff opened #37 "Way to see outstanding bounties"
### User Story

As a user, I want to see a list of outstanding bounties so that I can know where to contribute and earn some sweet ETH.

### Description

*Type*: Feature

*Summary*: Add ability to view a list of outstanding bounties.

### Solution
I would expect that a new tab would be available labeled "Outstanding Bounties", next to "Activity".  This would list all outstanding bounty and link to

[2017-03-15 00:05] steveklebanoff opened #38 "Twitter Bounty Alerts"
### User Story

As a user, I want to get updated via twitter every time there is a new bounty available

### Solution
Every time a new bounty is posted, post to twitter account using twitter API.  Store twitter credentials in secure way. Don't check in any credentials, instead provide example config for users deploying the app to set their twitter token.  Provide instructions on how to obtain a tw

[2017-03-15 07:49] tpatja commented on #37
A tab listing open bounties is a good idea IMO.

[2017-03-15 07:51] tpatja commented on #38
We could have the commitETH twitter account tweet whenever a new bounty is opened and/or balance updated.

[2017-03-15 07:53] tpatja commented on #34
Does not seem reproducible with Chrome. A screenshot would help a lot.

[2017-03-15 07:58] jarradh commented on #34
I could not reproduce it on my machine but I physically reproduced on @Smokyish 's and found that this caused the problem

[2017-03-15 08:08] jarradh commented on #37
Agreed

[2017-03-15 08:13] #34 closed

[2017-03-15 09:15] commiteth commented on #24
![Contract deploying](https://commiteth.com/img/deploying_contract.png)

[2017-03-15 10:29] #24 closed

[2017-03-15 14:46] tpatja opened #40 "Keep github oauth tokens on the client side"
### User Story

As a user, I expect commiteth to respect my privacy and not store my github oauth token on the server.

### Description

*Type*: Enhancement

*Summary*: There should be no need to store github oauth tokens on the server.

### Solution
* after successful redirect to commiteth.com, pass token to client-side and put it in localStorage on the client, avoiding the need to store the toke

[2017-03-15 15:52] tpatja opened #41 "Show organization thumbnail and repository name for bounty-added and bounty-balance-updated activity feed items"
### User Story

As a user I am more interested in seeing the project name than the repository's admin's name on the activity feed for items related to new bounties and bounty balance updates.

### Description

*Type*: Enhancement

### Solution
Currently bounty-balance-updated (and bounty-created more or less) items look like this:
<img width="583" alt="bounty-balance-updated-item-commiteth" src="h

[2017-03-15 16:40] tpatja opened #42 "Allow setting bounties for forked repositories"
### User Story

As a user, I may want to set a bounty to a forked repository.

### Description

Currently, the admin view for repositories lists non-fork repositories where the user has admin access to webhooks. We should show also forks.

### Solution
Don't filter out forked repositories.

[2017-03-15 16:44] commiteth commented on #42
![Contract deploying](https://commiteth.com/img/deploying_contract.png)

[2017-03-15 17:09] #42 closed

[2017-03-15 21:11] Sija commented on #35
I was off put by requirement for an extended attributes (private repos), and especially giving an admin access. Perhaps some information beforehand why it's needed would help to mitigate the experience, still progressive permissioning seems like a better choice.

[2017-03-15 21:16] jarradh commented on #35
We removed it, but then none of the organisation repositories were displayed and was forced to add it back in here https://github.com/status-im/commiteth/commit/a9b6a28dec799d7c2b9b3118a2bf0877b0d2288b

Any ideas?

[2017-03-15 22:22] tpatja commented on #35
Without the `repos` oauth scope, it is not possible to access *any* repository data (organization or private). This is a flaw in Github's oauth permissioning scheme (they should have a scope for read-only repository data) and there is an open ticket about it at their end. For now, the best we can do IMO is progressive permissioning, as described in this issue.

[2017-03-16 05:51] Sija commented on #35
That's weird, [wafflo.io](https://waffle.io) manages somehow without it.

[2017-03-16 20:30] commiteth commented on #19
![Contract deploying](http://91.145.77.247:3000/img/deploying_contract.png)

[2017-03-16 20:45] #41 closed

[2017-03-17 22:07] tpatja commented on #37
Now there is a simple "Open bounties" tab. Keeping ticket open, since UX may change.

[2017-03-19 15:33] #36 closed

[2017-03-19 18:11] tpatja opened #44 "Update comment when pull request merged"
### User Story

As a user, I want to know that I should not send ETH to a bounty contract that already has a claim chosen as the winner.

### Description

*Type*: Enhancement

*Summary*: No QR image and more informative comment for bounties with a merged referencing PR.

Currently, a github issue that has a merged referencing PR (winning claim) still has the  QR image and contract address shown un

[2017-03-19 20:17] #44 closed

[2017-03-22 20:27] #35 closed

[2017-03-22 20:27] #40 closed

[2017-03-23 07:48] tpatja opened #47 "Filter for forks on Repositories view"
### User Story

As a user, I want to choose whether or not to show forked repositories in the Repositories view, because I have, like many other users, a large amount of forks, for which I am rarely interested in adding bounties.

### Description

*Type*: Feature

### Solution

Add a toggle switch with caption "Show forked repositories" to the view. Default should be off. The filtering should be d

[2017-03-23 09:49] #47 closed

[2017-03-29 17:51] tpatja opened #48 "Use ropsten revival chain"
### User Story

As a user, I expect Commit ETH to use the Ropsten revival chain.

### Description

We indicate Testnet usage on the UI, but use a different Ropsten soft fork than eg. Metamask. Let's make geth use the ropsten revival chain.

https://github.com/ethereum/ropsten/blob/master/README.md

This may have an impact on existing bounties, but that should not be a huge proble since it's just t

[2017-03-29 18:02] tpatja opened #49 "Optional deadline for bounties"
### User Story

As a user who sets bounties on issues, I would like to be able to (optionally) set a deadline for the claim.

### Description

*Type*: Feature

(This feature was suggested by `rolandk`in the #commiteth slack channel)

Add ability to set a deadline for a bounty. If no PR is accepted before the deadline passes, the funds are automatically returned to the repo admin.

Details TBD

[2017-03-29 19:51] tpatja commented on #48
Done.

[2017-03-29 19:51] #48 closed

[2017-04-02 16:46] flexsurfer opened #50 "Layout looks broken on mobile browser and on status.im"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description
Layout looks broken on mobile browser and on status.im

![image](https://cloud.githubusercontent.com/assets/11790366/24589043/aa4b3a52-17dc-11e7-96da-b3663762f5f5.png)

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Browser and version)
* Browser: Status.im

[comment]: # (OS version)
*

[2017-04-02 17:13] tpatja commented on #50
Thanks for the finding. I suppose the rendering is broken on both iOS and Android? Is it broken also in landscape mode or only portrait?

[2017-04-02 17:24] flexsurfer commented on #50
i think on both, and on desktop it's easy to reproduce just need to reduce the size of the window. But on mobile in  landscape and portrait there is unnecessary horizontal scroll and white vertical field

[2017-04-03 09:06] tpatja opened #51 "Enabling repository fails"
### Description

Adding a repository is currently failing every time due to a 404 response when creating the webhook. This is a regression that was most likely introduced when progressive permissioning was implemented.

[2017-04-03 09:21] #51 closed

[2017-04-06 15:51] Smokyish opened #52 "Ability to tweet bounties automatically."
### User Story

As a user/developer, I want to have my bounties broadcasted to Twitter so more people will know about it.

### Description

*Type*: Feature

*Summary*: When a new bounty gets added to CommitETH, a bot will broadcast that bounty to Twitter. This can be used via the CommitETH Twitter account or a fresh one made for this purpose.

Also consider:
- Tweeting made optional, user needs to

[2017-04-07 12:05] tpatja commented on #52
A couple questions:

1. Would the tweets include only "new bounty" events? If so, we cannot have a balance in the tweet, since no ETH has been added to the contract yet.

2. What would optional tweeting look like? I guess a checkbox in the manage repositories view, visible for enabled repos. If we add this, the bounty events are still shown on the public activity feed and public bounties list, so

[2017-04-07 13:40] Smokyish commented on #52
1. I think that it should be handled when the event is complete, so it has all the data, repo and issue name, balance, the QR image could be attached if you want. Ideally the first three would always be included, user/repo name, issue title and balance.
2. Well a general 'private bounties' setting is another issue, i think it might be useful for some teams where one wants to pay the team per contr

[2017-04-12 09:33] tpatja opened #54 "Crash in pull request webhook handler"
### Description

*Type*: Bug

There is a crash when receiving a webhook payload for pull_request opened event for an issue that has a bounty.

### Reproduction
- Enable a repo
- Add bounty label to an issue
- Create a PR referencing the bounty issue
-> webhook POST for pull_request opened will now cause a 500 internal server error

[2017-04-12 09:38] #54 closed

[2017-04-13 01:35] frankcash opened #55 "README.md downloads on site"
### User Story

As a user of commiteth.com I went to commiteth.com/README.md and a README downloaded.

### Description

Bug

#### Expected behavior

A 404 page would be served

#### Actual behavior

A file downloaded

### Reproduction

- Go to commiteth.com/README.md

### Solution
[comment]: # (Please summarise the solution and provide a task list on what needs to be fixed.)
*Summary*:

### Additi

[2017-04-13 08:07] tpatja commented on #55
Thanks @frankcash, good catch!
Looks like the reagent dependency is putting it's readme in the uberjar.

[2017-04-13 08:39] #55 closed

[2017-04-13 09:37] #19 closed

[2017-04-13 16:45] frankcash commented on #55
Glad I could help :)

On Thu, Apr 13, 2017, 4:39 AM Teemu Patja <notifications@github.com> wrote:

[2017-04-26 23:17] ligi opened #56 "Permissions"
These permissions are quite intrusive:

![selection_081](https://cloud.githubusercontent.com/assets/111600/25461045/0bec29e8-2ae7-11e7-908d-d1e646603d0b.png)

And I think most of them are not needed right? As far as I understand only issue read/write is used ..

[2017-04-27 07:15] Smokyish commented on #56
Hi @ligi, have you read the April development update post yet, these permissions are quite clearly explained there: https://blog.status.im/commiteth-development-update-april-2017-b689281d2d2f

[2017-04-27 08:47] ligi commented on #56
I was reading the post 2 times now - and I see that there is permissions mentioned and you reduced them already(thanks for this) - but still I am not sure why you need so many..

[2017-04-27 20:36] jarradh commented on #56
Hey @ligi we'd certainly appreciate any advice to reduce them, we encountered some issues with github when we tried to.

[2017-04-27 20:39] ligi commented on #56
Github integrations are a great way to have very fine grained permissions:

https://developer.github.com/changes/2016-09-14-Integrations-Early-Access/

[2017-04-27 20:40] jarradh commented on #56
[code]

Yeah, great.

[2017-05-24 20:47] duncancarroll opened #57 "All tabs show "no data" in both logged-in & logged-out states"
[comment]: # (Please replace ... with your information. Remove < and >)

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

#### Expected behavior
[comment]: # Expect to see a feed of Activity, repos, etc.

#### Actual behavior
[comment]: # No feeds are shown.  The site appears broken.

### Reproduction
[comment]: # Visit https://commiteth.com/

### Additional Information

[2017-05-25 08:01] tpatja-broadsoft commented on #57
Thanks for the report. We moved commiteth.com to the mainnet a couple of days ago and use a new database, because it does not make sense to show existing bounties that use the testnet. Once people start using CommitETH with real ether, the activity feed, top hunters and open bounties views will again show data.

[2017-05-29 12:51] onbjerg commented on #57
@tpatja-broadsoft Since this is true, the issue should be closed, right?

[2017-05-29 15:04] tpatja commented on #57
True, closing.

[2017-05-29 15:04] #57 closed

[2017-05-31 06:22] tpatja opened #58 "Bounty contract does not get deployed if bot account runs out of gas"
### Description

*Type*: Bug

If the bot account runs out of gas and a bounty label is added to an issue of an enabled repository, we try to deploy the contract and save the transaction ID in DB, but nothing gets written to the blockchain. This leads to the scheduler waiting indefinetely for the contract to get mined, even after some more ETH has been added to the bot account.

### Solution

Perio

[2017-05-31 06:34] #58 closed

[2017-05-31 13:01] tpatja opened #59 "Configurable gas price"
### Description

*Type*: Feature

Add a config option to config.edn for gas price. If not set, use geth's default, otherwise value from config.

[2017-06-02 11:14] #59 closed

[2017-06-06 10:50] tpatja opened #61 "Confirming payout is broken with new multisig"
### Description

After the bot account automatically confirms a bounty payout and the repo admin confirms on the commieth.com web ui, the funds remain in the contract and do not get transferred to the recipient.

This is suspected to be caused by incompatible code in the clojurescript side [handler](https://github.com/status-im/commiteth/blob/master/src/cljs/commiteth/handlers.cljs#L344).

[2017-06-06 10:53] tpatja opened #62 "Contract deployments sometimes run out of gas"
### Description

With the new multisig, contract deployments are sometimes failing due to gas running out. It seems `estimate-gas` is not reliably returning large enough values.

Some examples:
https://etherscan.io/tx/0x1539a0f05352e43e8fb67d7a713c7f87891b5b36ba6d396309357ea96e82e660
https://etherscan.io/tx/0xc2e041c08662a1a5b3739a2d659208dcc58b8e145717779b524c07442438fdd4

[2017-06-06 17:45] 3esmit commented on #61
Caused by
[code]
https://github.com/status-im/commiteth/blob/master/src/clj/commiteth/eth/multisig_wallet.clj#L30

Change needed is to extract from :data the confirmhash, that in topic 0x1733cbb53659d713b79580f79f3f9ff215f78a7c7aa45890f3b89fc5cddfbf32 is first 32 bytes

[2017-06-06 18:46] 3esmit opened #63 "Commiteth allows repoowner to confirm "nothing" while execute is pending transaction."
Commiteth read eventlogs from mined transaction and saves to database the confirmHash.

Should be changed to call of execute before sending transaction, so we can predict result to save in database instead of using events.
Events are not necessary as confirmHash is a constant derived of transaction data.

Other way of solving it is not allowing confirm while in database confirmHash is empty.

[2017-06-06 20:34] 3esmit commented on #62
if geth is having issues estimating gas than we need to fix a gas amount.
We know the gas needed so we can fix limit securely.

[2017-06-07 08:04] #62 closed

[2017-06-08 08:25] #61 closed

[2017-06-09 19:30] benmorrow opened #66 "UX: Seems like stuck on "Deploying contract...""
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to understand the current status of CommitETH for peace of mind.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens

[2017-06-09 19:53] tpatja commented on #66
There was only one bounty in the system with a "stuck" contract deployment from several days ago. It was created before we took the new contract to use and while the bot account balance had run out. Contract deployments no longer get stuck, they just take longer (3-30 minutes instead of <2 minutes).

The text should be changed to "Deploying contract.. usually takes 3-30 minutes". Saying the system

[2017-06-09 19:53] #66 closed

[2017-06-09 19:56] tpatja opened #67 "Bounty issue title does not get updated when changed on Github"
### User Story

As a user I want CommitETH to show an up-to-date title for my bounty issues.

### Description

*Type*: Bug

*Summary*: CommitETH uses the title for a bounty issue from when the bounty label is added and it does not get updated if changed on Github afterwards.

### Reproduction

- Create a bounty issue
- Change title on github
-> CommitETH still shows old title

[2017-06-13 07:43] #67 closed

[2017-06-13 07:53] tpatja opened #68 "Show Github username in activity feed if full name is empty"
### Description

Activity feed should show Github username in case the user's full name is empty.

[2017-06-13 08:52] #68 closed

[2017-06-13 16:01] tpatja-broadsoft opened #69 "Do not allow payout confirmation by repo admin before bot's confirmation transaction has been mined"
### Description

*Type*: Bug

*Summary*: If a bounty payout is confirmed quickly, before CommitETH bot's payout confirmation transaction has been mined, the confirm hash will be empty and this will not work.

### Solution
Filter out/disable owner's bounties with NULL `confirm-hash` on the manage payouts UI.

[2017-06-13 16:04] #69 closed

[2017-06-13 16:04] tpatja opened #70 "Do not allow payout confirmation by repo admin before bot's confirmation transaction has been mined"
### Description

*Type*: Bug

*Summary*: If a bounty payout is confirmed quickly, before CommitETH bot's payout confirmation transaction has been mined, the confirm hash will be empty and this will not work.

### Solution
Filter out/disable owner's bounties with NULL `confirm-hash` on the manage payouts UI.

[2017-06-16 07:15] #70 closed

[2017-06-29 08:14] 3esmit opened #73 "Commiteth.com still display closed issues"
Many issues are closed in GitHub and commiteth still show them as open.

[2017-06-29 08:21] tpatja commented on #73
This is because cancelling/closing logic has not been implemented. Currently the only way to close a bounty is via a merged PR.

An easy way to fix this would be just to not show bounties for closed github issues. But a more proper way would be to return the bounty's possible funds when an issue is closed manually without merging a PR.

[2017-06-29 08:35] 3esmit commented on #73
This is one more case for using other contract or enhancing wallet to accept refund from deposits.

[2017-06-30 17:10] 3esmit opened #74 "https://www.commiteth.com/ gives SSL error."

[2017-06-30 20:17] tpatja commented on #74
https://www.ssllabs.com/ssltest/analyze.html?d=commiteth.com&latest

^no issues with ssl certificate. It will expire July 5th, but there is automation in place that will update it before.

[2017-06-30 20:19] tpatja commented on #74
When using `https://www.commiteth.com` instead of `https://commiteth.com` there is a hostname mismatch. This can be fixed by redirecting the www to commiteth.com.

[2017-07-01 01:00] 3esmit commented on #74
![image](https://user-images.githubusercontent.com/224810/27757943-8a1c1c76-5ddf-11e7-8138-36963ff72717.png)

[2017-07-25 18:01] 3esmit commented on #7
I've looked into this contracts and seems like overcomplicated and I didn't fit well the usecase. Can we consider closing this as we are going to use other solutions?

[2017-07-25 18:01] 3esmit commented on #63
Fixed.

[2017-07-25 18:01] #63 closed

[2017-08-01 08:58] tpatja opened #80 "Build system support for solidity"
### Description

We currently have the bounty contract as a compiled binary file in Git. Let's have the solidity code in Git instead and make the Leiningen build compile it.

[2017-08-17 12:06] 3esmit commented on #80
We should use truffle migrate to build the files and read what are the address from the truffle migration.

[2017-08-20 10:29] tpatja opened #85 "Automatically return added funds if bounty's Github is closed"
### Description

*Type*: Feature

When bountied Github issue is manually closed (without merging a PR), we should return the funds transferred to the bounty contract to the senders and consider the bounty closed.

[2017-08-20 10:30] tpatja commented on #73
Returning funds and supporting manual issue close is now tracked in #73

[2017-08-20 10:31] #73 closed

[2017-08-20 10:33] tpatja commented on #37
Feature implemented, closing

[2017-08-20 10:33] #37 closed

[2017-08-20 10:35] tpatja commented on #7
Contracts for ERC20 support are written by @3esmit and live under `contracts/*.sol`

[2017-08-20 10:35] #7 closed

[2017-08-20 10:40] tpatja opened #86 "Bounty contracts with ERC20 support"
### Description

This issue is for tracking progress of our bounty contracts supporting ERC20 tokens.

Current status: deployment via `commiteth.eth.multisig-wallet/deploy-multisig` works, but using the created contract via web3js or web3j only works partially. Currently, calling delegated methods does not work at all.

[2017-08-20 11:22] tpatja commented on #80
Done. Uses solc and web3j from `$PATH`. Deploying of long lived contracts still needs to be done manually. If we decide to auto-deploy those to the blockchain as part of the build, let's create another ticket for that.

[2017-08-20 11:22] #80 closed

[2017-08-25 19:57] tpatja opened #91 "Make bounty address a link to etherscan.io in github comment"
Currently the github comment has this:
Contract address: 0xBCFFB83e843Eb9493Ad2E6dc6128E8b9bB3B0eEC

We could make it a link to etherscan.io (rinkeby.etherscan.io if on testnet) like this:
Contract address: [0xBCFFB83e843Eb9493Ad2E6dc6128E8b9bB3B0eEC](https://rinkeby.etherscan.io/address/0xBCFFB83e843Eb9493Ad2E6dc6128E8b9bB3B0eEC)

[2017-08-30 07:50] tpatja opened #92 "Blank screen if no wallet connected"
After the latest changes, the main page is now not rendering at all if `window/web3` is undefined.

[2017-08-31 07:04] tpatja commented on #92
Fixed in `develop`, not an issue in `master`

[2017-08-31 07:04] #92 closed

[2017-09-01 09:43] tpatja opened #94 "Improve payout error case handling"
1) Due to an issue in our smart contract, the `multisig.confirmTransaction` ABI call sent from the CommitETH Manage Payouts UI does not execute the related transaction, but it does set the transaction confirmed for repo owner. Because of this we should look for payout transactions that have been mined and still have funds and call `multisig.executeTransaction` for them. We should only consider min

[2017-09-06 07:54] tpatja opened #95 "Do not show bounties for closed Github issues"
If a Github issue with a bounty is manually closed, it should not be shown in the "open bounties" listing or in activity feed. To enable this, we need to keep track of the issue state in the DB via [issue webhook events](https://developer.github.com/v3/activity/events/types/#issuesevent).

[2017-09-13 07:54] tpatja opened #96 "Certbot auto-renewal cron job should restart nginx"
The cron job for updating commiteth.com SSL certificate correctly updates the certificate if it is close to expiring, but it also needs to restart nginx so the new cert will be taken to use immediately.

[2017-09-13 07:59] tpatja commented on #96
Fixed. Job runs on the 1st and 15th days of each month.

[2017-09-13 07:59] #96 closed

[2017-09-19 15:13] tpatja opened #97 "Move testnet version to Ropsten"
Currently, our test deployment (where `develop` branch is automatically deployed to) uses Rinkeby as the testnet. We should change it to use latest Ropsten fork (Byzantium). This is important because we want Status-react to be on the same testnet.

[2017-09-20 18:48] 3esmit commented on #97
https://ropsten.etherscan.io/address/0x3b9a3c062bdb640b5039c0ccda4157737d732f95#code <- New Factory Address - deployed in rinkeby and ropsten,

This address should be updated from old ~0x47F56FD26EEeCda4FdF5DB5843De1fe75D2A64A6~  to new *0x3B9A3c062Bdb640b5039C0cCda4157737d732F95* in multisig_wallet.clj#32 ( https://github.com/status-im/commiteth/blob/develop/src/clj/commiteth/eth/multisig_wallet.

[2017-09-20 18:56] 3esmit commented on #97
Ropsten Contracts:
- STT (Status Test Token): https://ropsten.etherscan.io/token/0xc55cf4b03948d7ebc8b9e8bad92643703811d162#balances
Exact same sourcecode of Mainnet SNT (MiniMeToken)
- SNTPlaceHolder: https://ropsten.etherscan.io/address/0x34358C45FbA99ef9b78cB501584E8cBFa6f85Cef
Modified contract to be STT faucet. Send 0 ether (fallback function) to generate 1000 test STT.
- TokenReg: https://ro

[2017-09-20 19:29] tpatja commented on #97
The address is taken from the config. 0x47F56FD26EEeCda4FdF5DB5843De1fe75D2A64A6 is just a fallback value in case no value exists in config or environment.

Please deploy the token registry contract to Ropsten and populate it with data of these test ERC20 token contracts.

[2017-09-20 19:33] 3esmit commented on #97
TokenReg: https://ropsten.etherscan.io/address/0x7d127a3e3b5e72cd8f15e7dee650abe4fcced2b9#readContract

Contains 2 tokens registered:

STT (Status Test Token): https://ropsten.etherscan.io/token/0xc55cf4b03948d7ebc8b9e8bad92643703811d162#balances

Test Token 1: https://ropsten.etherscan.io/token/0x0fa211adf6f6d506cde88abf6832d226f7db73ad
Registered as GNT, can be minted by sending 0 ether to the t

[2017-09-22 15:38] tpatja commented on #97
The move resulted in bounty contract deployments breaking due to geth 1.7.0 giving too small gas estimates. This has now been fixed (fixed gas-limit for contract deployment + possibility define a global adjustment factor gas estimates) and the test environment at https://commiteth.com:444 is running on Ropsten.

[2017-09-22 15:38] #97 closed

[2017-10-07 13:20] AnthonyAkentiev opened #98 "https://commiteth.com does not work(("
### User Story

As a user, I want to be able to work with https://commiteth.com site so that it will add bounty comments for open issues.

#### Expected behavior
The bounty contract should be deployed to the 'issue'

#### Actual behavior
The 'bounty' contract is never deployed

### Reproduction
1) go to https://commiteth.com
2) log in
3) go to 'Repositories'
4) Click on 'Add' button. Enable access

[2017-10-09 05:36] tpatja commented on #98
This was caused by our low gas price of 1 gwei. To save costs we lowered it to 1 gwei from 4 gwei last June and deployments slowed down but still worked. Now 1 gwei deployment transactions no longer seem to get mined.

Gas price is now set to 6 gwei and bounty contract deployments should work again.

[2017-10-09 05:36] #98 closed

[2017-10-09 05:39] tpatja opened #99 "Show transaction-id in "deploying" comment"
We should include the txid of the bounty contract deployment in the "deploying" comment posted to a github issue. The txid should be a link to `https://etherscan.io/tx/<tx-id>` (ropsten.etherscan.io for dev branch).

[2017-10-09 14:12] #99 closed

[2017-10-10 13:14] AnthonyAkentiev commented on #98
@tpatja Thx!

[2017-10-10 13:22] AnthonyAkentiev opened #100 "Can't build on Mac OS"
Running on a fresh installed **lein** like that:

[code]

Finding SHA for /Users/XXX/CommitEth
Exception in thread "main" java.lang.ExceptionInInitializerError
	at clojure.main.<clinit>(main.java:20)
Caused by: java.lang.UnsupportedClassVersionError: com/zaxxer/hikari/HikariConfig : Unsupported major.minor version 52.0, compiling:(hikari_cp/core.clj:1:1)
	at clojure.lang.Compiler.load(Compiler.jav

[2017-10-18 10:38] ligi commented on #56
Github apps are now publicly available and I was writing a MVP for this use-case based on it - read about it here: http://walleth.org/2017/10/18/issuETH-ethereum-issue-bounties/

[2017-10-18 15:08] jarradh commented on #56
Awesome thanks @ligi, we'll integrate it directly now that it's available. I'm curious if there was something preventing you from contributing directly to Commiteth?

[2017-10-18 15:28] ligi commented on #56
Great! 2 things where hindering me:
 - this would change a lot - would not be a simple PR - after applying the change there would not have been much left of commiteth - using github apps is kind of a paradigm shift for the app
 - I don't like to write clojure which commiteth uses
 - Speed of movement: was just faster to do it this way ..

[2017-10-31 08:30] asemiankevich opened #109 "Commiteth web: Fix header alignment"
### Description

*Type*: Bug

*Summary*: On test https://openbounty.status.im:444/ and https://openbounty.status.im/ align header as stated on  mockup . Please check Zeplin screen https://app.zeplin.io/project/59dd4d45719799b4220a2e49/screen/59dd4d9c8f31b2b46b24f233

#### Actual behavior

### PROD
![image](https://user-images.githubusercontent.com/28752642/32214006-8b5e5428-be2e-11e7-84ee-b551cf1d

[2017-10-31 08:36] asemiankevich opened #110 "Commiteth web: Add Github logo to landing page"
### Description

*Type*: Bug

*Summary*: On test https://openbounty.status.im:444/ and https://openbounty.status.im/ Github logo is missing on landing page, please add it. Check https://app.zeplin.io/project/59dd4d45719799b4220a2e49/screen/59dd4d9c8f31b2b46b24f233 screen

https://status-im.slack.com/files/U61UDMS5D/F7SF9L878/github_logo.svg

### Expected behavior

![image](https://user-images.gith

[2017-10-31 09:23] asemiankevich opened #111 "Commiteth web: Fix Your Accont drop-down so it is not misplaced"
### Description

*Type*: Bug

*Summary*: On https://openbounty.status.im:444/app page after I log in I want to call `My account` either to logout or to add payment details. Now the drop-down is misplaced.

#### Expected behavior
Please check Zeplin screen https://app.zeplin.io/project/59dd4d45719799b4220a2e49/screen/59dd4dae68893c5c8d1d64b0

![image](https://user-images.githubusercontent.com/28752

[2017-10-31 09:49] asemiankevich opened #112 "Commiteth web: Fix error message UI"
### Description

*Type*: Bug

*Summary*: The error message is too ugly with the white corners. As well it is too long, we can make it nicely-looking pop-up , no need to have it stretched from edge to edge

#### Expected behavior
Even I dont have appropriate Zeplin mock we need to redesign this error message and make it user-friendly

#### Actual behavior

![image](https://user-images.githubusercon

[2017-10-31 09:58] asemiankevich opened #113 "Commiteth web: fix spinner UI when loading the repositories"
### Description

*Type*: Bug

*Summary*: When I click on repositories tab I can see ugly loading spinner shown for a short time (https://openbounty.status.im:444/app)

#### Expected behavior
No mock for this but we need to make it look better. As well as push the footer down so it is not overlapping content

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/32218046-

[2017-10-31 10:24] asemiankevich opened #114 "Commiteth web: Add conformation when disconnecting repository"
### Description

*Type*: Bug

*Summary*: No confirmation pop up shown when disconnecting repository

#### Expected behavior
Please check Zeplin screen https://app.zeplin.io/project/59dd4d45719799b4220a2e49/screen/59df6c8ecd09f0557dc827fb

![image](https://user-images.githubusercontent.com/28752642/32219225-87bfca94-be3e-11e7-8dd7-e29eb45cd80c.png)

#### Actual behavior
I can remove repository whit

[2017-10-31 10:42] asemiankevich opened #116 "Commiteth web: Fix repository name alignment"
### Description

*Type*: Bug

*Summary*: Repository card looks ugly with the text being out of the card when it has long name

#### Expected behavior
Text should be placed inside the card

Zeplin screen https://app.zeplin.io/project/59dd4d45719799b4220a2e49/screen/59dd4db05199961b5e6d1334

![image](https://user-images.githubusercontent.com/28752642/32220009-329763b2-be41-11e7-8ae6-7f1dbe95729f.png

[2017-10-31 10:55] #116 closed

[2017-10-31 11:53] tpatja commented on #110
Fixed in `develop`

[2017-10-31 11:53] #110 closed

[2017-10-31 11:54] tpatja commented on #95
Fixed

[2017-10-31 11:54] #95 closed

[2017-10-31 13:39] tpatja commented on #91
Fixed

[2017-10-31 13:39] #91 closed

[2017-10-31 13:39] tpatja commented on #86
Done

[2017-10-31 13:39] #86 closed

[2017-10-31 13:40] tpatja commented on #50
Old issue, not relevant to current UX

[2017-10-31 13:40] #50 closed

[2017-10-31 13:42] tpatja commented on #94
Fault tolerance implemented, no known issues

[2017-10-31 13:42] #94 closed

[2017-10-31 13:42] tpatja commented on #74
No known issues with SSL cert

[2017-10-31 13:42] #74 closed

[2017-10-31 14:38] asemiankevich opened #119 "Commiteth web: Enter your email placeholder is too dark"
### Description

*Type*: Bug

*Summary*: Placeholder is difficult to recognize

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/32229566-2e6695bc-be62-11e7-9aaf-68d13aa1b65c.png)

### Additional Information

* Browser: Chrome

[2017-10-31 16:45] #119 closed

[2017-11-01 08:09] #113 closed

[2017-11-01 08:12] asemiankevich opened #129 "Commiteth mobile: Make footer responsive"
### Description

*Type*: Bug

*Summary*:  https://openbounty.status.im:444/app webpage is not responsive, especially footer looks not very nice

#### Expected behavior
Page is responsive, footer is accessible on mobile

#### Actual behavior

![image](https://user-images.githubusercontent.com/28752642/32265638-e72ed374-bef4-11e7-9945-b00dea06e799.png)

![image](https://user-images.githubusercontent

[2017-11-01 08:20] asemiankevich opened #130 "Commiteth mobile: Your Account drop down is almost invisible on mobile"
### Description

*Type*: Bug

*Summary*: This is another part of making https://openbounty.status.im:444/app responsive. We need to have the drop-down placed correctly and visible to the user on mobile devices

#### Expected behavior
Your accont drop down is accessible on mobiles so user can log out or add payment details.

#### Actual behavior

![image](https://user-images.githubusercontent.com/2

[2017-11-01 08:20] annadanchenko opened #131 "Re-opened issue with bounty is not listed in Bounties feed"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:
Open issue with bounty and generated contract is shown in Bounties. After the issue was closed and then re-opened it's no longer shown in Bounti

[2017-11-01 08:55] #129 closed

[2017-11-01 09:41] #131 closed

[2017-11-01 10:37] annadanchenko opened #132 "Only one bounty is detected if multiple fixes are mentioned in the PR comment"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

One PR can potentially fix several issues. So developer can write comment "Fixes #XX and Fixes #YY" where XX and YY are issue numbers. Currently, only XX will be detected as bounty. Would be good to detect all issues in the comment and pay multiple bounties.

#### Expected behavior
[comment]: # (Describe what

[2017-11-01 14:23] asemiankevich opened #133 "Commiteth mobile: Redesign 'Sign up for beta' button on iOS so it will match website design"
### Description

*Type*: Bug

*Summary*: Please make `Sign up for beta` button on iOS the same as designed for website so user is not confused.

#### Expected behavior
![image](https://user-images.githubusercontent.com/28752642/32279232-296baf26-bf29-11e7-966b-1dc6e848b69d.png)

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/32279262-4854d066-bf29-11e7-886f-408490

[2017-11-01 17:07] asemiankevich opened #136 "Commiteth Welcome page: Features link does not lead anywhere"
### Description

*Type*: Bug

*Summary*: Features link seems to be not clickable, not sure which url should be pointed to it - in case we don't have correct one - can we hide the link?

#### Actual behavior
[comment]: # (Describe what actually happened.)
![image](https://user-images.githubusercontent.com/28752642/32286942-347c44a4-bf40-11e7-974d-397e843d0f89.png)

### Additional Information

* Bro

[2017-11-01 17:10] asemiankevich opened #137 "Commiteth Welcome page: Github link leads to 404"
### Description

*Type*: Bug

*Summary*: Fix Github link so I dont receive 404 when clicking it on the Welcome page

#### Actual behavior
![image](https://user-images.githubusercontent.com/28752642/32287053-9aa9aeba-bf40-11e7-8653-c040faffeba4.png)

### Additional Information

* Browser: Chrome

[2017-11-01 17:34] asemiankevich opened #138 "Commiteth web: can't subsscribe to emails once unsubsribed"
### Description

*Type*: Bug

*Summary*: This a 3-d party issue. Currently the following case is not being handled properly by hubspot:

1. Sign up for beta on https://openbounty.status.im/
2. Receive both emails
3. Click unsubscribe -> Confirm
4. Sign up again on https://openbounty.status.im/

History could be checked there https://app.hubspot.com/workflows/3954379/flow/2304968/history

#### Expe

[2017-11-01 18:53] tpatja commented on #137
Fixed in `develop`

[2017-11-01 18:53] #137 closed

[2017-11-02 18:58] annadanchenko opened #144 "PR is not recognised as a bounty claim if PR comment was edited to add missing "Fixes #NN" comment"
[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If PR was submitted without expected keyword "Fixes #NN" in the comment then it's not considered as a bounty claim and not listed in Activity feed (expected). Ho

[2017-11-02 19:28] #144 closed

[2017-11-03 16:10] #130 closed

[2017-11-03 19:32] flexsurfer opened #146 "Filtering bounties"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to be able to filter open bounties by a programming language, date, repo etc.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2017-11-04 16:27] annadanchenko opened #148 "[test env] Received amount and ETH/SNT amounts are shown as zero on Activity feed (for bounties > 0)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*:  On test site: after claim is confirmed, Activity feed shows zeros for received amount, ETH and SNT values. Bounty was more than 0. E.g. 200 SNT

[2017-11-04 16:58] #148 closed

[2017-11-04 17:08] tpatja commented on #111
Fixed in master and develop

[2017-11-04 17:08] #111 closed

[2017-11-04 17:09] tpatja commented on #112
Fixed in develop and master

[2017-11-04 17:09] #112 closed

[2017-11-06 04:50] pablanopete opened #149 "Issue not removed from Bounty List after manually closing issue"
### User Story

As a User I want to remove my bountied issue from the active bounties once I manually close my issue

### Description

*Type*: Bug

#### Removed my Issue from the bounties list after adding bounty tag, did not remove from activity

#### Expected behavior
Add issue and close manually, should remove from active bounties after closing.

#### Actual behavior
After closing issue, issue

[2017-11-06 19:19] churik opened #150 "Small balance (0.0002 ETH) is shown in exponential format (2.0E-4 ETH) on GH issue comment"
### Description

*Type*: Bug

*Summary*:  on GH issue comment current balance is shown in exponential format instead of decimal, if it has small value(0.0002 ETH is shown as 2.0E-4 ETH)

#### Expected behavior
sum 0.0002 ETH

#### Actual behavior
2.0E-4 ETH

![something is going wrong here c2 b7 issue 231 c2 b7 chu127001 2fbounty_1 2017-11-06 19-01-42](https://user-images.githubusercontent.com/455

[2017-11-06 19:57] churik opened #151 ""Balance" and "Tokens" values on GH issue comment don't match values in "Activity" tab when the bounty is paid"
### Description

*Type*: Bug

*Summary*:
after payment bounty balance with 0.0002 ETH and 10 STN shows 0.0000 ETH and 10 SNT. It’s not consistent. Would expect or 0 for both ETH and SNT or initial values shown for both.

#### Expected behavior
1. 0.00 ETH and 0 tokens
or
2. match initial bounty value (in my case 0.0002 ETH, 10 SNT)  like in "Activity"
![status open bounty 2017-11-06 21-51-39](http

[2017-11-07 09:24] annadanchenko commented on #149
@pablanopete seems like can't reproduce on test site. Can you close the issue if it works, please?

[2017-11-07 09:31] annadanchenko opened #152 "Activity feed should show claims with 'pending maintainer confirmation' status"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: Activity feed does not show claims with 'pending maintainer confirmation' status. So PR is merged, claim is waiting for confirmation, however it

[2017-11-07 11:25] tpatja commented on #152
A basic UI mockup showing the contents would be helpful. Data we have: eth balance, token balances, winner, repo.

[2017-11-07 11:42] tpatja opened #153 "Incorrect timestamp for bounty payout activity feed item"
Bounty payout events in the activity feed are showing updated timestamp for the PR, not for the issue. This means it shows the time the PR was merged, not when payout was confirmed.

[2017-11-07 14:37] annadanchenko commented on #151
version 3e7df13
Issue had both ETH and SNT. After bounty payout for issue  https://github.com/Org1Watson/RepoW2/issues/6 GH comment shows `0.0002 ETH` and `0.00 SNT`

[code]

Expected: both ETH and SNT show amounts they had before payout to the winner. E.g. 0.0002 ETH and 20.00 SNT.

Note that activity feed shows correct amounts for both SNT and ETH
<img width="942" alt="screen shot 2017-11-07 at

[2017-11-07 14:42] annadanchenko opened #154 "Show number of open PRs for each issue in Bounties feed"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to know how many PRs are already opened for an issue so that  I can decide if it makes sense to contribute one more. For example, if there are already 5 open PRs it might be a waste of time to submit 6th.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment

[2017-11-07 14:47] annadanchenko opened #155 "Add Help page to SOB with description how to setup/use open bounty for developer/organization"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to find Help section on the website to know how the features are used. Currently, we have separate youtube video, wiki page, test doc in the repository but all of them are not included as a part of the website (that seems like first place person will start looking)

### Description

[comment]

[2017-11-07 14:55] tpatja commented on #154
Good idea. Mockup would be helpful.

[2017-11-07 16:06] #151 closed

[2017-11-07 16:28] #150 closed

[2017-11-08 10:04] #153 closed

[2017-11-08 10:25] #152 closed

[2017-11-08 11:24] tpatja commented on #154
Done. Feedback on styling needed, here is a screenshot of what it looks like now:

![open_claims_label](https://user-images.githubusercontent.com/1180880/32546514-10d71cf2-c488-11e7-8cdd-64174008daf4.png)

[2017-11-08 14:19] tpatja opened #156 "Paging for "open bounties" and activity views"
Currently, if there is a lot of data in the system, the views get very long vertically.

Implement client-side paging to UI on "open bounties" and activity views.

[2017-11-08 14:20] tpatja commented on #156
UI mockups needed.

[2017-11-09 13:45] tpatja opened #158 "GH comment should indicate payout is pending user to save ETH address"
When a bounty is won by a user who has no ETH address saved in the system, the bot can not confirm the payout. For this reason, we should update the GH comment to indicate that the bounty is won, but pending user to save his ETH address.

[2017-11-09 14:14] #158 closed

[2017-11-09 16:27] oskarth opened #159 "Simplify our add repo view with GH app add repo event"
### User Story

As an org user, I want to add repos in one place (GH app) without having to do the same thing in a custom UI (ours).

### Description

*Type*: Feature

*Summary*:
(1) Listen to GH app repo events  (webhook-app route) and add to DB if user is whitelisted
(2) Replace repo view with a list of all installed repositories, or alternatively tab remove it all together.
(3) Additionally, re

[2017-11-09 16:47] tpatja commented on #159
Good idea. One thing "enable repo" currently does though is create the bounty tag. We'll need some other place for doing that (could be done when receiving first webhook payload for a repo?)

[2017-11-09 16:52] oskarth commented on #159
Good point re create bounty tag, I believe this can be done on first webhook payload but we need to check, also see exactly what permissions are needed for this.

[2017-11-09 17:32] 3esmit opened #160 "Multiple users signoff"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user I want that multiple users can signoff bounty, on different types of permission.

### Description

We can have a Permission Contract or an Identity contract for each repository, and then we can setup that SOB can add more users or remove at will or by approval.

https://github.com/ethereum/EIPs/issue

[2017-11-09 17:33] 3esmit opened #161 "Multiple beneficaries"
### User Story
As a  user I want to be able to get partial bounties in case multiple users contributed in PR

[2017-11-10 06:57] noman-land opened #164 "Multiple users listed as being paid when only one was"
### User Story

As a bounty payer, I want my payouts screen, and the public Activity feed to accurately reflect the people I've paid so that I can get an actual sense of my finances and the world knows the truth about who got paid for what.

### Description

*Type*: Bug

*Summary*: When multiple PRs for the same issue are merged, and one of the claimants is paid out, SOB UI wrongly lists activity

[2017-11-10 08:04] tpatja opened #168 "Make SPA views navigable via URL"
Currently, switching view in the single page application does not change the URL. We should make it work so that URL is appended with eg `#/bounties` when view is changed. This will allow for linking to specific views from outside the SPA, eg. the landing the page.

[2017-11-10 09:08] #168 closed

[2017-11-13 17:35] tpatja opened #169 "Macchiato based simple HTTP API for Ethereum related functionality"
We currently use [web3j](https://github.com/web3j/web3j) to generate java bindings and use those from Clojure to interact with our smart contracts. This complicates the build process and switching solc and web3j versions has broken things.

It would ease things to have access to the Ethereum related libraries in the Javascript world, as well as [web3-cljs](https://github.com/district0x/cljs-web3),

[2017-11-14 17:39] status-open-bounty commented on #169
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd2fbf5af0b414ae29e8dc04738eeeb23f3d7f0e896d57d3f8d0db6e2e0b2da5e](https://etherscan.io/tx/0xd2fbf5af0b414ae29e8dc04738eeeb23f3d7f0e896d57d3f8d0db6e2e0b2da5e)

[2017-11-15 14:07] oskarth commented on #169
@tpatja Could we specify what:

- `GET /token-registry-data` is expected to return / get info from? Minimal hello world style.
- `POST /confirm-payout {"winner-address": 0x...})` same here

[2017-11-15 15:20] tpatja commented on #169
@oskarth spec updated. However, these are just examples of what the two implemented endpoints could be. The most valuable thing we get from this task is proving whether this architecture works. The actual endpoint implementations do not need to be complete, the just need to show that web3-cljs can be used on a macchiato server.

[2017-11-16 15:28] trybeee commented on #169
I've build example macchiato app using cljs-web3 lib having 2 endpoints:
get accounts and get eth balance . You can check it out here: https://github.com/trybeee/macchiato-web3-example

[2017-11-16 15:47] trybeee commented on #169
@tpatja not sure about making pull request as it rewrites current clojure app almost completely.

[2017-11-16 15:48] andytudhope commented on #169
This is awesome @trybeee, thank you! tpatja is testing now and am sure he will comment soon. Thank you for engaging. Would you be keen to help out further? You can also always join our riot chat at chat.status.im.

[2017-11-16 15:50] tpatja commented on #169
@trybeee Thank you so much for your contribution! I was just testing it and your code nicely proves that macchiato & cljs-web3 will work for us.

Perhaps you could create a PR against `develop` and just put this macchiato project in it's own directory under the root. We can figure out later how to properly integrate it.

[2017-11-16 15:51] trybeee commented on #169
@andytudhope thanks for the invite, i'm already there.

[2017-11-16 15:53] andytudhope commented on #169
Ah, so you're pretty much in the team already, welcome! 😉

[2017-11-16 16:25] tpatja opened #171 "Use coinmarketcap.com API instead of cryptonator"
We are currently using Cryptonator's API for getting USD values for tokens and ETH. The values returned (at least for SNT) have not been very accurate, so we should switch to coinmarketcap's API.

Price data in JSON is available at `https://api.coinmarketcap.com/v1/ticker/<symbol>/`, where `<symbol>` is a name, like `status`. This means we'll need to have a mapping from TLA (eg. `SNT`) to symbol s

[2017-11-16 18:35] #169 closed

[2017-11-17 07:50] tpatja commented on #171
Cryptocompare API is also on option (status-react uses it).

[2017-11-17 15:15] churik opened #172 "Claim with "[comment]: " in PR is not shown on bounty issue"
### Description

*Type*: Bug

*Summary*:
if PR contains "[comment]: " in comment - there is no new claim on bounty
Example: https://github.com/Chu127001/bounty_1/issues/5
It is referenced with 8 PR, but in SOB only 5 are displayed.
![sob](https://user-images.githubusercontent.com/4557972/32953476-fca1920c-cbb8-11e7-948e-d6f1ee8d670e.png)

#### Expected behavior
Claim with "[comment]: fixes #issue"

[2017-11-22 09:48] oskarth opened #173 "Ensure all DB tables have a created_at and modified_at column"
### User Story

As a developer, I want `created_at` and `modified_at` present in each DB table so that I can easily see what happened when and do more fine grained analytics.

### Description

*Type*: Feature

*Summary*: Ensure all DB tables have a created_at and modified_at column, including migrations.

#### Expected behavior
`created_at` and `modified_at` columns for all tables with standard Po

[2017-11-22 09:50] tpatja commented on #173
We currently have `issues.updated` which reflects the last modification time. I think it's enough to add `created_at`.

[2017-11-22 10:18] #173 closed

[2017-11-22 10:20] oskarth commented on #173
@tpatja To me this is issue is about _all_ tables, and `modified_at` should be at DB layer, no?

[2017-11-22 10:22] tpatja commented on #173
The just added `created_at` field in the issues table gets set to current UTC timestamp when we insert an issue. They get inserted when the bounty label is added, so this gives use the bounty creation time. Am I missing something?

[2017-11-22 10:34] andytudhope commented on #173
I'd like to have a timestamp when the bounty is created, and one for when the bounty is awarded and confirmed. I agree with @oskarth that it might be better to generalise this at the DB level, but am happy to work with just those 2 timestamps in the `issues` table for now.

[2017-11-23 11:13] oskarth opened #174 "Ability to revoke bounty or solve issue without payout for core contributors"
## Problem

Status as a consumer of SOB (see https://github.com/status-im/ideas/issues/10) wants to use it as much as possible. To do this there is a high-priority problem that we need to address:

Sometimes we have a critical path task that needs to be done, and no one is working on it at this very moment. As we have seen in the past (Macchiato PR), external contributors can often chime in and so

[2017-11-28 06:36] noman-land commented on #52
I've been working with @pablanopete on a prototype of an auto-posting Twitter bot. You can check the repo here: https://github.com/noman-land/status-open-bounty-bot

Right now it just polls the public SOB endpoints and looks for new bounties and new activities.

Regarding the discussions above. The SOB endpoint for bounties has no concept of "new" vs "updated" bounties. If a bounty is updated, its

[2017-11-28 12:42] denis-sharypin commented on #156
@tpatja  There is a mockup already of it https://zpl.io/V1yKxeB
Does it help?

[2017-11-29 12:42] denis-sharypin commented on #154
@tpatja Thanks!  Only thing what we need here to make `padding-left: 15px;` for `.open-claims-label `

[2017-11-30 09:23] santegoeds opened #175 "Unable to update Ethereum address in Payment details."
### User Story

As a user, I created a new open-bounty account and tried to update my payment details.

### Description

*Type*: Bug

*Summary*: Using Chrome I was unable to update the Ethereum address because the browser showed a dropdown with an existing address.  Using Firefox it worked as expected.

#### Expected behavior

The page shows me an text field where I can paste my Ethereum address.

[2017-11-30 09:30] andytudhope commented on #175
Hey @santegoeds. Thanks for filing this. Are you sure you didn't have a MetaMask or Parity extension operating when in Chrome? If you did, that text field will automatically pick it up. The way around this is to open in an incognito tab, or disable the relevant plugin.

[2017-11-30 09:33] santegoeds commented on #175
Duh - you are correct.  I do have MetaMask but had no idea it prefilled addresses like this.

Thank you and apologies for the noise.

[2017-11-30 09:33] #175 closed

[2017-11-30 10:42] tpatja commented on #156
Thanks @denis-sharypin, this mockup should be enough

[2017-12-04 11:20] churik opened #177 "Placeholder is displayed instead of new address in Ethereum address after you set new address in "Manage payments" after you left and come back"
### Description
*Type*: Bug
*Summary*:
When you set new address in  Ethereum address field and then you left tab "Manage payments", when you return you can see only placeholder is displayed, so user think that nothing is updated.

#### Expected behavior
you can see new address

#### Actual behavior
placeholder "0X0000000..." is displayed

### Reproduction

- Open Status
-  Set new address in "Mana

[2017-12-04 11:59] arash009 opened #178 "SOB Organisation dashboard"
@arash009 commented on [Mon Nov 27 2017](https://github.com/status-im/ideas/issues/47)

## Preamble

    Idea: #47
    Title: SOB Organisation dashboard
    Status: Draft
    Created: 2017-11-27

## Summary
A simple dashboard view for organisations that post bounties so they can manage their bounties and track their progress.

## Vision
As the admin on an Organisations repository on GitHub, I woul

[2017-12-04 12:01] arash009 opened #179 "SOB bounty sort/filter option"
@arash009 commented on [Tue Nov 28 2017](https://github.com/status-im/ideas/issues/48)

## Preamble

    Idea: #48
    Title: SOB Bounty sort/filter option
    Status: Draft
    Created: 2017-11-28

## Summary
There is no way currently to sort or filter the list of bounties on the page. A sort and filter option would be very useful as our list of active bounties start to add up.

## Vision
As a de

[2017-12-04 12:01] arash009 opened #180 "Current open claim shown against each bounty"
@arash009 commented on [Tue Nov 28 2017](https://github.com/status-im/ideas/issues/49)

## Preamble

    Idea: #49
    Title: Current open claim shown against each bounty
    Status: Draft
    Created: 2017-11-28

## Summary
The current "Activity" tab is confusing and feels disconnected and disjointed from the "Open Bounties". These should be integrated somehow so you can track activity against ea

[2017-12-04 12:02] arash009 opened #181 "SOB Bounty lock"
@arash009 commented on [Fri Dec 01 2017](https://github.com/status-im/ideas/issues/53)

## Preamble

    Idea: #53
    Title: SOB Bounty lock
    Status: Draft
    Created: 2017-12-01

## Summary
A developer who is interested in a bounty but would like to reserve it so that someone else cant claim it, can pay X amount of SNT to lock the bounty for Y time frame.

## Vision
As a developer, I find a

[2017-12-04 12:02] arash009 opened #182 "SOB Tip/Me too a bounty"
@arash009 commented on [Fri Dec 01 2017](https://github.com/status-im/ideas/issues/54)

## Preamble

    Idea: #54
    Title: SOB Tip/Me too a bounty
    Status: Draft
    Created: 2017-12-01

## Summary
Any one interested in the solution to a bounty can tip or add any tokens to a bounty to increase its value and create a higher chance that it will be solved sooner.

## Vision
As an organisation o

[2017-12-05 10:05] arash009 opened #183 "Updated SOB landing page"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer coming to the Open Bounty site for the first time, I want to see some simple to understand content about what open bounty is and how it will help me so that I have enough information in the first 30 seconds to want to know more and get excited about the prospect of being paid for my open source

[2017-12-06 10:23] arash009 commented on #174
The timeline/deadline factor to be considered as a separate feature: https://github.com/status-im/open-bounty/issues/49

If there is also a requirement for core contributor to resolve the issue before the deadline, then yes we would need another mechanism.

[2017-12-06 10:30] arash009 commented on #38
This is essentially a duplicate of https://github.com/status-im/open-bounty/issues/52

Closing to track feature on https://github.com/status-im/open-bounty/issues/52

[2017-12-06 10:30] #38 closed

[2017-12-06 11:04] arash009 commented on #136
Looks like "Features" link has been removed. Closing issue.

[2017-12-06 11:04] #136 closed

[2017-12-06 11:31] arash009 commented on #146
Will include as part of https://github.com/status-im/open-bounty/issues/179

Closing as duplicate

[2017-12-06 11:31] #146 closed

[2017-12-06 11:46] arash009 commented on #149
Closing issue as cant reproduce.

[2017-12-06 11:46] #149 closed

[2017-12-06 11:46] arash009 commented on #56
Permissions changes have been implemented. Closing as resolved.

[2017-12-06 11:46] #56 closed

[2017-12-06 11:56] arash009 commented on #155
@annadanchenko I've documented requirements for some additional "How it works" in https://github.com/status-im/open-bounty/issues/183 but I suspect that detailed instructions should probably live on our wiki page - thoughts?

I also havent seen any YT video, do we have one?

[2017-12-06 17:45] churik opened #184 "Contract address is not deployed on issues with "bounty" label"
### Description

*Type*: Bug
*Summary*:
after you add "bounty" label, SOB bot is freezing in "Deploying contract" state.
When you tap on Transaction, after redirecting to https://etherscan.io  you receive Sorry, We are unable to locate the Transaction Hash in Transaction Information

#### Expected behavior
contract is deployed

#### Actual behavior
contract is not deployed, "Sorry, We are unable t

[2017-12-07 03:32] arash009 commented on #161
Can we also extend this requirement to include getting partial bounties in case my PR doesnt fully solve the issue but has got it x% closer and I want to stop here.

[2017-12-07 03:39] arash009 commented on #164
Hang on, if multiple PRs are merged from multiple users, that implies that value was gained from each of those PRs, therefore this more relates to #161 where all participants should be rewarded a % of the bounty.

This may need to be resolved with the #161 enhancement.

[2017-12-07 03:40] arash009 commented on #171
Can we confirm this has been implemented?

[2017-12-07 07:43] churik opened #185 "Ability to readd bounty (delete and add again)"
### User Story

As a user, I want to delete label "bounty" when I have problem with deploying contract, ethereum network congestion or if I changed my mind or added bounty by mistake.

### Description
*Type*: Feature
*Summary*:
when bounty has 0.00 value, or contract address is freezing in deployment stage, I want to remove bounty label and expect that bounty will disappear from SOB. If I add boun

[2017-12-07 17:27] tpatja opened #186 "Only include bounties with a successfully deployed contract in "open bounties" listing"
The open bounties listing should only include bounties where the contract deployment has succeeded. When the blockchain is congested (like today) it can take a very long time for a contract to get deployed and it is confusing if we show an issue as an open bounty, but the GH page has no contract address and QR code.

[2017-12-07 17:34] #186 closed

[2017-12-08 07:54] 3esmit commented on #161
Yes, we could add that, but I'm not sure how SOB would be able to check that.

[2017-12-08 11:59] arash009 commented on #184
Do we still need to keep this open since this was related to the gas price issue?

[2017-12-08 13:13] Chu127001 commented on #184
Caused by ethereum network

[2017-12-08 13:14] #184 closed

[2017-12-08 13:14] churik commented on #184
Caused by ethereum network

[2017-12-08 15:27] churik opened #187 "Metamask address is not updated automatically in Payment Details"
### Description

*Type*: Bug

*Summary*:
when you setup Metamask, unlock it with your browser, login to SOB and go "My payment details" you see new address from MetaMask, but it is not really updated UNTIL you click update manually.
For you it looks like new address, but in database old address remains.

#### Expected behavior
address is updated in database (new address from MetaMask is set)

####

[2017-12-08 16:40] churik opened #188 "Several claims (" Submitted a claim for ..") in Old Claims are shown after merging one PR in issue with several PRs"
### Description
*Type*: Bug

*Summary*:
if you merge one PR in issue with several PRs with "fixes #issue" in comments, after confirming claim in "Manage Payouts" you see that several claims in Old Claims for PR owner are submitted
![status open bounty 2017-12-08 18-35-07](https://user-images.githubusercontent.com/4557972/33775285-8c33e184-dc46-11e7-88f3-9d98ee45d963.png)

#### Expected behavior
on

[2017-12-08 16:42] churik commented on #188
I think it can be connected with #164 as well

[2017-12-11 08:40] arash009 opened #189 "Automatic gas price adjustment"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As the Status Open Bounty developer, I was the gas price setup for the contract execution to be automatically adjusted based on the current ethereum network congestion, so that I do not have to manually always adjust the price.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[co

[2017-12-11 09:53] churik opened #190 "Bounty app is not working for repo with name length >= 65 char"
### Description
*Type*: Bug

*Summary*:
when you open repo with name length >= 65 char, bounty app is not working. After you add issue, than add label "bounty" - nothing happens. SOB bot doesn't add any comment.

#### Expected behavior
SOB bot adds comment with contract details after add bounty label

#### Actual behavior
SOB bot doesn't add comment with contract details after add bounty label

##

[2017-12-11 10:03] churik opened #191 "GH Repo Name is overlapped with GH avatar when "GH profile name\GH Repo Name" > 50 chars"
### Description
*Type*: Bug

*Summary*:
when "GH profile name\GH Repo Name" on bounty > 50 chars, repo name and GH avatar are overlapping
![status open bounty 2017-12-11 11-59-56](https://user-images.githubusercontent.com/4557972/33825605-d6b894c2-de6a-11e7-8f5a-07efc0802a59.png)

#### Expected behavior
no labels are overlapped

#### Actual behavior
see screenshot

### Reproduction

- Open GH Repo

[2017-12-14 09:15] arash009 opened #192 "Organisation sign up and adding bounty workflow"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As an organisation using SOB, I want an easy to follow workflow when signing up to use open bounty and a straight forward way to add my bounties so that I am self sufficient and dont have to rely on Open bounty staff to complete my order.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: F

[2017-12-14 15:05] #171 closed

[2017-12-17 22:38] dottedmag opened #193 "Hide myself from scoreboard and activity"
### User Story

As a user of Open Bounty, I want to be able to hide/disguise myself in the scoreboard and activity lists.

### Description

*Type*: Feature

*Summary*: People who earn cryptocurrency become more likely targets of targeted attacks. Recent claims list and "Top Hunters" list is a ready-to-use instrument for selecting people to be attacked.

#### Expected behavior

My earnings from Ope

[2017-12-17 23:41] dottedmag commented on #181
Bounties can be paid out in SNT or Ether, so locking should also be available using either currency.

[2017-12-18 05:32] arash009 commented on #183
Feedback from @andmironov

In my opinion the main source of problems is not having the the bounty list itself on the homepage. It might be the best way to target both audiences (even though completely different). Show don’t tell, remember? :slightly_smiling_face:
*For Devs* it would provide a clear overview of how much money they could earn, what types of tasks there are.
*For Organizations* it wo

[2017-12-18 05:34] arash009 commented on #183
[Homepage (general intro + bounty list)]
     -> [Specific intro + signup for Devs]
     -> [Specific intro + signup for Orgs]

[2017-12-18 05:49] arash009 commented on #179
Maybe when you hover over an active chip, you can get an "x" on the right which allows you to remove the filter. See example: https://www.google.com/flights/beta?source=flgw#flt=/m/08966./m/0156q.2017-12-31*/m/0156q./m/08966.2018-01-04;c:CHF;e:1;s:0*0;dt:0000-1500;at:1100-2400;sd:1;t:f

Also in terms of price, I like the bar that you can drag as per the google flights example, instead of manually

[2017-12-18 08:37] arash009 commented on #193
Thanks for requesting this @dottedmag - It would be a good feature to have. We'll add this to our backlog of items to add to a user's dashboard/profile that we want to put together.

[2017-12-18 10:56] #189 closed

[2017-12-18 14:31] dottedmag commented on #193
I don't mind working on it (and another Clojure-related tasks) if you put a bounty on them.

[2017-12-19 22:38] denis-sharypin commented on #179
@arash009 , @tpatja I uploaded a web version of a feature to Zeplin. Please, use a standalone version of the app since a file is too big and web version is a bit slow
zpl://screen?sid=5a3975388594db787e1e5a96&pid=59dd4d45719799b4220a2e49
Mobile design of the filter/sort feature will be soon

[2017-12-20 06:16] arash009 opened #194 "Automatically fund my bounties from my wallet"
### User Story

As an organisation using Open Bounty, I want to automate the funding of bounties that I want to put up so that I dont create dependencies on a person having to fund each bounty, and removing the manual labor involved.

### Description
Extract of feedback received and the request for this functionality:

_It should be as easy as adding the bounty tag to an issue and rest is taken ca

[2017-12-20 08:01] pablanopete commented on #194
To further comment on this as well from my perspective:

 I was thinking that this solves 2 problems.

1. Funding bounties, if this method is implemented we eliminate our internal team or from having to fund bounties after the appropriate tag was included EG. `bounty-s` (most obvious)

2. Determining rate (separate but critical feature), we could fetch SNT to USD api values to determine the best t

[2017-12-20 11:12] andytudhope commented on #194
I mean, we'd definitely still need the labels like `bounty-s`, as my assumption is that the tokens allocated to the contract (be they ETH or ERC20) would be worked out automatically based on the size label added by the admin? Otherwise there is no clear and good way to automate that part.

Otherwise yes, I agree that this would be an awesome thing to have which would make my life significantly eas

[2017-12-20 11:36] tpatja commented on #194
While I agree having a feature to auto-fund bounties is a useful feature, I'd like to remind that a core feature of SOB is that anyone can fund any existing bounty by just sending ETH or tokens to it. So, the value of a bounty is not only set by creator.

[2017-12-20 11:39] tpatja commented on #194
Implementation could (as suggested by others) use labels like `bounty-s`, `bounty-l` etc, and we could have a way to configure what ETH/token amounts those correspond to. Actual funding is hard to do without having control over the wallet where the funds are sent from, so this would likely require a smart contract where an organization can deposit and withdraw funds and which will be used for auto

[2017-12-20 11:59] tpatja opened #195 "Notification mechanism for bot account's ETH balance"
*Type*: Feature

Status Open Bounty uses a bot Ethereum account for deploying bounty contacts and signing payouts. This uses ETH for gas. The bot account's ETH has run out a few times, causing things to break.

We need a way of monitoring the bot account's ETH balance and getting notified in case the balance goes below a threshold value.

Requirements:
* configurable threshold value (default: 0.1

[2017-12-20 12:32] status-open-bounty commented on #195
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xfcd5278a136a4b118a6ca902342aeb866e889ebd2447bf4737efc26a09d0de9c](https://etherscan.io/tx/0xfcd5278a136a4b118a6ca902342aeb866e889ebd2447bf4737efc26a09d0de9c)

[2017-12-20 15:05] 3esmit commented on #194
I have 2 ideas to solve this:
1. Create a contract that proxy payments to several other accounts. Then we can use this to fund multiple contracts.
2. Allow the Bounty Opener to open it by sending the first funds to it.

[2017-12-21 09:43] tpatja opened #196 "Top hunters should show only top 10"
Currently, the Top Hunters listing shows all people who have ever received any ETH/tokens via bounties. We should limit the amount shown to the top N. Suggesting N=10.

[2017-12-21 09:45] #196 closed

[2017-12-21 17:00] dottedmag opened #197 "Optional rewards for bounties"
### User Story

As a developer of patches covered by open-bounty, I want to have an incentive to work on a better code for bounties, and not be compelled do to the minimal viable job and move on.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happe

[2017-12-25 11:32] pablodip opened #198 "Documentation to be able to collaborate"
Type: Meta (not a feature nor a bug)

### User Story

As a developer, I want to read and overview of the project and its status to know how it works by and large so that I know better how it works and decide to play with it and collaborate.

As a developer, I want detailed instructions about how to make the project run in local so that I can start playing with it and collaborating.

As a developer

[2017-12-25 11:45] pablodip commented on #179
This is "in progress" but there is no assignee. @arash009 Are you working on it? Just getting used to the workflow. :)

[2017-12-26 01:59] pablodip commented on #169
@tpatja What is the status of using web3? Just an idea for now?

[2017-12-26 02:07] pablodip commented on #198
I'm going to leave here the errors I'm getting so that they serve as things to solve in the documentation.

Right now when I try to start mount, I'm getting this:

[code]

I don't know if I am using a wrong address somewhere.

In `:eth-account` I have one that I created myself.

In `:tokenreg-addr` I have `0x7d127a3e3b5e72cd8f15e7dee650abe4fcced2b9`, which I copied from `commiteth.eth.token-regist

[2017-12-26 11:27] tpatja commented on #198
This error happens because token registry data cannot be found on the chain at address `0x7d127a3e3b5e72cd8f15e7dee650abe4fcced2b9 `. Make sure your geth is synced and connected to a chain that actually has the data at that address.

For a dev env setup that uses Ropsten testnet you should have at least these:
[code]

[2017-12-26 14:36] pablodip commented on #198
@tpatja Thanks! :)

Yes, I have `geth` working as it is described in the readme. Just changed the option `:tokenreg-base-format` to `:status` (I had it in the default `:parity`, and the other two I had them like you just described) but it keeps failing.

Any other idea? :S

[2017-12-26 15:27] tpatja commented on #198
Please connect to your ropsten geth instance from the command line with geth like this and paste the output:

[code]

[2017-12-26 15:54] pablodip commented on #198
@tpatja Here you go:

[code]

[2017-12-26 15:57] tpatja commented on #198
`at block: 0`

It's not synced. Current block should be more than ~2340238.

[2017-12-26 17:58] dbalatero commented on #179
I was wondering the same as @pablodip – I'd like this feature, therefore I'd like to help implement it if my help is needed! ;)

[2017-12-27 03:35] pablodip commented on #195
@tpatja How do you normally face these interactions in dev/test environment so that it is testable and doesn't mix with prod?

[2017-12-27 03:39] pablodip commented on #100
@AnthonyAkentiev Is this still happening to you?

[2017-12-27 06:58] andytudhope commented on #179
Hey @pablodip and @dbalatero! My two favourite people 😉 So, Arash is the PM of open bounty and not one of the technical folks. If you two would like to work on this together, I think you should go ahead as you have correctly noticed that there is currently no-one else assigned to it.

[2017-12-27 07:39] tpatja commented on #195
@pablodip Not sure what you mean. This particular task can be implemented totally separate from SOB, regardless of test or prod environment, as it just needs to watch the balance of an address on the chain. It can be implemented in almost any language and can run anywhere on the internet.

For separating test, prod and local dev environments in general, we just use a different github app instance.

[2017-12-27 07:59] dbalatero commented on #179
@pablodip I'm totally down to work together. Full disclosure though, I'm crash-learning Clojure and react-native for that matter on this project, so I don't want to slow you down. My plan was to pick off small features and do them to level up my skills.

I can help with UI design/ideas, and I can definitely jump in and start coding too. Since you were first commenter on this PR, you should take th

[2017-12-27 11:28] pablodip commented on #198
@tpatja Indeed, it wasn't fully synced. :S It is working now. Thank you! :)

[2017-12-27 16:42] pablodip commented on #195
@tpatja

Okay, so different config for test/dev. Have you used or do you plan to use something like this with mount? https://github.com/tolitius/mount#swapping-alternate-implementations

Regarding this particular task, should we provide some guidelines about how we would like to have it integrated with our system? I think it would be nice since we are going to maintain it in the end and it is part

[2017-12-28 08:02] tpatja commented on #195
I don't think we need changes to the way we use mount right now. While developing you can use the REPL to start what you need. Perhaps later if we implement some integration tests we can consider this.

If we implement this bot balance watcher feature as part of the current backend, monitoring the balance can be another scheduler task. The slack notify HTTP POST can be copied from `status-im/commi

[2017-12-28 10:02] pablodip commented on #179
@dbalatero

I can start working on this on the 15th of January. How do you think we could split the work? I can only picture splitting backend and frontend, but let me know if you can think of any other ways. :) If so, which part do you prefer?

[2017-12-28 10:06] pablodip commented on #195
Indeed, I meant the mount thing to improve testing, since now code is coupled to external interactions. Agree with treating that out of this issue.

As for the scheduler task, I precisely got to know the scheduler of SOB today and had the same idea. :)

[2018-01-02 07:04] rolandkofler opened #202 "Bounty Bot not creating QRCode comment"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a organization, I want to to get a QRCode comment so that i can fill it with a bounty

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually h

[2018-01-02 09:07] andytudhope commented on #202
Hi @rolandkofler - thanks for reporting. Pretty sure that you will need to be whitelisted in order to issue bounties. Will check if I can get this done quickly - will you just remove that bounty label for now so that it doesn't confuse things when we set you up?

[2018-01-02 09:52] andytudhope commented on #202
Hi @rolandkofler - I have added you to the whitelist. Please try and add the bounty label to another issue and see if you have more success? If not, feel free to re-open this issue.

[2018-01-02 19:08] pablanopete opened #203 "Make maintainer ether address part of UX"
### User Story

As a maintainer / organization while using Status Open Bounty I want to know which Ethereum address controls the maintainer account (sign off) and be able to granularly select that address when signing up for permission to use SOB.

### Description

*type* <feature>

When signing into the new flow for SOB as an organization I should be able to clearly see which address will be the

[2018-01-02 20:12] dmitryn commented on #198
It finally works for me. Things that were different from README guide:
* I'm using `lein with-profile +precomp repl` instead of `lein repl`.
Otherwise, i get `Caused by: java.lang.ClassNotFoundException: commiteth.eth.contracts.TokenReg, compiling:(commiteth/eth/token_registry.clj:1:1)` (it's documented inside `project.clj` but that's not noticable at first glance)
* Had to comment out `:contract-

[2018-01-03 03:09] pablodip commented on #198
@dmitryn Does it work for you to create a bounty in an issue? To me it keeps telling `pending deployment`. It does send a transaction though: https://ropsten.etherscan.io/tx/0xf51e1093da3cb2f9f74bf07c6f9c3aee3818c2e77279e032a9dfede7df58eec8

[2018-01-03 12:40] dmitryn commented on #198
@pablodip not sure. I'm doing everything locally and now sitting at https://github.com/status-im/open-bounty/blob/develop/doc/testing.md#creating-bounty-issues
"bounty" label didn't appear on my test repo that i added

[2018-01-03 16:15] pablodip commented on #198
@dmitryn What do you mean with "everything locally"? Are you using a private local ethereum network? Regarding the label, you can create labels freely on Github repos.

[2018-01-03 16:18] dmitryn commented on #198
@pablodip i mean i'm using local app (not staging https://openbounty.status.im:444/) with ropsten network. The issue is that local app cannot see any of my GH repos (i'm getting 404 on 'user/repos` request). Something is wrong with GH authorization on my end i guess.

[2018-01-03 17:00] dmitryn commented on #198
@pablodip

For me it's failing contract deploying:

[code]

[2018-01-03 19:26] dmitryn opened #204 "Use timbre for logging"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to configure app loggers so that i can debug/monitor app easily.

### Description

I suggest to switch from `clojure.tools.logging` to https://github.com/ptaoussanis/timbre because timbre is much easier to configure.

[2018-01-04 01:30] pablodip commented on #198
@dmitryn Nice! :) Does it get stuck to you when checking the deployment with "pending deployment" or does it completes the process?

[2018-01-04 10:21] dmitryn commented on #198
@pablodip yes, it's still pending, despite transaction got through. Will take a look at it closer when i'll have time.

[2018-01-05 11:20] arash009 commented on #85
from @3esmit

New version (IssueBank) will work like this:
1. bounty is opened by anyone and enters open state
2. funds are sent to bounty address, they are only accepted at open state
3. prs are merged and detected by SOB, which are called by smart contract
4. when close the issue, repository owner needs to select which accounts will be rewarded from list defined by SOB in `3.`
5.a. if issue is c

[2018-01-05 11:23] oskarth commented on #85
What's 8?

[2018-01-05 11:29] arash009 commented on #85
Copy/Paste messed up. Check again

[2018-01-05 14:09] rolandkofler commented on #202
In fact does not work, but I do not have permission to reopen this issue
Not working here: https://github.com/rolandkofler/Charles/issues/3

[2018-01-05 15:37] andytudhope commented on #202
Weird - I can see it in the DB. Give us a day or 2, there is a little backlog of issues and the lead dev is back from tomorrow, so will take a little while to get through them. Apologies for the inconvenience!

[2018-01-09 07:28] pablodip commented on #198
@tpatja Any idea why it keeps telling `pending deployment` to us when creating a bounty? :S

[2018-01-09 12:08] siphiuel opened #206 "ClassNotFoundException during REPL startup"
### Description
*Type*: <Bug>
*Summary*: running `lein repl` in a freshly initialized repo throws ClassNotFoundException.

#### Expected behavior
Get to the REPL prompt without any hassle.

#### Actual behavior
We get the below error:
[code]

### Solution
*Summary*: seems that `env/dev/clj/user.clj` is autoloaded by Clojure no matter what (see e.g. [this](https://github.com/technomancy/leiningen/i

[2018-01-09 14:10] #206 closed

[2018-01-09 16:21] siphiuel commented on #198
Hi guys,

I'm having a couple of issues getting this up and running. Very newbie ones. Will appreciate any help!

1. What fields should be populated in `env/dev/resources/config.edn`?
2. Also, what password should go under --password option to geth command? I've created an account on Ropsten through MetaMask, but not sure what should be placed there.
3. https://openbounty.status.im:444: been follo

[2018-01-09 17:33] dmitryn commented on #198
@siphiuel
Regarding 2 & 4 , you could use `geth` to create account and set password. Also, it will provide you with json key with the  private key (wallet) https://github.com/ethereum/go-ethereum/wiki/Managing-your-accounts

[2018-01-09 18:02] siphiuel commented on #198
Thanks, this worked beautifully! Got the account/password and wallet file now. In geth log I see that account was unlocked (good).

Now in the REPL after running `(user/start)` it complains that `ConnectException Connection refused (Connection refused)  java.net.PlainSocketImpl.socketConnect (PlainSocketImpl.java:-2)`. I'm checking what more is missing in config.edn.

[2018-01-10 00:21] pablodip commented on #198
@siphiuel Regarding the connection refused, make sure you set the same rpc port in geth and in the config.edn, since by default the readme says 8545 for geth and the config.edn says 8547 (`:eth-rpc-url` key).

[2018-01-10 04:21] arash009 opened #208 "Ability to create quick ad hoc bounties"
### User Story

As a repo owner, I want to quickly create an ad hoc bounty for my GH issue, without having to go through the full SOB bot installation on my GH repo.

### Description
*Type*: Feature

Currently to issue a bounty on open bounty, an Org or repo owner needs to go through the full onboarding process by getting whitelisted, installing the SOB bot on their GH account and creating a bount

[2018-01-10 11:57] siphiuel commented on #198
@pablodip thank you! Made the change, it fixed the ConnectException.

Now there is a NullPointerException, I've added a try-catch block and it originates in `commiteth.eth.token-data/update-data`: `:testnet-token-data` env variable is not found, and it attempts to fetch parity tokenreg data. Which should not be right. Why does it attempt to read `:testnet-token-data` when it's nowhere to be found?

[2018-01-10 12:04] dmitryn commented on #198
@siphiuel NPE means you have not synced geth so it cannot find token registry deployed.
Block 0 info confirms that. I also had that issue with `geth` and switched to `parity` to overcome that.

[2018-01-10 12:13] tpatja commented on #198
@siphiuel the NullPointerException because token registry data cannot be found from the configured `:tokenreg-addr` on the current chain. Also your ethereum client is not synced, since it's at block 0.

If on testnet (for development you should use Ropsten), you should set these:

[code]

[2018-01-10 12:38] tpatja opened #209 "Refactor frontend CSS usage"
Currently we are using semantic UI CSS framework on the SOB frontend and override lots of things from Semantic in style.less with hacks like adding `!important` to a lot of rules. We should look at either not using a CSS framework at all or using one that works better for us.

[2018-01-11 03:29] arash009 opened #210 "Top bounty hunter prize"
### User Story

As a developer using SOB, I want to be listed on a monthly and yearly top bounty hunter pool, so that on a regular basis (monthly, annually), I can win prizes for being the top hunter.

### Description
*Type*: Feature
Currently the listing of top 5 bounty hunters on the website is nice, but doesnt really mean much. Yes your name will be listed at the top of the list of all time top

[2018-01-12 05:31] arash009 opened #211 "Metrics report on usage of SOB"
### User Story

As the Open Bounty administrator, I want a report containing some metrics and information on the usage of SOB, so that I can make informed decisions on its development and progress.

### Description
*Type*: Feature

We need a way to capture data on use of SOB without maintaining a manual spreadsheet. This is information already contained in the DB, just needs to be exported and vie

[2018-01-15 05:13] pablodip commented on #198
Added devops to user story: `As a devops I want documentation about how to run and maintain the project so that I know how to make it work and maintain it.`

[2018-01-15 05:25] pablodip opened #212 "Determine git workflow"
### Description

Currently master has more commits than develop, which means than changes have gone to master without passing through develop, and that develop isn't up to date with master.

Those two things have probably happened because of the complexity of maintaining both branches (explained later). The point is that those two things complicate collaboration and stability, because other collab

[2018-01-15 05:47] arash009 commented on #85
It might be better if we solve this requirement without Issuebank contract changes in the first instance. Will setup a separate issue to track Issuebank implementation

[2018-01-15 05:49] arash009 commented on #159
Been advised that this is resolved and can be closed.

[2018-01-15 05:49] #159 closed

[2018-01-15 06:09] pablodip opened #213 "Remove unused and old code"
### Description

There is some unused code in the repo: unused global vars.

And also some old code, related to an old feature I think, about management of repositories directly in the SOB webapp, instead of through Github.

### User Stories

As a developer I want to not have old and unused code in the repository so that I don't have to understand it and maintain it.

### Expected Behaviour
To not

[2018-01-15 06:10] pablodip commented on #213
@arash009

* Can that old repository management system in the SOB webapp be removed?
* Is there any other old feature that can be removed?

[2018-01-15 06:21] tpatja commented on #212
I disagree with the proposition of just using `master`. Like the README says, currently we have two continuously deployed environments - `develop` is auto-deployed to the shared test environment where we do QA and only when QA passes we merge to `master` after which the changes end up in production. The problem with just using `master` is that even if we review the changes, there is no easy way to

[2018-01-15 06:41] pablodip commented on #212
@tpatja

Do you mean that the main reason right now to have the develop branch is to have a test environment for QA? If so, how about trying to find a better solution to be able to test pull requests so that we can get rid of the develop branch and solve the problems described in this issue?

A simple solution could be to have an environment where the branch to be deployed can be specified, so tha

[2018-01-15 06:47] tpatja commented on #212
Yes, if we had an automated deploy of the PR code to a newly created environment, we could QA there and use just `master`. I also agree that this would simplify the workflow. It's not trivial to create the infrastructure for this, but we should aim to get it done.

GH [protected branches](https://help.github.com/articles/about-protected-branches/) protect against force push, not pushing commits wi

[2018-01-15 07:16] pablodip commented on #212
@tpatja

What deployment system is used right now? Can the branch be specified somehow manually? If so, could it work even if we can only have one PR deployed at a time? That is in the end what we have right now.

Regarding commits directly on master, will open an issue so that we can discuss that separately. :)

[2018-01-15 12:29] pablodip opened #214 "Unversioned Config File"
### Description

The current way to configure the project is through the `config.edn` file, which is versioned, so that it makes possible to commit sensitive information, and also pollutes the git status.

### User Stories

As a developer I want to configure the project in an unversioned file, so that I cannot commit sensitive information.

As a developer I want to configure the project in an unve

[2018-01-15 15:54] pablodip opened #215 "Ethereum workflow documentation"
### Description

It would be very helpful to have some docs explaining the Ethereum workflow of the Status Open Bounty.

It would also be nice to document possible malfunction/errors in that Ethereum workflow so that the Clojure system can work better against them.

### User Stories

As a clojure dev/contributor of the SOB I want to know the Ethereum workflow of the SOB so that I can understand be

[2018-01-15 17:46] 3esmit commented on #215
Currently it uses Consensys Multisig enhanced with support to withdraw all tokens and ether with a single call.
When SOB deploys, it uses SOB address + repository owner addess as owners of MultiSigWallet.
SOB service waits for issue being closed by a pull request and then signs a call to withdrawAll(address) to address to issue solver.
Then repository owner needs to sign a call to confirm(uint) to

[2018-01-16 04:48] pablodip commented on #215
@3esmit Thanks! :)

Is there anything that could go badly in the process that the Clojure system should try to handle/retry/monitor/report/anything? For example, pending transactions?

What changes are planned? :)

[2018-01-16 06:34] arash009 opened #218 "Track progress of bounty"
### User Story

As an Organisation or repo admin user of SOB, I want to easily be able to track the progress of my bounties and what stage of the 'bounty lifecycle' its at, so I can identify whats going on with the bounty and resolve any issues if there are any.

### Description
*Type*: Feature

Currently its very hard to know what stage a bounty is up to in its lifecycle. We have an activity tab

[2018-01-16 07:56] pablodip opened #219 "Update Github data regularly"
### Description

Data from Github is being saved (cached) in the SOB, but since Github data isn't immutable, we might end up with outdated data.

Besides, there have been issues when trying to work with outdated data, for example when a repository that is in the SOB was renamed.

### User Stories

As an owner of a Github repo that is in the SOB I want to be able to rename my repo and that bounties

[2018-01-16 08:05] pablodip commented on #218
What do you have in mind about that visual tool? I think we could just integrate this info in the webapp. Right now we don't have a page for a bounty, but we could well have it and put the activity/history/events of a bounty there.

[2018-01-16 09:36] arash009 commented on #213
@pablodip I think we need to confirm with @tpatja but from my point yes we definitely should do a clean up.

[2018-01-16 10:18] pablodip commented on #213
@arash009 Btw, what was the reason/s to change from managing the repos in the webapp to manage them in a Github App? Would love to understand the context. :)

[2018-01-16 10:28] arash009 commented on #180
relates to #218 as well

[2018-01-16 10:33] tpatja commented on #213
@pablodip Less intrusive permissions. The old way (GH oauth app with webhooks managed by SOB) requires write access to the repo, which is a problem and we got a lot of complaints for it. GH apps support more fine-grained permissions and allow users to only allow actually needed permissions to SOB.

[2018-01-16 15:19] #156 closed

[2018-01-17 06:37] pablodip opened #221 "Define code review workflow"
### Description

I think it would be nice to make explicit a code review workflow, since now there are more people working on the SOB, and we also probably aim to set an example to work better with bounties.

### User Stories

As a developer I want to have other devs review my code so that the code that goes to production is checked by other people and they can spot improvements or mistakes I didn

[2018-01-17 09:03] denis-sharypin commented on #218
yeah, agree that we need to create a bounty page where we could show everything that happened with bounty. I'll prepare some mocks to discuss

[2018-01-17 11:29] arash009 commented on #221
I'm happy with the defined approach. My only comment would be on point 3 to have two approvals before a merge. This might slow the pace of work. Maybe one approval is enough for simple changes, and two approvals for large complex implementations.

@oskarth if you have any learnings/lessons learnt from processes by other swarms.

[2018-01-17 13:03] pablodip commented on #179
Some notes:

* Filters to not have for now, since we don've have the data yet: type, language.
* Filters to add: currency.
* Filters to change: "more", by owner.

[2018-01-17 13:13] pablodip commented on #221
@arash009 On one hand I agree, since that could move pull requests faster into production. On the other I don't agree, since by requiring two request approvals we ensure that the knowledge and changes are better distributed in the team. Let's see anyway if @oskarth says something about this.

One more thing I just though of that could be defined in the workflow.

Who merges the PRs, the creator or

[2018-01-17 15:17] oskarth commented on #221
Sounds good!

This is what we have in practice at status-react as well. Usually it is 2 reviewers, but for very quick fixes 1 works out OK in practice too (build on fire kind of stuff).

This is a good point too. So at least as a soft requirement. We try to request reviews from 3 people so at least 2 can review it in normal case.

You can see how we do it at https://wiki.status.im/Developer_Docume

[2018-01-18 14:30] pablodip commented on #221
Agree with some requirements being soft and permission-less participation.

Thanks for sharing your view, @oskarth, really appreciated. :)

[2018-01-18 15:09] pablodip opened #223 "Script to create a private Ethereum network for dev and test environments"
### Description

Isolated dev and test environments help create better software, since those isolated environments are not polluted with external states (they are deterministic) and they are normally very fast, and local.

Current dev and test environments of the SOB depend on the public test network, which make the environments not being deterministic, nor fast (it takes a good time to set up), n

[2018-01-18 15:23] pablodip commented on #179
Hey @denis-sharypin, a couple of UX questions. :)

* Do you want any change of style when hovering an option in the list of sorting options?
* Do you want the current sorting option with a different style, or being disabled in the list?

[2018-01-19 06:30] pablodip commented on #179
@denis-sharypin A few UX details:

* Do you want a different style when hovering each of the options in the sorting option list?
* Do you want the current option in the sorting option list to have a different style?

[2018-01-19 16:36] martinklepsch commented on #209
I'm an outsider here but may I suggest http://tachyons.io/?

In my opinion it strikes a fantastic balance between framework-style productivity and customization. It can be weird in the beginning but especially with multiple people working on something it is very nice since everything is very local and you mostly don't need to think about the cascade (i.e. it's unlikely you break someone else's ass

[2018-01-19 16:59] 3esmit commented on #223
I agree to have the deploy of contracts automated, user just need run the RPC node willing to deploy them, but the script that would run it is Truffle (and possibly Ganashe)

As @jeluard mentioned, Ganache is an out-of-the-box solution, that works with truffle. Truffle is an awesome development framework, it contains testcases and deploy (migration) scripts.

As we are using a "contract library" (

[2018-01-20 12:54] andytudhope opened #225 "PR fixing issue not picked up"
### User Story

As a user, I want to SOB to pick up [this PR](https://github.com/status-im/artproject/pull/2) so that we can merge it and ensure that the bounty payout for [this issue](https://github.com/status-im/artproject/issues/1) goes to the right people..

### Description

*Type*: Bug

*Summary*: PR using correct syntax to fix issue is not getting picked up by SOB and the issue itself does n

[2018-01-21 07:00] pablodip opened #226 "UX details in pagination"
- [ ] The cursor in the buttons should be a pointer.
- [ ] When moving to a different page the screen should probably be moved to the top of the list.
- [ ] The button of next and previous page should probably look disabled when the current page is the first and the last one respectively.
- [ ] When changing the tab from bounties to activity and viceversa the current page should probably be restar

[2018-01-22 08:37] churik commented on #156
Have several comments according pagination feature:
1) On hover page number or on buttons "Back"/ "Next" mouse cursor has `auto` CSS property instead of `pointer`
2) On Safari and FF clicking on page number redirects to random place on page.
Video: https://drive.google.com/open?id=1ZAHPgvmb1C7tuQmYR9-kx_hPVyHRjDc4
3) would be nice to mark as disabled button "Back"\"Next" when they are not availabl

[2018-01-22 08:47] pablodip commented on #226
Just added `On Safari and FF clicking on page number redirects to random place on page.
Video: https://drive.google.com/open?id=1ZAHPgvmb1C7tuQmYR9-kx_hPVyHRjDc4` as @churik suggested here: https://github.com/status-im/open-bounty/issues/156#issuecomment-359356610

[2018-01-22 08:47] churik commented on #156
@pablodip thanks a lot!

[2018-01-22 10:11] siphiuel commented on #226
All clear to me, except for 2 items:

1. The activity list should also probably show at the top the message "Showing X of X".
@denis-sharypin Can you please throw together some quick mockup on how it should look like? Or is it ok to proceed with a simple label on top? I only saw the mockup for Bounty list, not for Activities. Or maybe I overlooked it somewhere?
2. It would probably help to have so

[2018-01-22 10:12] pablodip commented on #226
@denis-sharypin Happy to leave that out, just removed it from the list. :)

[2018-01-22 11:52] pablodip commented on #226
Just added a new one: `Pagination should work on mobile, since now it is broken.`.

[2018-01-22 12:00] siphiuel commented on #226
Pushed fixes for items #1-5, 7. Changed the design of Activities page so that it is the same as Bounties. Please let me know if it's ok or not.

[2018-01-22 14:48] andytudhope commented on #225
Was issue with changing fro `All repos` enabled for the GH app to `Only selected` a while back.

[2018-01-22 14:48] #225 closed

[2018-01-22 15:44] siphiuel commented on #226
Also applied CSS media queries for item 8 - `Pagination should work on mobile, since right now the design is broken`.

[2018-01-23 07:35] churik commented on #221
For end-to-end (automated tests):
I believe one approval from any QA will be enough for merging to master.

[2018-01-23 22:28] denis-sharypin commented on #218
@arash009 Hey, my thoughts on this:
Do you think the user story is correct? As a far as I get it, you want to know on what stage an issue is because you are the admin of SOB. Are those bounty statuses important for our users? We can create an admin mode where you will be able to see this and take actions

[2018-01-23 22:41] denis-sharypin commented on #180
@arash009 Please have a look,
I merged activity feed with bounties list and adapted activity copy for a context (removed bounties names, values etc )

![new activity](https://user-images.githubusercontent.com/6559881/35304683-af6ed748-0096-11e8-91e2-be1f3d64c811.png)

[2018-01-24 00:22] arash009 commented on #179
I would say depends on how much complexity we are adding and delay to get it complete. Ideally something like this would be great https://www.google.com/flights/beta?source=flgw#flt=/m/08966./m/0156q.2017-12-31*/m/0156q./m/08966.2018-01-04;c:CHF;e:1;s:0*0;dt:0000-1500;at:1100-2400;sd:1;t:f

[2018-01-24 01:00] arash009 commented on #218
hmmm good point @denis-sharypin . I think this is more relevant to the repo admin/maintainer, so not SOB admin. I think some of the stages would be relevant for users, and more details based on items in the current activity feed. Maybe this could form part of the Org dashboard #178

[2018-01-24 01:00] arash009 commented on #180
hmm interesting. how do you see further details back (full history) rather just the last status update? Maybe we could have a hidden list that contains the full history that gets displayed when you expand it?

[2018-01-24 06:39] pablodip commented on #180
To me the last status update in the list might be confusing. Agree with having a hidden box that expands on demand to see the full history. Otherwise it might be worth to have the dedicated page for each bounty so that we can have the full history there.

To me we've also lost valuable information from the list: the number of open claims.

[2018-01-24 06:45] pablodip commented on #218
What statuses might not be relevant to users? Personally as a user I would value to see as much information as possible, since that means transparency.

By the way, from the list of statuses in the issue point 4 and 5 are probably the same, aren't they?

[2018-01-24 06:57] pablodip commented on #179
@arash009 Do you mean that we should forget those questions for now?

By the way, the animations in the filter boxes of Google Flights are great! :)) And it is also nice the arrow indicating that the filter expands.

I have a couple of UX more questions, by the way, @denis-sharypin :

* When the list of bounties is empty because no bounty matches the filter, right not it shows "No recent activity

[2018-01-24 07:19] pablodip commented on #221
@churik Agree with that! :)

[2018-01-24 08:43] denis-sharypin commented on #180
What's the purpose of those statuses? From my point of view, they should save time/clicks while our user choosing a right task.  As Pablo mentioned the most valuable information: is anyone submitted a claim for this task or isn't.
I'm not sure that we need to show a full history because we have GitHub for this.

[2018-01-24 08:54] denis-sharypin commented on #218
I think we should retarget current Activity tab to repos/org admins and add there all those statuses that were mentioned in the first comment.

[2018-01-24 11:22] arash009 commented on #179
My recommendation:
1- Something like "No matching bounties found"
2- Great idea. Lets create a separate requirement/story for that and put it in the backlog so we dont forget

[2018-01-24 13:32] arash009 commented on #183
![sob_landing_draft_7_devs](https://user-images.githubusercontent.com/33149995/35334617-1ae8ff78-0167-11e8-8871-5a82d76ca9c2.png)

[2018-01-24 13:39] arash009 commented on #180
As discussed, to limit to only display the open claims and not the full history for this.

[2018-01-24 15:51] denis-sharypin commented on #179
Agree with Arash comment

[2018-01-25 06:11] pablodip opened #233 "Pending deployment in local environment"
When creating a bounty, it keeps telling `pending deployment`. It does send a transaction though: https://ropsten.etherscan.io/tx/0xf51e1093da3cb2f9f74bf07c6f9c3aee3818c2e77279e032a9dfede7df58eec8

This is a block in the workflow of the system in the local environment.

As far as I know it is happening to me, @siphiuel and @dmitryn.

[2018-01-25 06:13] pablodip opened #234 "Documentation for revoking bounties"
How should this be done?

cc @tpatja

[2018-01-25 06:30] oskarth commented on #233
Marking as high-priority since without this it is hard for devs to actually test stuff. Part of hand-over.

@tpatja

[2018-01-25 06:30] oskarth commented on #234
This is a common task and part of handing over capabilities so we aren't blocked by one person.

[2018-01-25 08:15] churik commented on #234
Do you mean directly from database, right?
Just FYI: actually in app we haven't this possibility yet
#185 is dedicated to this feature

[2018-01-26 11:44] #226 closed

[2018-01-29 10:39] churik commented on #156
Checked on https://openbounty.status.im:444/ - Chrome 64.0, Safari 11.0.1, FF 57.0.
For mobile: Iphone 7, Safari.

[2018-01-30 14:31] siphiuel opened #242 "MetaMask: Use web3.currentProvider instead of window.web3"
### Summary
When browsing Open Bounty website with MetaMask on, it complains in Console that
[code]

### Solution
Following the above given [document](https://github.com/MetaMask/faq/blob/master/detecting_metamask.md#web3-deprecation), use `web3.currentProvider` instead of `window.web3` when calling MetaMask in application code.

[2018-01-31 07:37] denis-sharypin commented on #180
I think we reached an agreement on this design.
Link to production file in Zeplin https://zpl.io/V0Ml9AR

![submitted claims and bouties](https://user-images.githubusercontent.com/6559881/35610480-b6094f18-0661-11e8-9d1c-c24e1a8195ab.png)

[2018-02-01 11:38] churik commented on #179
## 1. Default sorting ('Most recent') is shown bounty funded a month ago, than two months ago, and in the end of list - new bounties (currently on 11 page)

Steps:
 - open https://openbounty.status.im:444/app

### Actual result:
 old(not oldest) items on the top, newest on the bottom of the list

### Expected result:
newest on the top, sorting matches time on bounty (time, when  bounty contract wa

[2018-02-01 11:54] churik commented on #179
## 3. Applying filter not on 1 page leads to JS error, and you cannot apply filter anymore until manually page reloading

Steps:
- open https://openbounty.status.im:444/app
- go to 2 page
- apply some filter

### Actual result:
JS error; filter stucks until user manually reloads 'Open bounties' page
![filter](https://user-images.githubusercontent.com/4557972/35677180-4726d420-0757-11e8-97e9-9b0fad

[2018-02-01 12:08] churik commented on #179
## 1. No sorting in 'Owner' popup

Steps:
 - open https://openbounty.status.im:444/app
 - tap on 'Owner'

### Actual result:
![owner](https://user-images.githubusercontent.com/4557972/35677552-bcd0298c-0758-11e8-8dbb-60fc3f615ca8.png)

### Expected result:
Owners are sorted by alphabet;
Scroll bar is displayed when we have more than particular (lets say 10) amount of owners - it can be really long

[2018-02-01 12:13] churik commented on #179
5. General question - why the max option in Value is 1000? There are a lot of bounties with value more than 1000$ in prod env, so my suggestion is 10000$
![max](https://user-images.githubusercontent.com/4557972/35677838-d82d181a-0759-11e8-954e-dae5bc5a1095.png)

[2018-02-01 12:43] churik commented on #179
So, just to summarise:
- [ ] 1. Most recent' sorting fix
- [ ] 2. If you change sort option not on 1 page - you stay in the same page
- [ ] 3. Applying filter not on 1 page leads to JS error
- [ ] 4. No sorting in 'Owner' popup
- [ ] 5. Max option in 'Value'
- [ ] 6. Rename option 'With no claims' to 'Not claimed yet'

[2018-02-01 13:16] churik commented on #179
cc @arash009
- there is no filtering\sorting available on mobile now. Suppose, it is ok

So, just to summarise:
- [ ] 1. Most recent' sorting fix
- [ ] 2. If you change sort option not on 1 page - you stay in the same page
- [ ] 3. Applying filter not on 1 page leads to JS error
- [ ] 4. No sorting in 'Owner' popup
- [ ] 5. Max option in 'Value'
- [ ] 6. Rename option 'With no claims' to 'Not clai

[2018-02-01 14:17] arash009 commented on #179
Happy to keep MVP to exclude mobile for now.

Re 6. I'm not sure the current option of clicking twice on the filter button works. Maybe for this one its a single line that says "Show only bounties with no open claims" that user can tick.

[2018-02-01 14:36] pablodip commented on #179
@arash009 Should we create an issue for the filtering and sorting in mobile?

Regarding `Show only bounties with no open claims`, it is probably too long, and it would break the current design and UX (currently you firstly display the filter options, and then decide). Maybe a "More" filter where general options can be set?

[2018-02-01 14:58] pablodip commented on #179
@churik

1.) What are the exact semantics of "Most recent"? I sorted the bounties by the param `created_at`, but the one shown in the list is `updated_at`. Just don't know what `updated_at` really means and what we intend to convey with that date. cc/ @arash009

7.) What version of Firefox and OS? It works for me in version 57 and OS X.

[2018-02-02 08:30] pablodip commented on #179
@churik

7.) Sorry, just saw the detailed info above, that it was marked as 4.). Quesion: when you say click, do you mean only with mouse?

[2018-02-02 11:03] churik commented on #179
Re 6. @arash009 agree! let's ask @denis-sharypin to help us with it?

 @pablodip
 Re 1. Good question. If you currently use `created_at`, it means that this time just is not shown on current implementation, and I suggest to use `updated_at`as value which user used to see in Open Bounties. So, latest should be on top, sorting by `updated_at.

Re 7. Well for me it is not working when you click with

[2018-02-02 11:30] siphiuel commented on #233
Resolved in #244.

[2018-02-02 15:25] pablodip commented on #179
@churik

1.) Okay, will use `updated_at` for now to make the sorting clear in the UI, and will probably have to define well the date semantics that we want in the future.

7.) Okaayy, understood and reproduced now! I normally only tap, and I think that it should have the same semantics than clicking for a browser, that is why it works in Safari and Chrome. So I will investigate that weird behaviou

[2018-02-02 23:33] arash009 opened #246 "SOB design on mobile including filters"
### User Story

As a user of SOB on mobile, I want to have an easy to use design that includes sort/filter functionality, so I have a similar experience on mobile as I do on desktop.

### Description

Need to review current design on mobile.
Need to ensure features on desktop also work on mobile, e.g. sort/filters

[2018-02-03 00:08] arash009 commented on #223
How do we solve this incompatibility? Do we need to upgrade the version of solidity?
What are the next steps?

[2018-02-03 07:13] pablodip commented on #223
@arash009 That Ricardo's response is a little outdated with all that we talked in that conversation. The conclusion was that we can do it (that incompatibility isn't a block for this issue), and that we need to deploy some things apart from the SOB contracts, things that are normally already deployed and shared in public networks, like the token registry and some test tokens, including the Status

[2018-02-03 08:32] pablodip commented on #198
I am reopening this issue, since there are still some user stories here to tackle.

[2018-02-05 07:27] pablodip commented on #233
@siphiuel Nice! So closing this one. :)

[2018-02-05 07:27] #233 closed

[2018-02-05 08:03] denis-sharypin commented on #179
@arash009 I Agree with @pablodip there is no place for such a big label. I would keep it consistent with other filters. We could go with a design like this for example in future iterations
<img width="411" alt="screenshot 2018-02-05 09 01 35" src="https://user-images.githubusercontent.com/6559881/35793752-4f4fd4cc-0a53-11e8-9249-11767b2b1132.png">

[2018-02-05 10:41] status-open-bounty commented on #193
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa63893e381c0b065f43d4ff823b33aff4457b79ec800ac4264b7115b63ccf3c9](https://etherscan.io/tx/0xa63893e381c0b065f43d4ff823b33aff4457b79ec800ac4264b7115b63ccf3c9)

[2018-02-05 10:54] andytudhope opened #248 "Documentation for fixing repos in strange state"
Previously, we have had some repos get into strange states that required some manual work in the DB in order to fix (ref: an Aragon repo that continuously fired calls that cost a fair bit of gas).

I would love to be able to look into this myself and fix, as well as understand more clearly which kinds of states repos can get into in the first place.

[2018-02-05 11:19] pablodip commented on #248
@andytudhope Can you remember those strange states?

I remember two:

* When the repo was renamed.
* When the permissions in the Github App changed, we didn't notice in the SOB, and things weren't working.

[2018-02-05 11:24] andytudhope commented on #248
Yeah, those were exactly the 2 instances I was involved with - no others afaik 👍

[2018-02-06 10:08] arash009 commented on #180
To clarify, I believe agreement was to have the current "# of claims" still displayed next to the value, and in addition have the additional information below the bounty. This can be the MVP as displayed details of the PRs in a popup or expanded list can be complicated.

[2018-02-06 11:20] andytudhope commented on #178
I think this should be given absolute priority once we have v2 up and running. We have a request from the Aragon finance team specifically for this too:

"I was thinking: is there a way to build a feature that allows me to know how much I'm expending on bounties monthly (daily, weekly...), for example?
I would love to have a way to keep track of those expenses"

I think the dashboard should open o

[2018-02-06 12:53] pablodip commented on #180
@arash009 I think that is right.

The expanded list shouldn't be that complicated, I will give it a try and if it takes long I will set it as a bounty.

But I think there is a final step in design left: the list of bounties with "# of claims", where one of the bounties has open the expanded list. And I think that we talked that each bit of that info be in a list instead of a line. @denis-sharypin

[2018-02-06 12:55] pablodip commented on #180
@arash009 I am changing the issue to `designing` to wait for that last final design.

[2018-02-06 13:14] #214 closed

[2018-02-06 14:27] siphiuel opened #250 "Server-side pagination"
### Description
As number of SOB users increases, item count in `Bounties` and `Activity` pages will increase. This might slow down initial page load.

### Solution
Implement server-side pagination for queries populating bounty and activity lists. This will affect `open-bounties` and `bounties-activity` queries.

[2018-02-06 14:41] siphiuel opened #252 "Geth sync issues HOWTO"
### Description

Questions:

* Why does Geth get stuck at a block sometimes?
* How to get it unstuck and sync fully when it gets stuck?

[2018-02-06 14:45] #154 closed

[2018-02-06 14:54] siphiuel commented on #114
Repository-related functionality moved to GitHub App.

[2018-02-06 14:54] #114 closed

[2018-02-06 15:53] pablodip commented on #248
I am closing this one since we already know how to handle these issues:

The first one just by changing the info directly in the database.

And the second one by asking to enable permissions for the repo in the Github App.

[2018-02-06 15:53] #248 closed

[2018-02-06 16:09] pablodip opened #253 "Bot account out of Ether issues"
Questions:

* What problems does it create in the state of the database?
* What things need to be run manually after the bot has Ether again?
* Any other problems to solve regarding that?

[2018-02-06 16:30] pablodip commented on #234
@churik Sorry for the late response. :S Yes, I meant to execute the operation manually, since as you mentioned there isn't any automatic process for that yet.

[2018-02-06 16:51] pablodip commented on #250
@siphiuel This is a bit tougher than it gets, since filtering and sorting are also involved in the pagination.

[2018-02-07 11:50] status-open-bounty commented on #223
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x36430abaa036576a359f47759648ddfa1f3b2b933acc69e64a235400b5a23b61](https://etherscan.io/tx/0x36430abaa036576a359f47759648ddfa1f3b2b933acc69e64a235400b5a23b61)

[2018-02-07 14:21] siphiuel commented on #250
Right! This will also affect sort/filter.

[2018-02-07 14:56] churik commented on #179
## 8. Cannot remove filter 'Owner' when it include several owners from start and end of the list (Safari only)

Steps:
 - open https://openbounty.status.im:444/app
 - click on 'Owner'
 - tick on first owner
 - scroll and tick last owner from the list
 - try to remove filter

### Actual result:
Filter is not removed; 3 of 2 owners are shown (attached video with more details)

### Expected result:
F

[2018-02-07 15:01] churik commented on #179
## 9. 'Value' is not usable in IE 11 and Edge(WIN 10 home)

Steps:
 - open https://openbounty.status.im:444/app
 - click on 'Value'

### Actual result:
IE 11 - ![ie11](https://user-images.githubusercontent.com/4557972/35923262-5fee5278-0c28-11e8-83cb-a97a83809847.png)
EDGE - ![edge](https://user-images.githubusercontent.com/4557972/35923269-65f086be-0c28-11e8-8943-ed8eae33e2ab.png)

### Expected r

[2018-02-07 15:07] churik commented on #179
## 10. Scrollbars are shown on every filter when they are not needed (WIN 10 home)

Steps:
 - open https://openbounty.status.im:444/app
 - click on any filter value

### Actual result:
IE 11 -
![ie11](https://user-images.githubusercontent.com/4557972/35923262-5fee5278-0c28-11e8-83cb-a97a83809847.png)
EDGE -
![edge](https://user-images.githubusercontent.com/4557972/35923269-65f086be-0c28-11e8-8943-

[2018-02-07 15:13] pablodip opened #255 "Fix Cider dependency when not being present in the system"
### User Story

As a developer I want to not have Cider installed in my system if I don't use it and the project work correctly.

As a developer I want the project to be editor agnostic so that it doesn't have extra dependencies related with editors.

### Description

We don't have Cider as a dependency in the project.clj, since re removed it little time ago.

But we still use some Cider namespace

[2018-02-07 15:15] churik commented on #179
## 10. When all filters applied, they are aligned only to the top

Steps:
 - open https://openbounty.status.im:444/app
 - apply all filters

### Actual result:
<img width="1220" alt="z" src="https://user-images.githubusercontent.com/4557972/35923818-fb5e8632-0c29-11e8-941b-4e0870927765.png">

### Expected result:
Filters are aligned to the top and to the bottom.

OS: WIN 10 home
Browser: IE 11, Ed

[2018-02-07 15:24] churik commented on #179
## 11. Sorting arrow missed design in IE 11
Steps:
 - open https://openbounty.status.im:444/app

### Actual result:
![buggy_receny](https://user-images.githubusercontent.com/4557972/35924378-945dc9c8-0c2b-11e8-82a4-62851e3841fa.png)

### Expected result:
![real_fhf](https://user-images.githubusercontent.com/4557972/35924415-af350ea0-0c2b-11e8-8eaf-f701e63a4255.png)

OS: WIN 10 home
Browser: IE 11

[2018-02-07 15:28] churik commented on #179
So, new list:
- [ ] 8.Cannot remove filter 'Owner' when it includes several owners from start and end of the list (Safari only)
- [ ] 9. 'Value' filter is not usable in IE 11 and Edge(WIN 10 home)
- [ ] 10. Scrollbars are shown on every filter when they are not needed (WIN 10 home)
- [ ] 11. When all filters applied, they are aligned only to the top
- [ ] 12. Sorting arrow looks different in IE 11

[2018-02-07 15:38] pablodip commented on #179
8.) I think that I already know why this happens and will try to fix it in a PR.
9, 10, 12.) How about disabling filtering and sorting in Windows and creating two independent issues as bounties to fix those issues and enable the features?

[2018-02-07 15:54] denis-sharypin commented on #179
@pablodip

I have proposals on how to fix the issue N10.

1. We have to make a left column wider (787px) and a right column tighter (320px). Space between them is 24px.

2. We have to move a sort feature to the line below where the number of bounties is. Which means if there are no bounties we don't show a sort control and a number of bounties. Please, keep an eye on the separator between sort/num

[2018-02-08 05:33] pablodip opened #258 "Separate web and worker processes and perform graceful shutdown"
### User Story

As a devops I want to run the web and worker processes separately, for example in different servers, so that the server processing public web requests isn't interfered by the server processing background tasks.

As a devops I want that the processes shut down gracefully when I send them a `SIGTERM` signal, so that I can start/restart/stop them at will.

### Description

Right now t

[2018-02-08 06:11] pablodip opened #259 "Save web sessions state in a service"
### User Story

As a devops I want to restart the web server or change it to another server without it losing web sessions state.

### Description

Right now it's being used `immutant.web.middleware/wrap-session` to save the state.

The expected behaviour is to save the state in Postgres, so that we can just not add more kinds of services for now. It could be done with https://github.com/luminus-f

[2018-02-08 10:50] andytudhope commented on #179
LGTM

Seems like there is then lots of potential to add new filters as we go too; bounties for new bounty filters 👍 Maybe we could right-align the totals earned in the right column and then have the name be shortened if it is a really long username?

[2018-02-08 11:56] churik commented on #179
I didn't agree because I believe we have a lot of users on Windows.
I don't have a statistic data, but I pretty sure that Windows is one of most general OS.
So I prefer to see fixed at least 10.

[2018-02-08 12:32] pablodip commented on #179
@churik I'm not saying that it isn't important, just that we could have it now for some users while unblocking the `develop` branch, and we could delegate the fixes and enable it for Windows once it is fixed there. I just don't have a Windows setup here to be able to fix it. :S

[2018-02-08 13:38] status-open-bounty commented on #242
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x5a7c5a9786d95795e360fde245bb3ee143c7c9690792191b6860463451dd9b2b](https://etherscan.io/tx/0x5a7c5a9786d95795e360fde245bb3ee143c7c9690792191b6860463451dd9b2b)

[2018-02-08 14:33] churik opened #262 "UI filtering/sorting issues (WINDOWS)"
### User Story

As a user I want to see filters look alike in all common browsers like Chrome, Safari, Firefox, IE 11, Edge

### Description
*Type*: Bug
*Summary*:

#### Expected behavior
1,2) scroll bar appears only in 'Owner' filter, when it is needed (>10 values)
![right_3](https://user-images.githubusercontent.com/4557972/35977770-a499e86e-0cec-11e8-9bb9-74b10256b815.png)

3) arrow in ''Sortin

[2018-02-08 14:35] churik commented on #179
9, 10,12 moved to https://github.com/status-im/open-bounty/issues/262

[2018-02-08 14:38] churik commented on #187
## 1. Address is reset in "Payment details" after page reload (if set with MetaMask)
Steps:

 - open https://openbounty.status.im:444/app
 - log in
 - log in to Metamask
 - select address from drop down
 - click on Update
 - reload page

### Actual result:
"Select address" is displayed

### Expected result:
new address (same as in database)

Video: http://take.ms/9rMqd
OS: Mac OSx
Browser: Chrome

[2018-02-08 14:51] status-open-bounty commented on #262
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xafad3cc8e22ebe9cbadd76f1f2693446a9934d32a1b6c595bc34f95d2c798fcd](https://etherscan.io/tx/0xafad3cc8e22ebe9cbadd76f1f2693446a9934d32a1b6c595bc34f95d2c798fcd)

[2018-02-08 15:30] #179 closed

[2018-02-08 16:12] siphiuel commented on #187
Created a PR with a fix for this: https://github.com/status-im/open-bounty/pull/263

[2018-02-08 16:49] siphiuel opened #264 "Status team member check taking an awful amount of time"
*Type*: Bug

### Description
`commiteth.github.core.status-team-member?` fn is invoked during initial user profile loading, and it can take up to 4-5 seconds to complete. It checks whether currently logged-in user is a member of Status org on GitHub or belongs to Status team. If the return value is true, Usage Metrics tab becomes visible. Execution times are so long due to multiple GitHub API quer

[2018-02-08 19:39] #255 closed

[2018-02-08 19:43] status-open-bounty commented on #259
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x98d6a19656ad22538289a8c74bea253ab18894c1f7777ca136d7f55c290530d2](https://etherscan.io/tx/0x98d6a19656ad22538289a8c74bea253ab18894c1f7777ca136d7f55c290530d2)

[2018-02-09 13:13] pablodip commented on #264
@siphiuel How could it be easily reproduced in production? I'm trying to get that delay but can't feel it right now. :S

[2018-02-09 13:51] siphiuel commented on #264
The delay will be there once https://github.com/status-im/open-bounty/pull/263 is merged. It causes the queries to `/api/user` to execute longer.

[2018-02-09 13:57] pablodip commented on #264
Aah, okay! :)

[2018-02-09 14:12] siphiuel opened #267 "Ethereum contract model"
*Type*: Feature

### Description
It would be nice to model Ethereum contracts as a separate entity in the application and DB. Right now contract data are stored together with issue data.

### Solution
Store contract-related data in `contracts` table that will be referenced from `issues` table.

[2018-02-09 14:16] churik opened #268 "Footer is not pinned to the bottom"
### Description
*Type*: Bug
*Summary*: footer should be pinned to the page bottom, so I expect that no gap is shown between page bottom and footer.

#### Expected behavior
pinned footer

#### Actual behavior
a gap between footer and page bottom on some pages (which contains not a lot of content, i.e. one field)
<img width="1482" alt="1056-842" src="https://user-images.githubusercontent.com/4557972

[2018-02-09 14:41] status-open-bounty commented on #268
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb6faf80188cd3504ba878920a253e48e8dffd63ac0cc46853e5440d4e40b7770](https://etherscan.io/tx/0xb6faf80188cd3504ba878920a253e48e8dffd63ac0cc46853e5440d4e40b7770)

[2018-02-09 15:38] shadywallas commented on #268
i fixed it but not able to see how to support it , pull request ?

[2018-02-09 15:39] churik opened #269 "When all filters are applied and filter 'Value' is set (from $1000), they are not aligned by height (FireFox, Chrome)"
### Description
*Type*: Bug
*Summary*: want to see all filters nicely aligned by height regardless of what filters are currently applied. Now if all filters are applied, filter 'Value' filter continues contain one row while other filters contain 2 rows.

#### Expected behavior
like in "Safari"

#### Actual behavior
<img width="794" alt="11" src="https://user-images.githubusercontent.com/4557972/36

[2018-02-09 15:47] churik commented on #179
Test-plan with all test results can be found here: https://ethstatus.testrail.net/index.php?/plans/view/87

 Separate issue #269 is created as I believe it is not show-stopper for this feature.

For now:
 - all mentioned above issues are fixed;
 - filtering/sorting option is completely disabled for all Windows users (because of #262)
Checked in Chrome, FireFox, IE;
 - filtering is disabled for mob

[2018-02-11 11:13] pablodip commented on #268
@shadywallas Yeah, you can send a pull request. There is already one (https://github.com/status-im/open-bounty/pull/270), but feel free to send a new one if you have a better solution. If so, please provide an explanation about why it is better.

[2018-02-11 21:06] pablodip opened #271 "Production Workflow"
I am feeling two problems in the current production workflow:

1.) We have several places to organise production: right now two projects on Github. Besides, some issues don't even fit in those two projects, so can't follow any workflow and their progress is more difficult. All that makes us not know well where to look to know what is going on, and avoid us to visualise well the status of the whole

[2018-02-12 09:22] pablodip opened #272 "Autobounty Position"
It isn't clear (at least to me) the position of the Autobounty in the SOB. So let's try to define it. :) (Or just let me know where it is defined if it is already defined. :)

1.) As I understand the Autobounty is just an external addon for the SOB, at least now, but not a SOB core feature. Is that right?
2.) @churik  said that she would like to add it to the SOB. How exactly and what for? If it i

[2018-02-12 09:35] churik commented on #272
2), 4), 5) afaik Autobounty will supposed to be a core feature and @andytudhope wants to use it with all future bounty issues, but initially it was requested by Aragon team.
I'm not sure who will care about autobounty bot maintanence (SOB team or external contributor or Aragon team)
May be I'm wrong, because a source of all info is only my point of view from slack channel conversations.

cc @andyt

[2018-02-12 09:40] andytudhope commented on #272
Defining it here for some further formailisation is fine by me.

1. Yes.
2. Will answer below, and it also affects 3.
4. I am.
5. Agree.

So, the idea for this was to find someone capable of converting the little nod.js script written by the Aragon team into a bot that was ready for production and could be used by early adopters like Aragon and Riot. We then plan to see if it is a useful and safe

[2018-02-12 10:02] v2nek opened #273 "Add robots.txt for non-production environment."
### User Story

As anyone, i want to have robots.txt for non-production environments to avoid penalty from search engines for exposing content and removing it without redirects.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actual

[2018-02-12 14:00] pablodip commented on #272
@andytudhope Thank you for all that info! :)

I think that it is better to keep it as a separated entity and integrate it here in the SOB when we have already tested it and want it to become a core feature. What do you think?

Btw, when we want it to become a core feature, it could well be a swarm idea. :)

[2018-02-12 14:37] arash009 commented on #271
Thanks for the suggestions @pablodip . I'm happy with the point 2 re additional columns. On point 1 and having just 1 project, I think its a good idea to combine the 2 current projects, but I'm unsure about putting the entire backlog in the project then.

For one, we have alot of issues and we continuously create more. Having all new items in the project means having to continuously priorities the

[2018-02-13 07:59] pablodip commented on #271
@arash009 Those are nice problems to solve. :) I am going to number them so that we can distinguish them better.

3.) Regarding having the whole backlog, I think that we could just have any number of issues in Github, but as soon as we want to prioritise them or they get started, we add them to the project, so that they follow the workflow. What do you think?

4.) As for grouping issues, we could

[2018-02-13 08:50] churik opened #275 "Filter by currency use 'AND' instead of 'OR'"
### Description
As it turned out, most of users expect that filter by currency will use 'AND' instead of 'OR'

#### Expected behavior
'ETH' and 'SNT' enabled return all bounties with 'ETH', 'SNT' or with both of them

#### Actual behavior
'ETH' and 'SNT' enabled return only bounties with both 'ETH' and 'SNT'
![ethsnt](https://user-images.githubusercontent.com/4557972/36140777-25c8cf9c-10ab-11e8-8f

[2018-02-13 12:23] denis-sharypin commented on #180
@arash009 @pablodip
What do you think about this design? When you click on **# of claims** it opens a small area where we show userpicks (clickable, goes to a personal profile on GitHub), name of PR and timestamp. If you click one more time on  **# of claims** it closes this area.
![sort-filters updates 2x copy](https://user-images.githubusercontent.com/6559881/36149729-206df02a-10c1-11e8-9350-3b5

[2018-02-13 12:36] arash009 commented on #180
@denis-sharypin I think thats great! Only two points:
1. Not sure if its obvious that **# of claims** is clickable. Can we do a little down arrow next to it or something?
2. Wouldnt the link of each one be to the PR link not the user GH profile?

[2018-02-13 12:47] pablodip commented on #180
@denis-sharypin Definitely like it more than the previous one. :))

I have one point:

3.) How is it perceived that those pull requests are from the one above and not below? This might be related with 1.) than mentioned @arash009 We could have two kind of arrows, one for when it is hidden, and one for when it is expanded, and both 1.) and 3.) would probably be solved.

@arash009

2.) I think that

[2018-02-13 13:03] martinklepsch commented on #271
Couldn't we use Milestones for this? I'm not very familiar with how Milestones and Projects interact but I assume that should work?

[2018-02-13 13:16] churik commented on #271
3) I think that we can prioritize issues during our stand-ups or if issues are urgent/blockers for anyone - in Slack channel. And I personally would be happy with one project instead of two.
4) I believe that labels and columns are completely enough for organization needs. We just need to add several columns and document how and when use labels.
5) Heavy plus! Testing PRs - not issues - is common

[2018-02-13 13:51] martinklepsch opened #278 "Replace cljsjs.moment with goog.date helpers"
### User Story

As a user, I want to OpenBounty to load and run fast so that I can get things done.

### Description

*Type*: TechDebt

*Summary*: Currently we depend on `cljsjs.moment` for a single function:

[code]

Moment.js adds ~20k (gzipped) to the build which impacts download and JS parsing time. Using `goog.date` we are able to achieve the same while also benefitting from advanced compilat

[2018-02-13 14:34] pablodip commented on #271
@martinklepsch Regarding milestones, they are just if we set a goal in a group of issues. I personally don't like that that practice unless in very certain occasions, since it involves move organisation work, and allows less auto-organisation. Here we are more in a continuous flow I think, at least for now.

@churik

5.) How should we organise together both issues and pull requests? For example, i

[2018-02-13 14:42] status-open-bounty commented on #278
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x0a84d9d343954a8e8fa1660bef7f1fddc0e00783de20a063a1a97abaed4f4df6](https://etherscan.io/tx/0x0a84d9d343954a8e8fa1660bef7f1fddc0e00783de20a063a1a97abaed4f4df6)

[2018-02-13 15:40] churik commented on #271
5) Hm, let's see. I status-react - there are several projects with different goals - one of them is  'Pipeline for QA' - which includes only issues which should be tested by QA.
I suggest DON'T move issues to test at all, except only non-reproducible issues (so, I just need to verify that they are not reproducible)
Basically I suggest -  columns 'To define', 'In Bounty', 'Defining', 'To design' 'D

[2018-02-13 16:49] churik opened #281 "Redirect to main test domain when login to custom PR domain"
### User Story

As a QA, I want to test each PR separately.

### Description
*Type*: Feature
*Summary*: when I log in to particular PR custom domain name, I'm redirected to https://openbounty.status.im:444/app

#### Expected behavior
logged in and redirected to PR custom domain name

#### Actual behavior
after login I redirected to https://openbounty.status.im:444/app

### Reproduction

- Open Sta

[2018-02-13 16:54] siphiuel commented on #281
This is caused by invalid `redirect_uri` for GitHub OAuth App. `redirect_uri` sent in the authorization request should be identical to the URI specified in the OAuth App configuration.

[2018-02-13 18:02] denis-sharypin commented on #180
@pablodip @arash009 UPD
![sort-filters updates 2x copy](https://user-images.githubusercontent.com/6559881/36165598-636719a4-10f0-11e8-9f1a-c7eaffff829f.png)

[2018-02-13 18:46] siphiuel commented on #234
Did some investigation. In order to revoke a bounty, the following steps should occur:

- invoke `multisig/send-all` from contract address to repo owner address
- this will give us an `execute-hash`. Use it in a scheduler thread to obtain `confirm-hash` from transaction receipt
- use `confirm-hash` to invoke `confirmTransaction` with a callback fn. This fn will receive a `payout-hash` string, whic

[2018-02-13 23:14] arash009 opened #282 "Search functionality"
### User Story

As a developer looking for bounties, I want to be able to search on keywords that interest me, so that I can easily find a bounty and not have to use filters or scroll through every single bounty.

### Description

*Type*: Feature
A search function that searches based on keywords in the title of bounty that is posted.

[2018-02-14 06:41] pablodip commented on #271
@churik That is great, thanks a lot! :)

5.)

a.) Agree with having two projects, one for issues and another one for pull requests, since they can't follow the same workflow. How about naming them like "Pipeline For Issues" and "Pipeline For Pull Requests"?

b.) Why is the `In Bounty` column at the left of `Defining`? A bounty is already defined, designed, and has passed `To Develop` and decided t

[2018-02-14 06:47] pablodip commented on #234
@siphiuel That's great! :))

1.) Have you tried that those steps actually work?

2.) How should those be executed right now, totally manually or is there anything in code for that?

3.) Revoking a bounty has a cost. Should we really execute the revocation instead of letting the contract for a future bounty?

4.) Agree with showing somehow revoked bounties in the UI. How about creating an issue to

[2018-02-14 06:48] pablodip commented on #180
@denis-sharypin Like it more! I would try it like that. Let's see what @arash009 says.

[2018-02-14 08:05] churik commented on #271
a) yes, we can. Names seems to me fine.
b) agree, but also we should think how to deal with PR from external contributors, at least for now
c) agree as well
d) in case when `Issue is feature/enhancement` - it can be pretty large and we need to split it, so I think in this case we can create several PRs as parts of big story.

[2018-02-14 09:17] arash009 commented on #180
Perfecto! Lets do it.

[2018-02-14 10:11] siphiuel commented on #234
1) Yes, we've tested it with @andytudhope
2) Verified them in the REPL for now, connected to prod Geth
3) Not qualified enough to answer this. Maybe @3esmit and @andytudhope can advise.
4) Yes, will do.

[2018-02-14 10:43] siphiuel opened #284 "Bounty revocation: UI + backend"
*Type*: Feature

### Description
Currently, bounties cannot be revoked and funds cannot be withdrawn from bounties assigned to issues that are no longer considered to be up for a bounty.

Therefore, it would be nice to be able to remove GitHub bot comment and withdraw funds from associated contract if an issue had a `bounty` label removed. Thus revoked bounties should be somehow visible in SOB UI.

[2018-02-14 10:43] siphiuel commented on #234
1. To be more precise: payout confirmation was not executed via REPL, but manually by @andytudhope using MyEtherWallet. This essentially does what `Confirm Payout` does in SOB UI, but as there was no merge and no PR, these revoked bounties did not show up in `Manage Payouts`.
4. https://github.com/status-im/open-bounty/issues/234

[2018-02-14 11:01] denis-sharypin commented on #180
Mockup is here — https://zpl.io/2GzzP8d

[2018-02-14 11:09] pablodip commented on #234
1.) Is it enough to perform revocations via MyEtherWallet right now, is is there any step required REPL access in the Clojure system to change/fix any state? Just to know the exact modus operandi that we can use right now when we need any revocation, and if we have a dependency on REPL access for that.

[2018-02-14 11:11] pablodip commented on #284
The title of the issue only mentions UI, and the description also backend and new logic. How about splitting those in different issues?

Regarding the UI, it should probably be defined and design with @arash009 and @denis-sharypin, shouldn't it?

[2018-02-14 11:15] pablodip commented on #271
b.) The only way we have to deal with pull requests from external contributors is to merge them in `develop`. They could follow the same described workflow, but being merged in `develop`, and we couldn't ask for any changes after merging for now, since the bounty would already be given. Not ideal at all. :S

d.) I think that better than several pull requests would be to split a big issue in severa

[2018-02-14 11:20] pablodip commented on #284
I didn't mean to fix the title. :)) But to split the issues so that we can treat them better separately, since even though they are about revocation, they are different things.

For example we need to talk to @3esmit and @andytudhope about what we talked in point 3.) in issue #234.

And with @arash009 and @denis-sharypin the UI thing.

[2018-02-14 11:22] #272 closed

[2018-02-14 11:31] siphiuel commented on #284
I think it's fine to keep it as a single issue. It can implement some basic UI, and then as suggested earlier we can improve UI separately. Having some kind of UI in the basic package will also simplify testing I guess. Just my thoughts.

[2018-02-14 11:38] pablodip commented on #284
1.) How are revoked issues shown right now in the UI? Or not shown at all?
2.) How are revokes issues marked in the database/domain right now?

[2018-02-14 11:41] pablodip commented on #180
Nice! Just moved to `To Develop`.

[2018-02-14 11:47] siphiuel commented on #284
1) Not shown at all
2) If/when #235 is merged, then revoked issues will reside in the `archive` table

[2018-02-14 11:56] martinklepsch opened #285 "Require GPG signature (PR check)"
Currently there's a GitHub check that commits have a GPG signature.
For users who don't have GPG signing set up one of the checks will fail.

While I believe that GPG signing is generally a nice thing we should also consider new contributors who might open PRs without being aware that GPG signing is mandatory. Immediately "red-flagging" their contribution due to the lack of a GPG signature might n

[2018-02-14 12:50] martinklepsch commented on #209
Somewhat related https://github.com/status-im/open-bounty/issues/183

[2018-02-14 13:48] martinklepsch opened #286 "Transition Wiki into doc/ directory"
As discussed in standup. Reasons mostly being that wiki might get out of sync with state of repository.

[2018-02-14 13:55] siphiuel commented on #286
Do you think we should include https://github.com/status-im/open-bounty/wiki/Contributor-Guidelines in the repo? It does not depend on the state of repo itself.

[2018-02-14 14:03] martinklepsch commented on #271
@churik @pablodip would one of you be up to summarize the proposed process in a markdown file (in `doc/`) and propose that through a PR?

I've read all comments and they all seem sensible just a bit hard to piece the entire picture together from various comments 😅

Small issues + small PRs :+1:

Without wanting to push for the use of milestones I'm not sure I understood why milestones prevent auto

[2018-02-14 14:06] pablodip commented on #286
Yeah, my vote is for including everything in the repo, so that we get all the versioning and collaboration superpowers that we have round the repo.

[2018-02-14 14:07] martinklepsch commented on #286
@siphiuel with that file specifically it might make sense to place it in the repo as `CONTRIBUTING.md` since github provides some special functionality around that.

[2018-02-14 14:11] siphiuel commented on #286
So there it is: #287.

[2018-02-14 15:11] pablodip commented on #285
What is the exact advantage of requiring it to core devs and not to external contributors?

That post talks mainly about tags, but we don't use tags. :S

[2018-02-14 16:23] martinklepsch commented on #285
Signing commits allows others to verify that a commit has been created by you. In theory someone might get ahold of your GitHub account and publish commits under your name. GPG signing is an additional layer to prevent that.

Requiring it from core-devs only would seem appropriate since core-devs might push code directly or their code is reviewed with a less critical eye than the code of an extern

[2018-02-14 16:28] #286 closed

[2018-02-14 20:41] pablodip commented on #285
Yeah, can't see a concrete benefit from GPG right now. :S

Totally agree with adjusting the status checks to only the ones that we use.  So for me we can just disable the GPG for now. Do you know how that can be done?

[2018-02-14 20:46] pablodip commented on #187
@siphiuel Where is the current pull request of this issue? :S

[2018-02-14 23:16] martinklepsch commented on #281
The only way to make this work seems to have separate Github Apps for different environments. I opened a [thread on the GitHub Platform Forum](https://platform.github.community/t/same-app-in-multiple-environments/5012) to ask for advice around this issue.

If nothing fruitful comes out of this discussion we might want to look into scripting the creation of GitHub apps using a headless Chrome/[pupp

[2018-02-15 07:38] pablodip commented on #281
@martinklepsch Please, let us know how that goes on, since this is a high priority issue that blocks us to test pull requests separately.

[2018-02-15 07:49] oskarth commented on #281
Maybe the solution is to loosen constraint of testing each PR separately and do nightly testing/testing of staging instead? It's virtually free to revert commit if it is bad. This is similar to what we are moving towards in status-react.

[2018-02-15 07:52] pablodip commented on #219
@siphiuel Could you please list here in the issue the syncs that we should perform as part of this issue, so that we define better the scope?

[2018-02-15 08:09] pablodip commented on #281
@oskarth We're already testing the `develop` branch, but it's a great limitation as we're already feeling with a few pull requests. :)

[2018-02-15 09:01] siphiuel commented on #187
This would be #263.

[2018-02-15 09:04] #187 closed

[2018-02-15 09:33] siphiuel commented on #234
1) The DB has to be updated. I believe the transaction itself needs to be executed from REPL, as it depends on commiteth Eth account that is unlocked by Geth.

[2018-02-15 09:58] pablodip commented on #234
1.) Not sure to understand it fully. So there are two main things to do for the revocation:

a.) Call Ethereum to return the money.
b.) Update the database to reflect a correct state.

You said that @andytudhope can execute point a.), but how about point b.)? Do we need it to do it manually in the database right now if we need to complete a revocation?

Please, correct me if I am missing or not ge

[2018-02-15 10:03] siphiuel commented on #219
I think that the following should be done:

- As GitHub does not send notifications when repo name changes, we should stop relying on it in our code, and use repo_id instead, which does not change.
- It might make sense to schedule periodic pulled updates from GitHub. There are at least 3 ways to do this:
  1. Automate redelivery of failed GitHub App payloads. Unfortunately, GitHub does not yet pr

[2018-02-15 10:05] pablodip opened #291 "Fix command to run migrations"
### User Story

As a develop/devops I want to be able to run migrations with `lein run migrate`, as it is specified here: http://www.luminusweb.net/docs/migrations.html

### Description

This is important to separate running the app from running the migrations, that right now it is coupled, and everything the app is run, the migrations are run: https://github.com/status-im/open-bounty/blob/develop

[2018-02-15 10:08] siphiuel commented on #234
Sorry, I was unclear indeed. In detail:
a) There are 2 steps here: one is call to `withdrawEverything()` method in the contract, another one is `confirmTransaction()`. I think that the former should be executed from REPL, and cannot be executed from MEW.
b) We have to do DB update manually right now, yes.
c) Sorry, forgot to mention that GitHub comment must also be updated via a REPL call.

[2018-02-15 10:09] pablodip commented on #219
Okay, that's nice info! :)

Do you think that the first point (using the repo id instead of the name) can be done in an isolated issue?

I would leave the rest for the new structure, as we talked.

What do you think?

[2018-02-15 10:13] pablodip commented on #234
I get it now, thanks a lot! :)

@andytudhope Could you please confirm that `confirmTransaction()` cannot be executed from MEW?

[2018-02-15 10:16] siphiuel opened #292 "GitHub interface: replace repo_name with repo_id"
*Type*: Bug

### Description
When a GitHub repo is renamed, no notification is delivered via OpenBounty GitHub App webhook. So an old repo name is being stored in the database, which is not good, as it is used for some aspects of the functionality, like QR code generation, repo fetching from DB, etc.

### Solution
Replace all usage of `repo_name` in code when it is used as a repo identifier with r

[2018-02-15 10:16] siphiuel commented on #219
So be it: https://github.com/status-im/open-bounty/issues/292

[2018-02-15 10:26] pablodip commented on #292
I don't think that we should remove `repo_name` from the database, since we are using it in the interface and want fact access to it.

To me the goal/scope of this could be to not use the repo name as identifier, that is an identifier that can change, but just the actual identifier (repo_id), which is an inmutable identifier as you said.

What do you think?

[2018-02-15 10:27] status-open-bounty commented on #291
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x09eddde3a94bd0480489d5be00053020b79fcaaab2a26fb3c92c0407d4268428](https://etherscan.io/tx/0x09eddde3a94bd0480489d5be00053020b79fcaaab2a26fb3c92c0407d4268428)

[2018-02-15 10:31] siphiuel commented on #292
Yup, updated the solution in the description.

[2018-02-15 12:01] martinklepsch commented on #285
Well the concrete benefit is that we can verify that a commit has been made by one of us 🙂

There's some more context around GPG signing and why it has been adopted for `status-react`: https://wiki.status.im/Code_signing_commits_into_develop — I'm currently trying to figure out if it is company policy or not.

Given that the effort to set up GPG isn't terribly high I'm close to suggesting we just

[2018-02-15 12:48] martinklepsch commented on #285
So as per https://status-im.slack.com/archives/C962N8HJ5/p1518695704000167 GPG signing is currently soft-enforced. I'd suggest that everyone sets up GPG signing as it will become an enforced policy at some point.

Are you ok with that? @churik @siphiuel @pablodip

[2018-02-15 13:23] martinklepsch commented on #285
FWIW here's a very minimal starting point to get GPG signing set up on OS X:

1. install https://gpgtools.org/
2. generate a keypair
3. upload public key to github
4. put this into your gitconfig:

       [commit]
           gpgsign = true

[2018-02-15 15:15] pablodip commented on #285
Couldn't still find a plain example of the risk and explanation of the solution, but I'm okay with using it. :)

How are we going to deal with external contributors in the end? The status check is still there. :S

[2018-02-15 15:40] martinklepsch commented on #285
@pablodip as far as I understood the status check is only done on commits of core contributors (I assume GitHub organization members are considered that).

The risk:
- Some attacker gets access to my GitHub account.
- They may then add commits and tags to the repository.
- Without GPG signing we have no way to verify if the commit/tag has actually been created by me.

The solution:
- I share my pu

[2018-02-15 15:50] pablodip commented on #285
The weird thing is that we are protecting what is already a disaster: account access. And we can try with GPG, but in other platforms we would already be lost, like in a server provider account or so. And we're protecting the Github account with the same ways as other accounts, hehe.

And also: if an attacker can access our Github, can't they also change the GPG keys and sign well too? Don't total

[2018-02-15 15:52] pablodip commented on #275
Pending: https://github.com/status-im/open-bounty/pull/279#issuecomment-365966407

[2018-02-15 17:17] siphiuel commented on #285
1. I don't completely understand the rationale either
2. But am fine with using it. I've already had gpg setup before
3. If you're using macOS and console gnupg/pinentry (e.g. installed via `brew install gnupg`), please just don't forget to add `export GPG_TTY=$(tty)` to your shell config. Otherwise `git commit` will hang.

[2018-02-16 00:14] arash009 opened #297 "Remove default empty ETH value against bounties"
### User Story

As a user of SOB, I dont want the screen to be filled up with "ETH 0.000000" when the bounty contract doesnt have any associated ETH so the screen looks cleaner and is easier to read.

### Description
*Type*: Feature

Currently we show "ETH 0.000000" for each bounty regardless of its value or tokens in the contract. This is unnecessary and just creates confusion on the value of the

[2018-02-16 11:19] dmitryn commented on #285
@pablodip you can upload your gpg public key somewhere like https://keybase.io/trybeee as Martin said. This way you can verify committer is the person he really claims to be .

[2018-02-16 12:01] #278 closed

[2018-02-16 13:24] arash009 opened #300 "Derive bounty state from database"
In order to render a list of bounties on the dashboard of people managing bounties it would be useful to define some kind of data structure that completely describes the state of a bounty and can be used for rendering.

- Derive bounty state from database
- Simple Clojure data structure
- Potentially described using clojure.spec

##### EDITS

[2018-02-16 13:24] martinklepsch commented on #281
I think we can close this now that @v2nek set up a separate testing environment for @churik where she can deploy PRs on-demand?

[2018-02-16 13:26] churik commented on #281
we can close it now, at least till I'm only QA in open-bounty team)

[2018-02-16 13:26] #281 closed

[2018-02-16 13:29] arash009 opened #301 "Dashboard reports - basic"
### User Story

As a repo maintainer using Open Bounty, I was to see some simple metrics and reports on number of bounties and costs, so I can manage my finances

*Type*: Feature

Simple report showing values of:
1. Total bounties assigned + combined value
1. Total bounties paid out + combined value

---
##### EDITS

[2018-02-16 13:50] martinklepsch commented on #285
@dmitryn thanks for chiming in! @pablodip you are correct — if we only rely on GitHub to provide the GPG public key then this doesn't add much. The public key should be provided from a separate/trusted place like a personal website, keybase, etc.

[2018-02-16 13:50] #268 closed

[2018-02-16 14:01] #193 closed

[2018-02-16 14:29] martinklepsch commented on #301
test

[2018-02-16 14:51] pablodip commented on #300
What exactly is this about? :S

[2018-02-16 15:16] pablodip commented on #285
Thanks for that! Still some gaps, but totally okay using it, no worries. :)

[2018-02-16 16:03] martinklepsch commented on #300
@pablodip it's a result of [the meeting around org dashboard](https://docs.google.com/document/d/1PqzNR7dKUr4grU1XnC7dRQM2Uk0rSb6a1910Vph6Hbw/edit) today:

[2018-02-16 16:32] siphiuel opened #302 "Add offline transaction signing support (Infura)"
### User Story
Contributors often face issues setting up Geth locally. It would be nice to support Infura as a remote Ethereum node. This would simplify local setup.

### Description
Working with Infura requires offline transaction signing, as remote Infura node does not have access to local wallet file like Geth does. This means that transactions have to be signed with user's keys before they are

[2018-02-16 16:49] martinklepsch opened #304 "Remove web3-externs.js"
We currently have a file [`externs/web3-externs.js`](https://github.com/status-im/open-bounty/blob/develop/externs/web3-externs.js) which contains some externs for web3.js.

Improvements to the ClojureScript compiler probably allow us to get rid of that file and utilize [externs inference](https://clojurescript.org/guides/externs) instead.

It might also be that we don't need those externs at all

[2018-02-17 06:43] pablodip commented on #304
I personally don't agree with using the inference system of externs because it is still Alpha and doesn't totally eliminate the biggest pain of externs: different behaviour in dev and prod, which produces a lot of pain.

My vote is to use something like this: https://github.com/binaryage/cljs-oops, with the motivation explained here: https://github.com/binaryage/cljs-oops#motivation

[2018-02-17 06:46] pablodip commented on #304
Btw, not sure if we should put bounties that might not be possible, and we know it in advance. What happens for the contributors if it is true that it isn't possible to complete the issue?

[2018-02-17 06:52] pablodip commented on #302
@siphiuel This is nice, and thanks for having a look at it! :)

Before delving into the pull request, I have some concerns about the issue:

* To me the goal of the issue isn't to allow offline signing, but to allow to access to Ethereum in two ways: Geth and Infura. But just we do offline signing with Infura, but not with Geth yet (which would be ideal as well, but for another issue), but please

[2018-02-17 08:42] martinklepsch commented on #304
Externs inference is here to stay and I’m not sure how warranted the existence of the Alpha label is at this point.

For the minimal amount of externs we have right now extern inference seems like an appropriate tool compared to introducing a specialized library.

Also consider that by using a non-Standard library here the codebase becomes harder to understand for new contributors who are not fami

[2018-02-17 09:58] pablodip commented on #304
We don't use a specialised library, just `goog.object` for now.

As I told you the externs strategy has a huge problem that it would be nice if we can just avoid it.

What solvable situations do we have? Is it totally possible to get rid of `web3-externs.js`? Why the` if possible` then? I think that is is very helpful to define a concrete goal for the pain that we want to solve with the issue, and

[2018-02-17 10:48] martinklepsch commented on #304
I misunderstood you then, I thought you wanted to use `cljs-oops`. I'd be fine with using `goog.object` instead of externs inference if you have strong opinions on this. FWIW the cljs-oops author states in the README that cljs-oops [was created before Externs Inference was available](https://github.com/binaryage/cljs-oops#faq) and that he considers Externs Inference a promising approach.

I'm well

[2018-02-17 12:20] martinklepsch commented on #304
BTW, this presentation (also linked in the cljs-oops README) is pretty nice:

- [Navigating ClojureScript Fire Swamps](https://github.com/spinningtopsofdoom/navigating-clojurescript-fire-swamp/blob/master/presentation/navigating-clojurescript-fire-swamps.pdf)

It also points out another option which is probably the ultimate end-game here: native module processing. I think this might be worth explo

[2018-02-17 19:08] martinklepsch commented on #183
I started working on this today. @arash009 can you put me in touch with the designer who created the mockup? Would like to discuss a couple of things, discuss how to best collaborate in the future.

[2018-02-18 03:26] arash009 commented on #183
@nikitalukianov can you please work with @martinklepsch on this.

[2018-02-18 15:51] pablodip opened #306 "Fix :reload-all"
### User Story

As a developer, I want to be able to execute a `:reload-all` over any namespace so that I can get all code reloaded to that namespace reloaded.

### Description

Right now when you execute:

* `(require 'commiteth.core)` ( it works)
* `(require 'commiteth.core :reload-all)` (it breaks)

You get this exception:

[code]
<details>
<summary>Full Stacktrace</summary>
<pre>
#error{:cause

[2018-02-18 16:03] martinklepsch commented on #306
@pablodip good point 👍The full stacktrace would be useful here for documentation purposes.

[2018-02-18 22:05] nikitalukianov commented on #183
@martinklepsch yeah, i can help you, of course

[2018-02-18 23:48] martinklepsch commented on #183
@nikitalukianov can we maybe chat some time tomorrow (Monday)? Book a slot here: https://calendly.com/martinklepsch/60min-ea/02-19-2018 or just send me an invite. Thanks!

[2018-02-19 05:15] pablodip commented on #234
@andytudhope Ping. :)

[2018-02-19 05:52] pablodip commented on #304
I think it's more than a opinion, but concrete real pains:

* Potential breakages in production code, and so in production itself.
* Very frustrating bugs to fix, that require full advanced compilation for every trial and error.

Not sure to understand the intention and expectation of this paragraph and others about externs. Is it that you prefer to use externs, are arguing for it and expect a res

[2018-02-19 06:15] pablodip opened #307 "Fix Develop"
I think that right now we have develop dirty with some not finished/working feature/s, so it would be nice to fix that to unblock the workflow.

@churik Could you please confirm that, and if so what feature/s or issues or pull requests?

Thanks! :)

[2018-02-19 06:23] pablodip commented on #271
6.) Who should merge the PRs? To me the creator as much as possible, but we have one problem: from when a PR is tested by QA to where the PR is merged by the creator, there might be a delay, so the PR would need updating and the code might have changed. Proposal: QA could merge PRs when they pass QA testing. That way all PRs that QA tests would be up to date, since QA can use the `Update branch` b

[2018-02-19 07:23] churik commented on #271
6) @pablodip in this case we don't need column 'Ready to merge at all'. But we should have some stage between merging some bunch  of PRs to develop and deployment to master branch. Because I cannot guarantee that pieces, which works separately, will work together a same way.

[2018-02-19 08:11] pablodip commented on #271
6.)

Good point! Since the merge we're talking about doesn't mean to get to production, but `develop` for now, we can group them there, and when we deploy to production we can move them to `Done`. What do you think?

That stage could be `develop` for now, until we have `staging`. Did you mean that?

This would be precisely the point of this. When you test and merge, you can test always up-to-date

[2018-02-19 09:07] status-open-bounty commented on #306
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x7cfd35894770d42cef045f8fe4afe26735b936809db8d1b73dc55d0a9a7859b1](https://etherscan.io/tx/0x7cfd35894770d42cef045f8fe4afe26735b936809db8d1b73dc55d0a9a7859b1)

[2018-02-19 09:28] martinklepsch commented on #304
Sorry, I wasn't intending to imply that it's "just an opinion" without arguments to back it up :)

The pain points you mention seem to apply to extern **files** and I'd say they mostly stem from extern files being out-of-date or incomplete in other ways. Would you agree? As far as I can tell Extern Inference does not suffer from these issues?

Also, shouldn't QA catch issues around production code

[2018-02-19 09:49] churik commented on #271
I just rename column to 'Merged to develop' and I need to know when we plan to update prod in advance.
For this I think not bad idea is to define who is responsible for release (I mean to warn me in advance and to deploy actually develop when it will be ready to deploy)

It is in ideal word, but in reality I believe that we need to do regression testing  around of areas related to merged PRs. I sa

[2018-02-19 09:55] martinklepsch commented on #271
##### Who merges PRs?
My vote goes to @churik, or author, or any reviewer as soon as the `Tested-OK` label has been added. We should aim for fast turnaround cycles so I think it is very important that we try to minimize bottlenecks which we can do here by allowing most people to merge.

[2018-02-19 11:57] #275 closed

[2018-02-19 12:05] siphiuel commented on #302
- Actually, there should be no reason offline signing should not work with Geth as well. Infura runs Geth or Parity nodes as I understand. Offline signing is a prerequisite to be able to connect to nodes that do not run with an unlocked account (because if they are, they do tx signing by themselves).
- I've mentioned Infura because it is a prominent example of a remote Geth node with a locked acco

[2018-02-19 12:07] pablodip commented on #271
@churik

Why exactly? Develop should be considered as stable as prod, just we want to move things from develop to prod when we are able to react to any possible problem.

What are you proposing exactly? You will always be testing up-to-date branches, so you can test regressions even before merging them to develop. If you ever find something in develop that has any problems before having landed pro

[2018-02-19 12:25] pablodip commented on #302
1.) That's nice! Even if we run our own nodes, better to use them without unlocking any accounts.
4.) Any idea to handle this? Is this somehow covered in the end-to-end tests? cc @churik

[2018-02-19 12:29] martinklepsch commented on #302
**Regarding testing:** I think one way could be a simple shell script and some JS to control [puppeteer](https://github.com/GoogleChrome/puppeteer). I'd be happy to create a proof-of-concept of this after I finished the new landing page.

[2018-02-19 12:37] pablodip commented on #302
4.) @martinklepsch There are already some end-to-end tests in the repo. Probably not needed to replicate that in a new kind of script.

[2018-02-19 12:40] andytudhope commented on #234
@pablodip `withdrawEverything()` needs to be executed from the REPL, as it relies on an SOB account, whereas `confirmTransaction()` needs to be called from frontend/MEW as it relies on the admin account I control.

I actually agree with an earlier comment here though, that instead of going through the pain and gas costs of revoking, we could think of adding funded bounties back to the pool of cont

[2018-02-19 12:50] pablodip commented on #304
Externs inference just create extern files as far as I know, so they have all of the issues/drawbacks that manual externs have. The only thing that externs inference gives you as far as I know is that it writes some extern files for you. It doesn't solve the two pains that we are mentioning in the thread.

[2018-02-19 12:53] martinklepsch commented on #304
It's true that Extern Inference generates an externs file but as I mentioned I believe the problems you described mostly stem from extern files that are maintained manually.

Could you explain how these problems would occur if the externs file is always up to date, as it is by using Extern Inference?

[2018-02-19 12:58] martinklepsch commented on #302
**RE testing** @pablodip fair enough, didn't see those.

[2018-02-19 13:12] pablodip commented on #304
The problems I described can happen with any extern file, unless the extern file is perfect. And extern inference generates extern files based on the code. The code can have bugs/not enough information, so incorrect extern files can be generated. And with incorrect files we have the mentioned pain problems.

[2018-02-19 14:02] martinklepsch commented on #304
I agree that buggy code can lead to issues — as it can with `cljs-oops`. There's no difference between development and production with regards to when stuff can break with `cljs-oops` or Extern Inference.

I'll move forward with removing the extern file as that has been the original purpose here. Looking at the code removing it should have no effect but @churik can test the relevant stuff just to

[2018-02-19 16:34] churik commented on #275
### Environments:
* macOS HighSierra 10.13, Chrome  64
* macOS HighSierra 10.13, Safari  11
* macOS HighSierra 10.13, FireFox  58
### Tested functionality:
verified that issue is not reproducible
### Regression:
checked combination with 'Value', 'Owner' filter

[2018-02-19 18:17] rcullito opened #312 "seed postgres with sample activity data"
### User Story

As a developer, when starting Open Bounty locally it would be nice to see example bounties and activity in the dashboard.

A great deal of the core functionality within the repo is, at heart, about displaying this data in an easily understandable way. In addition to improving the developer experience, this would also be a good sanity check for examining different use cases of local

[2018-02-20 05:52] status-open-bounty commented on #258
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x5226025c514cf9c911ac898b60e07e497c4cfdf6f41a86dcbe52c06aecc7f4f4](https://etherscan.io/tx/0x5226025c514cf9c911ac898b60e07e497c4cfdf6f41a86dcbe52c06aecc7f4f4)

[2018-02-20 07:00] pablodip commented on #312
Just for the record, to have a correct state in the SOB system the database isn't enough, but also there is state in an Ethereum network and in Github. So having just state in the database wouldn't be a complete and correct state. But agree that it is a good first step and would help start working with the web app. :)

[2018-02-20 09:08] status-open-bounty commented on #312
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x823a0c9952c4ae97351153fc4f5ea786af4e32d33b1f98b2691df6b7c51af9db](https://etherscan.io/tx/0x823a0c9952c4ae97351153fc4f5ea786af4e32d33b1f98b2691df6b7c51af9db)

[2018-02-20 11:14] #291 closed

[2018-02-20 13:24] rcullito commented on #312
@pablodip yes I see what you are saying! Agreed that it has to be a combination of all three (db + eth + GH) or there is very little value to the developer experience from an application perspective. Will view this as a *first step* in that light of the broader goal 🚶

[2018-02-20 15:34] churik opened #314 "Update date in 'Open Bounties' and 'Activity' to rely on user’s locale"
### User Story

As a user, I want to see all dates according to my locale.

### Description
*Type*: Feature
*Summary*:
* display dates in Activity Feed and Open Bounties according to user’s locale instead of predefined format (`$Month $Day`);
![locale](https://user-images.githubusercontent.com/4557972/36432630-58a9effa-1663-11e8-9ad4-2300bbf442b0.png)
* display year for old bounties

[2018-02-20 15:48] martinklepsch commented on #314
@churik I think the issue conflates two things: using the locale for date rendering and showing the year when the timestamp is older than a year. I updated the title to just be about showing the year.

Locale is already used to some degree and if we want to improve around that we should open another issue. I think it's probably not necessary for now though.

[2018-02-20 16:34] martinklepsch commented on #209
One symptom of this showed up with this bit of code while working on #301:
[code]
Semantic UI provides some nice utilities for [statistics](https://semantic-ui.com/views/statistic.html) but unfortunately there are [already some rules](https://github.com/status-im/open-bounty/blob/2a88a6ded718a30fb4b6983f3499182e584fafba/src/less/style.less#L881-L885) which modify used classes making things look li

[2018-02-20 16:42] martinklepsch commented on #209
FWIW `semantic.min.css` is 80kb gzipped vs. `tachyons.min.css` which is around 15kb gzipped. Of course both tools have their own approaches and just file size isn't the most important thing here.

[2018-02-20 23:40] arash009 commented on #314
To clarify, we also have the Activity feed. So this should apply to both the bounties page and activities page.

[2018-02-21 06:12] pablodip commented on #314
Agree that the issue could be separated in two.

I'd be a bit more precise as for the format we want, since even in a locale there can be several. Example [here](http://momentjs.com/docs/#/displaying/), in the `Localized formats` section. Or [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString) in the `options` section.

I'd say when the t

[2018-02-21 08:17] churik commented on #314
@martinklepsch allright, agree, a year for old bounties excluded from issue description.
@pablodip feel free to edit issue if you can provide some technical details.

[2018-02-21 12:25] #306 closed

[2018-02-21 13:20] martinklepsch commented on #300
Taking this over since @siphiuel is still busy with #235 and #303.

[2018-02-21 18:54] #285 closed

[2018-02-21 18:54] martinklepsch commented on #300
[code]

[2018-02-22 10:23] churik opened #322 "Create a page for maintenance (replace 502)"
### User Story

As a user, I want to see nice page that warns about site maintenance state

#### Expected behavior
something like 'We are under maintenance right now, will back ASAP'

#### Actual behavior
<img width="1211" alt="502" src="https://user-images.githubusercontent.com/4557972/36533007-fb6cb3ae-17ca-11e8-9372-582b01ecc0cf.png">

### Reproduction

- Open https://openbounty.status.im/ when

[2018-02-23 00:53] arash009 opened #324 "Developer referral bounus"
### User Story

As a developer using Open bounty, I want to gain some rewards for referring a friend to the platform, so that my friend can participate and contribute, but also for me to be incentivized to spread the word.

### Description

*Type*: Feature
*Summary*:

Have a referral mechanism so that developers can refer friends to SOB and be rewarded.

When the new smart contract is in place, we

[2018-02-23 08:35] churik commented on #302
@martinklepsch they have documentation actually.
https://github.com/status-im/open-bounty/blob/develop/doc/testing.md, section Status Open Bounty end-to-end tests

[2018-02-23 10:25] arash009 opened #325 "User profiles/portfolios"
### User Story

As a user of Open Bounty, I want to create a user profile on the site that links with my GH profile, so that I can capture the type of work I'm interested in, and my skill set so that I can be matched up with appropriate bounties, and be notified of bounties that interest me.

### Description
*Type*: Features
*Summary*:

User profiles or portfolios would allow for customisation of

[2018-02-23 10:34] #262 closed

[2018-02-23 10:40] churik commented on #307
new PRs in develop branch:

1. #317
2. #263
3. #199
4. #289
5. #311
6. #276
7. #283
8. #279
9. #298

[2018-02-23 10:55] arash009 commented on #194
Being solve through https://github.com/status-im/autobounty/issues/1

[2018-02-23 10:57] arash009 opened #326 "Standardbounties contract user"
This issue is to track the setup and use of the StandardBounties.sol contract into Open Bounty instead of the current multisig.

[2018-02-23 10:57] arash009 commented on #326
https://github.com/status-im/StandardBounties

[2018-02-23 17:10] nbanmp commented on #322
What resolution/size?

[2018-02-23 17:23] martinklepsch commented on #322
@nbanmp Hey & welcome! 🙂 I think a source file from Sketch or an SVG might be ideal so that we can export at whatever size we need.

That's probably a good idea eventually but not something that's part of this issue.

A design proposal that includes the image and some basic links to the Riot chat & Status itself might be ideal to get a sense for how the image is eventually put into use.

[2018-02-23 18:36] martinklepsch opened #327 "Prevent development environments from writing production GitHub data"
### User Story

As a developer, I want to work with production data to see if my interface and other changes work correctly with the actual data.  At the same time I don't want to affect any "production data".

For our Postgres database this issue is solved but GitHub still represents some global state that is not properly replaced with "a non production copy". To make sure my development work doe

[2018-02-24 20:22] status-open-bounty commented on #322
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x697529425595a6751ab0c7b1bade2a05d97c9b9bc30cb04629dea98122729cee](https://etherscan.io/tx/0x697529425595a6751ab0c7b1bade2a05d97c9b9bc30cb04629dea98122729cee)

[2018-02-26 09:56] churik opened #328 "Pull requests are shown as open bounties"
### Description
*Type*: Bug
*Summary*: currently issues and pull requests with label `bounty` are shown in https://openbounty.status.im/app, but in fact only issues can be bounties

#### Expected behavior
only issues are displayed in "Open bounties" list

#### Actual behavior
issues and  pull requests  are shown as open bounties

### Reproduction

- Open https://openbounty.status.im/app
- Click on

[2018-02-26 10:31] siphiuel commented on #328
Removed all pull requests from DB. They were mistakenly added manually when checking all whitelisted repos for issues with a `bounty` label. Search was done using GitHub API, and it returned pull requests together with issues.

Instead of
[code]

should have used this instead:
[code]

[2018-02-26 10:33] churik opened #329 "Unable to deploy contract after rejecting first transaction"
### Description

*Type*: Bug
*Summary*: when user adds `bounty` label for first time -> in order to confirm payment address test transaction is requested. If user rejects transaction on this stage, than adds some amount and tries to create new issue with `bounty` label -> no more test transaction is requested, so contract deployment
for this user is blocked.

#### Expected behavior
test transactio

[2018-02-27 13:27] #307 closed

[2018-02-27 13:54] churik commented on #271
currently described:
https://github.com/status-im/open-bounty/blob/develop/doc/development_workflow.md
https://github.com/status-im/open-bounty/blob/develop/doc/core_testing_workflow.md

[2018-02-27 13:54] #271 closed

[2018-02-27 14:29] churik opened #330 "New PR is displayed as new claim for bounty with winner"
### Description
*Type*: Bug
*Summary*: after merging initial PR (when winner is set) and reopening issue every PR with keyword in comments, title or commit message displayed as a new claim.
*Use case*: when concrete PR is merged, but introduces issue and developer reverts it and reopens issue.

#### Expected behavior
no claims appear after setting winner

#### Actual behavior
every new PR is displ

[2018-02-27 14:40] churik commented on #328
New PRs with `bounty` labels are not displayed in staging env.

[2018-02-27 14:40] #328 closed

[2018-02-27 15:41] churik opened #333 "Error sending transaction at attempt to confirm payment with Parity plugin"
### Description

*Type*: Bug
*Summary*: unable to confirm bounty when address is set from Parity plugin, at attempt got an error
![parity](https://user-images.githubusercontent.com/4557972/36737186-24e78710-1be3-11e8-9543-8446857fac3f.png)

#### Expected behavior
can confirm payment

#### Actual behavior
error

### Reproduction
*Prerequisites*
- `Parity` wallet should be installed, synced (`Ropste

[2018-02-28 11:02] siphiuel opened #334 "Make state transitions atomic"
*Type:* Bug

### Description
When bounty state changes (e.g., PR merged), usually at most 3 operations occur:
  - GitHub comment update
  - DB update
  - Ethereum transaction

As of now, these operations do not occur within a transaction, that is, it might happen that GitHub comment and DB were updated, but Ethereum transaction failed. Or any other combination. This leaves bounties in incomplete s

[2018-03-01 10:20] status-open-bounty commented on #180
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xdf1bc2e001c596ce91d407574d51dc2c6206578be677e4e343f34e60398c4506](https://etherscan.io/tx/0xdf1bc2e001c596ce91d407574d51dc2c6206578be677e4e343f34e60398c4506)

[2018-03-01 12:07] churik opened #336 ""Unknown error" instead of appropriate validation error at attempt to confirm payment when you logged out from MetaMask"
### Description
*Type*: Bug
*Summary*: unclear error while you try to click on 'Confirm' button in 'Manage Payout' and you logged out from your MetaMask plugin

#### Expected behavior
something like "Make sure that you have access to your Ethereum Wallet"

#### Actual behavior
![valid_error](https://user-images.githubusercontent.com/4557972/36843929-3cc56c0e-1d59-11e8-8320-56fec2d04a2b.png)

*Prer

[2018-03-01 14:03] churik opened #338 "`Manage payouts` page improvements"
### User Story

As a user, I want to have a quick and proper way to confirm my bounty from `Manage Payouts`

### Description

*Type*: Feature

*Summary*:
1) Sorting
**New claims** - pull requests with active confirm button at the top, inside of the in the top are newest
![sorting](https://user-images.githubusercontent.com/4557972/36847114-ee7fb470-1d65-11e8-9afa-b5b36f9c1baf.png)
  **Old claims**

[2018-03-01 14:58] siphiuel opened #339 "Update GitHub comment in deploy-pending-contracts scheduler thread"
### Description
Scheduler run a thread that checks for contracts that could not be deployed, and attempts to re-deploy them. However, it does not update GitHub comment accordingly.

### Solution
Add relevant code to update GitHub comments.

[2018-03-05 11:10] martinklepsch opened #344 "Infrastructure revamp"
#### Problem

The infrastructure we're currently running on is mostly undocumented and spread across multiple clouds. This makes it hard for us to troubleshoot problems or make adjustments.

#### Solution

Recreate our infrastructure and document every step along the way to avoid similar problems in the future. Perhaps define our infrastructure in code so there is a shared up-to-date understanding

[2018-03-05 11:15] martinklepsch commented on #344
##### USER STORY
As a developer of Open Bounty I'd like to be able to easily deploy specific versions to a given environment. A command like:
[code]
Could be used to instruct a server to download the Open Bounty software of version `$GIT_SHA` and restart the service once the new version is ready. For a first version minimal downtime during service restarts is acceptable.

This command may also be

[2018-03-05 11:48] churik commented on #344
**USER STORY**
As a QA I'd like:
- to have easy way to build and deploy any PR to testing env from Jenkins with predefined dataset (with database restored from dump; known whitetelisted users and tokens);
- to have deployed `develop` branch on staging env after each merge;
- to have easy access to databases and whitelist on staging and test envs.

[2018-03-05 12:35] churik opened #346 "Bounties are updated randomly and several times per event"
### Description

*Type*: Bug
*Summary*: some bounties are updated randomly, so displayed as top items on `Open Bounties`

#### Expected behavior
bounties are updated only when balance is changed, winner is set, ect, so once per event

#### Actual behavior
GitHub comments on some issues are updated from time to time and displayed as top items(
<img width="947" alt="issue" src="https://user-images.g