[2018-03-05 20:08] tanyavariel commented on #171
Does anyone know of another that provides an API for cryptonight coins... looking specifically for TRTL - Turtlecoin.  Thanks!

[2018-03-09 04:53] #269 closed

[2018-03-12 08:05] #302 closed

[2018-03-13 13:57] rcullito commented on #180
@denis-sharypin hello! I was looking into this task but it looks like the final link from zeplin is password protected. Just wanted to check to see if the design changed at all from the last dropdown you posted as an image?

[2018-03-13 14:28] denis-sharypin commented on #180
@rcullito Hi!
Not there were no changes since last time. If you provide me your email address I could send you an invite to check Zeplen mockups

[2018-03-13 14:32] rcullito commented on #180
Oh that would be great, thanks Denis. My email is rob.culliton@gmail.com

[2018-03-13 14:45] denis-sharypin commented on #180
@rcullito Invite was sent and a link should work for you now. Please, check it. Thank you!

[2018-03-13 15:02] rcullito commented on #180
@denis-sharypin yes that's great! I received the link and am able to explore the project in Zeplin. Thanks for your help.

[2018-03-13 15:27] churik opened #352 "Warn user that ETH address should be set before creating issues with bounties"
### User Story

As a user, I want to know that ETH address should be set  before posting any bounties

### Description

*Type*: Feature
*Summary*: currently only open-bounty developer can find out that the reason why contracts are not deployed is that ETH address for organization is not set. User should be warn that it is requirement in explicit way.

#### Expected behavior
If contract is not depl

[2018-03-13 17:10] siphiuel commented on #346
Addressed with #350.

[2018-03-14 14:13] churik opened #353 "'Confirm' button takes too much time (10-25 mins) to be enabled"
### Description

*Type*: Bug

*Summary*: after organization merge PR, event 'Won ... (payout pending maintainer confirmation)' immediately appears in Activity feed. But in order to `Confirm` payment user should wait 10-25 min.
During this time issue can appear in 'Bounties' list if it wasn't closed automatically by Github or in case it was reopened.
![confirm](https://user-images.githubusercontent

[2018-03-14 22:17] john-light opened #355 "Persist bounty filters in URL"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a user, I want to copy a link so that visitors are taken directly to the search query I have filtered for on the open bounties page.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you di

[2018-03-15 03:55] #330 closed

[2018-03-15 03:59] churik commented on #352
*QA Notes*: bugfix should include fix for `1. Values 'Paid' and 'Open' aren't updated automatically` from #316

[2018-03-15 04:14] #301 closed

[2018-03-15 07:18] martinklepsch commented on #355
This should be easier once #323 is merged.

[2018-03-15 08:16] martinklepsch commented on #322
@andytudhope can we revoke this bounty? It conflates the creation of an illustration with the technical integration of that image and Euge and I decided it will be easier to work with Nikita to create a consistent "on-brand" visual for those error pages.

[2018-03-15 15:16] churik opened #356 "After deleting GH repo bounties are still displayed in 'Open bounties' list"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: bounties from deleted repo are displayed on 'Open bounties', at attempt to open it - user is redirected to 404 page

#### Expected behavior
[com

[2018-03-15 15:19] #292 closed

[2018-03-15 22:56] rcullito commented on #180
@denis-sharypin I was curious if the asset for the blue dropdown arrow exists in zeplin or some such similar place? thanks!

[2018-03-16 09:49] churik opened #357 "No new claim on issue if pull request contains keyword with link to issue"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: if pull request description contains `Fixes https://github.com/some-repo/issues/3544` instead of `Fixes #3544` - it is not considered as open cl

[2018-03-16 14:15] churik opened #358 "Claim multiple bounties with single PR"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As a developer, I want to know what  happens if I close several issues in one pull request.

### Description

*Type*: Bug or Feature?

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summa

[2018-03-17 00:24] denis-sharypin commented on #180
@rcullito Hey, here it is:
![shape-blue](https://user-images.githubusercontent.com/6559881/37549585-35bcb00e-29b4-11e8-94a1-da03f7aac987.png)
![shape-white](https://user-images.githubusercontent.com/6559881/37549586-3604b548-29b4-11e8-86a7-7e409792f701.png)

[2018-03-17 12:42] rcullito commented on #180
awesome, thanks @denis-sharypin

[2018-03-19 08:38] #353 closed

[2018-03-19 11:22] churik opened #361 "User-owned bounties are not updated on Manage Payouts page"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: 'Manage payouts' is not updated automatically, so in order to see New Claim or that `Confirm` button is enabled - you should manually reload pag

[2018-03-19 14:49] martinklepsch commented on #361
So the issue here is that `commiteth.core/load-data` refreshes all open bounties but does not refresh user-specific (i.e. owned) bounties (`:owner-bounties`).

**Quick fix**: also update `:owner-bounties` in `commiteth.core/load-data`. This means basically dispatching the same events as when the user is being logged in: https://github.com/status-im/open-bounty/blob/2eb2de2888d30751773674543f918849

[2018-03-19 17:03] status-open-bounty commented on #355
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xa467d1fdf53c8ccaa5d2b512452797f0b51c553cc535915128c7a077e014b6fc](https://etherscan.io/tx/0xa467d1fdf53c8ccaa5d2b512452797f0b51c553cc535915128c7a077e014b6fc)

[2018-03-19 17:58] churik opened #362 "PRs with keywords in commit messages are not recognizable by SOB as claims"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: when developer adds `fixes #NN` in commit message instead of title or description - no new claims are added to bounty.

#### Expected behavior
[

[2018-03-20 16:30] martinklepsch opened #366 "Fix ClojureScript tests"
*Type*: Bug

#### Expected behavior

We have a set of ClojureScript tests that (according to the README) can be ran using this command:

[code]

#### Actual behavior

Running the above command will successfully compile our ClojureScript code but an error breaks the process eventually:

[code]

[2018-03-20 21:29] john-light opened #367 "Force bounty comment bot to refresh contract balance"
### User Story

As a user, I want to see how many tokens have been added to a bounty so that I don't have to click the block explorer link to see it.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)

[2018-03-21 07:20] churik commented on #367
I think it is an issue because seems that scheduler suppose that GH bot balance is up-to-date and ignore this issue
BTW, it has wrong balance in `Open Bounties` list as well
![malta](https://user-images.githubusercontent.com/4557972/37698000-08c9c7de-2ce9-11e8-841d-85ae055e83a0.png)

[2018-03-21 11:30] martinklepsch opened #368 "Only show `Manage Payouts` menu item if user has issued bounties"
As a user I don't need the Manage Payouts section of the application as long as I haven't published a bounty.

[2018-03-21 16:38] martinklepsch opened #369 "Clojure Tooling improvements"
Just creating a list of things that might be worth doing or at least considering:

- Integrate [cljs-devtools](https://github.com/binaryage/cljs-devtools)
- Switch to [shadow-cljs](https://github.com/thheller/shadow-cljs)
  Figwheel is nice but as far as I can see shadow-cljs improves several aspects, particularly around caching.
- Figure out to what degree we might want to use the new `clj` tool

[2018-03-22 14:50] #339 closed

[2018-03-22 20:03] msuess opened #371 ":token-data needs to be added to config-dev.edn for lein run to work"
### User Story

As a developer, I want to be able to execute `lein run` so that I contribute to the project.

### Description

*Type*: Bug

*Summary*: After cloning the repo and following the instructions in in the readme, `lein run` crashed on me with this error:

[code]

#### Expected behavior
`lein run` starts the app

#### Actual behavior
`lein run` crashes

### Reproduction

- check out `mast

[2018-03-22 22:03] msuess commented on #355
Taking a stab at this!

[2018-03-26 07:20] #368 closed

[2018-03-26 09:19] #304 closed

[2018-03-26 12:41] siphiuel commented on #371
This is weird. I remember getting the same error a couple of months ago, and am not getting it any more. Not sure what fixed it. Just tried fetching token registry data via `(commiteth.eth.token-registry/load-parity-tokenreg-data)` while connected to Ropsten via Infura, and it works fine. Can you please post your `config.edn` here? Just remove your `eth-account`, `eth-password`, `eth-wallet-file`

[2018-03-26 12:43] #300 closed

[2018-03-26 12:55] EugeOrtiz opened #376 "Improve sign up feedback message for Bounty Creator"
### Description
*Type*: Bug

Currently, when a Bounty Creator signs up through the home page form, she gets this message: "_Thank for you signing up_" . This is grammatically incorrect and doesn't inform her that an email has been sent to her email account.

<img width="429" alt="captura de pantalla 2018-03-26 a la s 9 53 24 a m" src="https://user-images.githubusercontent.com/37297779/37907491-a63

[2018-03-26 13:08] EugeOrtiz opened #377 "Add link to home page in SOB logo for the rest of the pages"
### User Story

As a user, I want to be able to quickly go back to the home page so that I can navigate the site easily.

### Description

*Type*: Bug

*Summary*: When the user is visiting other pages within the site, the logo is not clickable so its hard to go back to the home page:

<img width="194" alt="captura de pantalla 2018-03-26 a la s 10 05 38 a m" src="https://user-images.githubuserconte

[2018-03-26 21:46] martinklepsch commented on #326
@stellarmagnet I wouldn't want to give an ETA at this point but this definitely is a priority. Could you let us know what kind of integration you're intending to build?

[2018-03-26 21:53] stellarmagnet commented on #326
hi @martinklepsch the details are in the paper linked here:
https://github.com/aragon/nest/pull/24

[2018-03-27 10:07] #357 closed

[2018-03-27 11:45] churik opened #379 ""Sign up for beta" works several times with same email"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: "Sign up for beta" doesn't check for email uniqueness - so you can sign up for same email several times;

#### Expected behavior
[comment]: # (D

[2018-03-27 11:57] #346 closed

[2018-03-28 09:58] churik opened #380 "`Confirm` button is available second time after page reload"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: `Confirm` button is available if you already clicked on it and then reloaded page;
 in this case 2 transactions are added to MetaMask and second

[2018-03-28 17:08] churik opened #382 "New claim in not detected in ~55% cases if you close 2 issues in one PR (1 issue is not bounty)"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: If you use several keywords i.e. "close #A close #B" (where issue A is not bounty, B is bounty), new claim is not detected in bounty B in ~55% c

[2018-03-29 09:36] siphiuel opened #384 "Move PNGs with QR codes out of DB"
### Description

*Type*: Feature

PNGs containing QR codes visible in bot comments on GitHub are stored in DB in the `issue_comment` table. Images in bot comments link directly to the OpenBounty server, and so are fetched from DB each time link is accessed.

### Solution
Devise a way of storing PNG binary data outside of DB (either filesystem or external service like IPFS/Swarm/etc.). DB should on

[2018-03-29 14:05] siphiuel opened #385 "Do not invoke GitHub API update operations needlessly"
### Description

*Type*: Bug
GitHub comments should only be updated once after any relevant input changes.

#### Expected behavior
GitHub comment is not updated unless:
  - there is a change in the state of a bounty or associated contract (bounty contract mined, waiting for confirmation, paid, etc.)
  - contributor's payout address is not set
  - ETH or token balance changes

#### Actual behavior

[2018-03-29 20:58] msuess commented on #371
Forget it guys, somehow I ended up with an invalid value for `:tokenreg-addr` in my `config-dev.edn`. I just tried it again and everything seems fine. Sorry for the false alarm.

[2018-03-29 20:58] #371 closed

[2018-03-30 06:36] #382 closed

[2018-03-30 14:43] status-open-bounty commented on #355
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xc712cf31fff626b60185813c2d8cb49344c964bfe3bdb80e29d35d0d02c44fc2](https://etherscan.io/tx/0xc712cf31fff626b60185813c2d8cb49344c964bfe3bdb80e29d35d0d02c44fc2)

[2018-04-05 09:32] commiteth commented on #384
![Contract deploying](http://localhost:3003/img/deploying_contract.png)
Transaction: [0x25a7b837438c021c141d18d922333040795990791b97e4fe30dbecf4e16d7844](https://ropsten.etherscan.io/tx/0x25a7b837438c021c141d18d922333040795990791b97e4fe30dbecf4e16d7844)

[2018-04-05 09:35] status-open-bounty commented on #384
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x25a7b837438c021c141d18d922333040795990791b97e4fe30dbecf4e16d7844](https://etherscan.io/tx/0x25a7b837438c021c141d18d922333040795990791b97e4fe30dbecf4e16d7844)

[2018-04-05 15:02] msuess commented on #384
Taking a stab at this :) I'll do a little bit of research first as to which service to use and post my findings here. @siphiuel do you have any preferences or experience regarding that?

[2018-04-05 18:26] msuess commented on #384
swarm-gateways.net seems very slow.

I posted some IPFS gateway benchmarks [here](https://github.com/msuess/ipfs-gateway-benchmarks).

[2018-04-05 21:01] martinklepsch commented on #384
This is great stuff @msuess! Seems like Infura might be the best option perf-wise? Did any of the other stand out for other reasons?

[2018-04-09 12:29] #355 closed

[2018-04-09 14:06] #252 closed

[2018-04-09 16:24] rcullito opened #396 "rebuild header component using tachyons"
### Description

The SOB team is moving towards [Tachyons](https://tachyons.io/) for sensible css without lighting our hair on fire. The header component could benefit from integration with this library.

An example of how SOB is using Tachyons thus far can be found on this PR: https://github.com/status-im/open-bounty/pull/392

[2018-04-09 16:40] martinklepsch opened #397 "Investigate Metabase for Metrics related needs"
[Metabase](https://metabase.com/) seems like it could be pretty useful for extracting metrics from our data in Postgres.

Note that there are two ways of doing metrics:
1. Track events; derive some insight from those events
2. Analyze state of a database, derive insight from that state

This would fall into category `2.`. For certain kinds of analytics `1.` might be more suitable but the perfect s

[2018-04-09 19:50] martinklepsch commented on #396
FYI I’m planning to write up a Decision Record regarding Tachyons as part of the work on #392.

[2018-04-10 08:59] jwagener commented on #384
How about simply rendering the images on the fly?
A CDN could be used in front of the web server, if load / rendering times are an issue.
This would avoid the headache of interacting with external services to store and update the images.

[2018-04-10 09:05] martinklepsch commented on #384
@jwagener that's a great idea to consider. Would be interesting to investigate how long one image-rendering takes given that we currently [launch a bunch of processes](https://github.com/status-im/open-bounty/blob/develop/html2png.sh) for it. But yeah I agree, this could be significantly easier :+1:

@jwagener btw are you in [Riot](https://chat.status.im/#/room/#openbounty:status.im) as well?

@ms

[2018-04-10 12:10] churik opened #398 "[End-to-end tests] Implement bounty funding"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

*Summary*: to test full process of claiming/closing bounties we need to implement contract funding for [end-to-end tests](https://github.com/status-im/open-bounty/tree/develop/test/end-to-end).
You can find full installation and configuration manual: [SOB end-to-end tests](https://wiki.status.im/Status_Open_Bounty_end-t

[2018-04-10 12:16] martinklepsch commented on #384
Completely different approach could be using an API like Figma’s: https://blog.figma.com/introducing-figmas-platform-ee681bf861e7

Not even sure if possible but could be a nice opportunity to test drive some of this pretty exciting (imho), new stuff.

[2018-04-10 13:19] churik opened #399 "One contract is deployed for different issues"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: two issues with `bounty` label have the same contract address:
https://github.com/status-im/status-react/issues/3050
https://github.com/status-i

[2018-04-10 15:43] msuess commented on #384
@jwagener @martinklepsch I think that generating SVGs is a great idea! Maybe we can find a way to do it in-process, without `wkhtmltopdf` (so that's what it's used for, hah). @jwagener did you have any specific caching provider/CDN in mind?

[2018-04-10 15:44] martinklepsch commented on #384
Just to double check: if we go with SVG we probably don't need a CDN at all? (for now at least)

[2018-04-10 15:48] msuess commented on #384
I'd say probalby not, especially if we can do it in-process.

[2018-04-10 15:53] jwagener commented on #384
Had no specific CDN in mind. Also agree that it’s probably not necessary
with the lightweight SVG solution.

things to consider:

- providing a legacy support for the existing embedded Png images. Maybe a
redirect to SVG works, then png support can be dropped completely.

-Embedding the Roboto font.

I guess a good next step is a proof of concept to check if it works fine to
render the current sty

[2018-04-10 16:03] msuess commented on #384
I can look into rendering the QRs as SVGs, if you want :)

I just realized that I'm not sure what we're trying to fix here @martinklepsch @siphiuel. Is this just about reducing the size of the DB or is it about reducing traffic to the OB server?

[2018-04-10 16:06] martinklepsch commented on #384
It's about removing image/binary data from DB. Server load is a non-issue at this point :)

[2018-04-10 16:46] martinklepsch commented on #242
This should be super easy to fix by upgrading [cljs-web3](https://github.com/district0x/cljs-web3/commits/master) to `0.19.0-0-11` and replacing the web3 constructor we defined here: https://github.com/status-im/open-bounty/blob/b76ad70766e7d521f2df0c0ee3d7d59d533fd399/src/cljs/commiteth/common.cljs#L10-L11

with the one that has been added to `cljs-web3` in this PR: https://github.com/district0x/

[2018-04-10 19:53] martinklepsch commented on #396
This should also address https://github.com/status-im/open-bounty/issues/377

[2018-04-11 01:27] msuess commented on #384
@denis-sharypin could you please provide the status logo (the on with the "S" in the blue circle) as svg so I can embed it within the QR code SVG? Thank you! :)

[2018-04-11 09:39] denis-sharypin commented on #384
@msuess  you can take it here — https://www.dropbox.com/s/djrlvrobuk0u98w/status_logo_blue.svg?dl=0

[2018-04-11 15:54] msuess commented on #384
It looks like the embedding of the font might be a bit problematic. I was able to import Roboto as a web font through css, but that only works when embedding as `<svg>`. The CSS won't be evaluated by the browser if the SVG is loaded through an `img` tag. Another solution might be to use SVG Fonts, as described [here](https://stackoverflow.com/questions/11851821/how-i-use-a-custom-font-with-the-bat

[2018-04-11 16:06] martinklepsch commented on #384
Thanks for keeping us posted @msuess :+1:

[2018-04-11 17:08] #358 closed

[2018-04-12 02:00] msuess commented on #384
I embedded the font using a css `@font-face` declaration with a data URI. This works well in Firefox and Chrome, however it blows up the size of the SVG to 400k, which is about 10x the size of the PNGs.

Using some (fontforge)[https://fontforge.github.io/en-US/] magic and my awesome StackOverflow copypaste skills I was able to strip the TTF of all non-ASCII characters with a script lifted from (he

[2018-04-12 06:38] arash009 opened #403 "Metrics - Value Transacted"
### User Story

This metric is to capture the $USD equivalent of total tokens that have been paid out in a given timeframe (daily, weekly, monthly, annual)

Part of idea: https://github.com/status-im/ideas/blob/master/ideas/122-sob-metrics.md

### Solution

We want to be able to report on the following:
- $USD equivalent (based on current API used to get this estimate at the time when the payout i

[2018-04-12 07:14] martinklepsch commented on #384
If we can do SVG with 12k gzipped and it works on major browsers that seems reasonable to me 👍 (did I misunderstand anything?)

[2018-04-12 12:26] martinklepsch commented on #399
Some improved logging has been put in place which will hopefully help us understand why this is happening the next time it happens.

[2018-04-12 15:37] msuess commented on #384
Nope, that's what I said. I'll test in Safari, IE, Mobile as well.

[2018-04-12 15:40] EugeOrtiz opened #409 "Filter selection not showing selected value"
**Description**
Type: **Bug**

When a filter is applied with only one selected value, the user cannot see the selected option, it shows "<Filter_name>(1)".

**Expected behavior**
After users selects one value for a specific filter, it should be reflected on the filter's name.  By showing the selected value, its easier to recognize it, otherwise the user needs to remember what she selected. Example

[2018-04-12 16:02] EugeOrtiz opened #410 "SOB's header inconsistencies"
**Description**
Type: **Bug**

The header presents several design inconsistencies, depending on which section the user is navigating:

![sob differences in navigation](https://user-images.githubusercontent.com/37297779/38688909-a0fe5e8e-3e50-11e8-8bed-05b7b80fc509.png)

To solve:
1- Different logo treatment (logo and isotype are different)
2- Different position and order of navigation options (Act

[2018-04-12 16:03] EugeOrtiz commented on #396
Also #410 please.

[2018-04-12 20:55] rcullito commented on #356
This seems like it could be handled via a webhook that watches for a deleted repository event and then deletes issues and pull requests associated with that repo id.

[2018-04-12 21:04] rcullito commented on #362
@churik this is interesting, I didn't know that SOB was supposed to support this behavior in the commit message itself. Are we publicly stating that we do this anywhere in our documentation or were you thinking this would just be an intuitive thing to do?

[2018-04-12 21:07] rcullito commented on #362
I guess I say that because issue title and description are typed in via the github web ui, whereas the commit message goes in through the CLI – so it seems like this would be a deliberate feature on our part unless github already supports it?

[2018-04-12 21:17] rcullito commented on #338
I think tackling any one of these individually would be good first time contributor bounties.

[2018-04-12 21:40] rcullito commented on #250
Guessing that as this is implemented then the reasonable behavior for the UI filter/sort is to only take into account the current "slice" the user is viewing 10 entities, 20 entities, etc...

Is that what you also had in mind @siphiuel?

[2018-04-12 21:54] rcullito commented on #215
Closing this for now as it seems docs have landed here: https://github.com/status-im/open-bounty/tree/develop/doc

Correct me if anything here is still in flight, just trying to do some issue cleanup.

[2018-04-12 21:54] #215 closed

[2018-04-12 21:57] rcullito commented on #212
Closing this out as there doesn't seem to be any current issues w/ git usage in SOB repo over the last couple of months.

Current workflow seems to be captured accurately in the project board here: https://github.com/status-im/open-bounty/projects

[2018-04-12 22:00] rcullito commented on #211
@arash009 it looks like this has grown into your more recently updated document here: https://github.com/status-im/ideas/blob/master/ideas/122-sob-metrics.md

going to close this out to try and rein in the issue count unless you are still getting value from it?

[2018-04-12 22:00] #211 closed

[2018-04-12 22:02] #212 closed

[2018-04-12 22:13] rcullito commented on #183
seems like the redesign effort has migrated away from this specific issue number. so closing for now!

[2018-04-12 22:13] #183 closed

[2018-04-12 22:26] rcullito commented on #191
@churik was this happening on a specific screen size? (sorry, I know that you posted a while ago) If it is still persisting it looks like hiding the text after a certain character count would be good to label for a bounty.

[2018-04-12 22:32] rcullito commented on #172
@churik just trying to make sure that I understand you on this one. Generic brackets [] will not cause the issue from showing up, but rather the specific sequence [comment] is the cause of the error?

[2018-04-12 22:35] rcullito commented on #155
These seems like a really valid concern to be lurking in the backwaters of our issues. Labeling with question for now, although will look into further actions: such as raising this in the next standup.

[2018-04-12 22:43] rcullito commented on #100
we seem to be over the hurdle here

[2018-04-12 22:43] #100 closed

[2018-04-12 22:45] rcullito commented on #410
this may also be relevant: https://github.com/status-im/open-bounty/issues/109

[2018-04-12 22:55] rcullito commented on #132
This seems like it would be a large investment of developer effort, so we would want to find out how often this is happening in practice before starting in. Going to create a label called `needs metrics` for this class of issue that would be nice to have but would depend on frequency.

[2018-04-12 22:58] #52 closed

[2018-04-13 02:17] arash009 commented on #409
The filters have multi-select. What would it look like if the user selects multiple options in the list? Not sure its worth overcomplicating.

[2018-04-13 03:43] arash009 commented on #356
Sounds like we need another 'state' that bounties could be in. If this happens, or the GH issue is closed/deleted, the bounty contract is still live, so these bounties should go into a "inactive" state for the bounty issuer to revoke.

[2018-04-13 07:09] churik commented on #172
@rcullito exactly!
It is still reproducible, I rechecked it.

[2018-04-13 07:14] churik commented on #177
closed via https://github.com/status-im/open-bounty/pull/240

[2018-04-13 07:14] #177 closed

[2018-04-13 07:47] tirkarthi opened #413 "Upgrade dependencies for JDK 9 compatibility"
### Description

It seems that the project uses versions of Clojurescript, aleph and http-kit that are incompatible with JDK 9.

# (Feature or Bug? i.e Type: Bug)

*Type*: Bug

### Solution.

### Clojurescript :

Latest Clojurescript release [1.10](https://clojurescript.org/news/2018-03-26-release) fixes JDK 9 compatibility issue caused by xml-bind. Relevant JIRA issue : https://dev.clojure.org/ji

[2018-04-13 08:08] churik commented on #191
@rcullito The problem is a bit wide - if you using a long name without spaces everywhere:
1) "GH profile name\GH Repo Name" - can be, it is not allowed to include spaces
2) Issue title - unlikely without spaces;
2) PR title (after #359 will be merged) - unlikely without spaces;
**Fresh screenshot(15,4-inch (2880 x 1800)):**
![longlong](https://user-images.githubusercontent.com/4557972/38723721-a4f

[2018-04-13 08:27] churik commented on #367
@siphiuel  can we look at this? It is specific to this particular issue aragon/aragon-monthly#86.

[2018-04-13 10:58] siphiuel commented on #367
@churik resolved. This is related to https://github.com/status-im/open-bounty/pull/400. Watch hash was not mined properly, therefore contact token balance was not getting updated.

[2018-04-13 13:45] rcullito commented on #356
That's a good point that a manual action needs to be taken as well. Seems like there are actually quite a few use cases where bounties need to be revoked. (to all of your points in the last standup)

[2018-04-13 13:49] churik opened #414 "Updating info on (issue title, GitHub profile name) doesn't affect SOB"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: when user updates issue title in GitHub, it is not updated accordingly on SOB site;
same behavior for profile (organization) name.

#### Expected

[2018-04-13 13:49] rcullito commented on #172
thanks for clarifying!

[2018-04-13 13:55] rcullito commented on #191
Thanks for the screenshot @churik. Yea I definitely see what you mean! Seems like it might be a good first time issue to just "hide" the text after a certain character count.

[2018-04-13 13:59] rcullito commented on #362
got it. thanks for posting that additional documentation on the issue!

[2018-04-13 21:08] EugeOrtiz commented on #409
Multi-select works fine, the issue is when only 1 option is selected.

[2018-04-15 09:52] churik opened #416 "Editing PRs (delete issue reference) doesn't remove open claim on SOB"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
[comment]: # (Describe the feature you would like, or briefly summarise the bug and what you did, what you expected to happen, and what actually happens. Sections below)
*Summary*: if PR title/comment (which already is a claim on bounty `x`) is edited in order to make the new claim to another bounty (i.e. `Fixes #x` is repla

[2018-04-15 10:52] churik opened #417 "Reopened PR is not displayed as open claim on SOB"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: if PR title/comment (which already is a claim on bounty `x`) is closed, and then reopened - it is not displayed as an open claim on bounty `x`

#### Expected behavior
1 open claim

#### Actual behavior
no open claim

### Reproduction

*Requirements*: GH account is whitelisted, signed app, test application is added

[2018-04-16 03:46] knocte opened #418 "Gitlab support"
### User Story

As a user, I want to be able to use OpenBounty with Gitlab repos so that it's possible to use a self-hosted repository.

### Description

*Type*: Feature

GitLab is even more open-source friendly than Github, because you can even host it yourself (no need to depend on gitlab.com website). Having OpenBounty integrate with this would make it even more agnostic and flexible. (For exam

[2018-04-16 07:26] martinklepsch commented on #418
Hey @knocte, thanks for this suggestion. Supporting GitLab and other platforms, in general, is something we'd like to do but simply haven't gotten around to yet.

The issue here mostly is that our current codebase is somewhat coupled to GitHub and that we need to develop some mechanism to make that extensible to other platforms. This kind of architectural work requires a lot of familiarity with th

[2018-04-16 10:40] martinklepsch commented on #385
@arash009 did we get an update from GitHub whether our changes have already reduced the issue sufficiently?

[2018-04-16 11:31] arash009 commented on #385
The main concern at the time was that one issue that was doing the non-stop repeated calls which we stopped straight away. That was confirmed.

Once this is implemented we will go back to them to recheck our usage.

[2018-04-16 11:33] #180 closed

[2018-04-17 07:00] churik commented on #329
Well, hard to say. It was reproduced for me only one time and after this, I was completely blocked from posting a new bounty.
Because it was reproducible only on MainNet, I didn't try more.
And after a while (on 14 Apr) - I installed MetaMask wallet on the same way, and I wasn't asked about test transaction.
So, for now, I confused what it was.
Is it OK if I'll try one more time and close if I can

[2018-04-17 10:14] churik opened #423 "PR created before putting `bounty` label is not recognizable as open claim"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: when PR to fix the issue was created before `bounty` label was set to issue, it is not recognizable by SOB

#### Expected behavior
1 open claim

#### Actual behavior
0 open claims

### Reproduction

*Requirements*: GH account is whitelisted, signed app, test application is added to repo;
- create an issue
- create

[2018-04-17 11:59] rcullito commented on #329
Yes I think that makes sense! I was unable to reproduce either yesterday (on 16 April).

[2018-04-17 12:05] status-open-bounty commented on #398
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x966e053d104da6477d294be1d5eef55e817ef00ee71692163e4e04175a47b62d](https://etherscan.io/tx/0x966e053d104da6477d294be1d5eef55e817ef00ee71692163e4e04175a47b62d)

[2018-04-17 13:00] churik opened #424 "Filter by amount shows wrong data (prod)"
### Description

*Type*: Bug
*Summary*: filter by amount doesn't show appropriate results, it doesn't filter by amount;
in `staging` env it is reproducible only for old bounties with `ATT` tokens, which have wrong conversion in the system.

#### Expected behavior
filters are applied to USD values which are displayed on SOB  - appropriate results are shown

#### Actual behavior
wrong results are sh

[2018-04-17 14:56] rcullito opened #425 "define API endpoints with a spec schema"
This would lend consistency to our data model across the codebase and allow us to remove some of the ad hoc renaming utilities we have in place.

[2018-04-17 15:38] martinklepsch commented on #399
Related:
- https://github.com/web3j/web3j/issues/43
- [FastRawTransactionManagrer.java](https://github.com/web3j/web3j/blob/master/core/src/main/java/org/web3j/tx/FastRawTransactionManager.java) which tracks nonces in order to be able to submit multiple transactions per block

[2018-04-17 15:52] rcullito opened #426 "Use Github APIs to sync state instead of webhooks"
This is meant to generally address a certain class of issue around discrepancies between github state and the local SOB state – which is currently linked via webhooks listening for manually generated user actions taken on Github's UI.

The goal here would be to replace the need for taking a defined series of manual steps with a central function such as `refresh-state`

examples of specific issues

[2018-04-17 16:06] martinklepsch commented on #426
To expand on this: the issues @rcullito linked are all caused by our DB state getting out of sync with the "source of truth" (which is GitHub). Our current approach derives state from a set of webhook payloads. This is troubling for two reasons:

- Missing a single webhook will cause our database to get out of sync with no way of catching up
- We need to perfectly handle each webhook event from ed

[2018-04-18 11:47] martinklepsch commented on #284
Important part of this would also be cleaning up production data. :+1:

[2018-04-18 14:28] #399 closed

[2018-04-18 14:35] siphiuel commented on #426
Some time ago when we had to re-check our data against Github state we used a small fn: https://github.com/status-im/open-bounty/blob/a70696f26b24d9335efed679264d338eecae5ae2/src/clj/commiteth/github/core.clj#L367. It uses GitHub API search.Hopefully we can use it for the purposes of copying the GitHub state, for issues at least. Need to recall better how to find PRs, because we don't put a label

[2018-04-18 14:42] martinklepsch commented on #426
I think the `(refresh-state issue-id)` function would take the `issue-id` as an argument, PR links could then be extracted from text or references not sure what GitHub's API provides for that.
Everytime we get a webhook that references an issue (could be issue or PR events) we call `refresh-state` for that issue. Or so 🙂

[2018-04-18 15:55] rcullito commented on #284
relevant context here: https://github.com/status-im/open-bounty/issues/234

[2018-04-18 16:05] rcullito commented on #234
in an effort to try and consolidate issues so that they can be more easily tracked via the "issue project" I am closing this one and linking it to the more recently created #284 . Far from dismissing the importance of what is stated in the above comments, I am merely trying to organize it so that work can begin :)

Please reach out if this pains you in any way. - Rob

[2018-04-18 16:05] #234 closed

[2018-04-19 07:51] arash009 commented on #326
Hi @stellarmagnet for the moment its looking unlikely for the current version of the standardbounties contract to be used in Open Bounty. We are looking at a revised smart contract that would meet our user's current requirements.

Can you identify any particular needs that planning app will have to make sure we capture those (the whitepaper is definitely very interesting and something we are exper

[2018-04-20 08:45] churik opened #432 "Some PRs (created before Feb 2018) are not displayed in dropdown on bounty"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

*Summary*: for some old bounties (created before Feb) claims are not visible in a drop-down
One issue on `staging env`:
https://github.com/anna07test-org-in-SOB/anna07test-repo1-in-SOB/issues/23
Two issues on `prod env`:
https://github.com/vector-im/riot-ios/issues/638
https://github.com/aragon/aragonOS/issues/171

#### Exp

[2018-04-20 13:57] leonprou commented on #398
Hey, is this bounty still relevant?

I tried to run the test with `python3 -m pytest -m sanity --env=local` but the fail on:

[code]

Seems that the test can't find the '.permission-title' selector on a github page.. Actually I can't find in either 🤔

[2018-04-23 08:30] martinklepsch commented on #384
Hey @msuess  — hope you had a nice weekend! 🙂  Just wanted to check if there has been any further progress on this? With the GitHub proxy stuff you mentioned in #412 I'm wondering if we could just use GitHub as CDN? 😛

[2018-04-23 13:15] iSasFTW commented on #195
Is this still open & needed, and does the bot have to be in cljs? (or can it be separate from openbounty entirely, written in a different language?)

[2018-04-23 14:34] PombeirP commented on #195
@martinklepsch you're right, that's something that would make sense to add to https://github.com/PombeirP/status-github-bot/tree/master/bot_scripts. There's already code there that can be leveraged to interact with Slack and checking balances.

[2018-04-23 18:26] rcullito commented on #329
@churik I ended up experiencing this same behavior during confirming payouts (rather than on contract deploy) so definitely a bug. nice find! will keep it in mind for something to work on after revocation.

[2018-04-23 21:03] leonprou commented on #398
@churik hey, thanks for answering 😊
I followed your advise and tweaked the `config.ini` a little more, now I nearly passed the first test..
I'll try to continue to go on with this soon.

But actually I think I can create the new end to end test without selenium at all.. using web3py must be much more fast.

[2018-04-24 08:02] churik commented on #398
@leonprou go ahead!
I described just one of the possible ways (and I think not the best one), so if you can do it using web3py inside end-to-end tests - feel free to experiment.
Thanks:)

[2018-04-24 09:05] churik commented on #329
@rcullito superb, it is a bit tricky.
Thanks for keeping me updated!

[2018-04-25 14:20] martinklepsch opened #434 "Reduce amount of requests sent to FIAT value providers"
In `commiteth.util.crypto-fiat-value` we define a bunch of utility functions to retrieve the fiat value of various cryptocurrencies.  As part of `commiteth.scheduler/update-balances` these functions are called for **every bounty every 10 minutes**.

This results in a lot of requests to our fiat value provider (coinmarketcap usually) causing them to shut us off with `429 Too Many Requests`.

We sho

[2018-04-25 16:02] martinklepsch commented on #344
Some additional notes have been captured in [this Google Doc](https://docs.google.com/document/d/1Co45-YWvouSdy2Kof1UfaWgan1pDLWgNAZco_CC9UR0/edit?usp=sharing)

[2018-04-25 21:16] martinklepsch opened #437 "Return open claims alongside bounties in API"
Currently we send bounties and claims separately which led to issues like #432.

Similar to how claims are injected into `owner-bounties` (see code below) we should include claims with the API response. At the time of writing this "joining" is handled by a [client side subscription](https://github.com/status-im/open-bounty/blob/ece5333ae8b16e186ff2d44a144285dd727b0c53/src/cljs/commiteth/subscripti

[2018-04-26 07:05] arash009 opened #438 "Events landing page"
To help support the onboarding of users that we meet at events and meetups, we need to have a specific landing page to use at these meetups that the user can sign up from and provide their information. This way, we're able to match up users that complete bounties with promotions that they 'opt-in' for.

A form similar to [this](https://docs.google.com/forms/d/e/1FAIpQLScLsFiyF8sswg5swfb9QUFZ_MTtTn

[2018-04-26 07:27] #434 closed

[2018-04-26 07:30] martinklepsch commented on #426
I reached out to GitHub support to understand how we could use their API to identify PRs that are claims towards a bounty/issue. While it's not directly possible to retrieve the PR that *closed* an issue the (beta) timeline API allows finding all PRs that referenced an issue. Parsing the body and title as we do now should then allow us to identify claims quite easily:

[code]

[2018-04-26 13:33] martinklepsch opened #439 "Ensure `address` is either NULL or non-empty string"
The `address` column in the `users` table should never contain an empty string `""`.

[2018-04-26 15:40] martinklepsch opened #440 "Design: think about how to format long fractions of crypto amounts"
![long crypto amounts](https://slack-imgs.com/?c=1&url=https%3A%2F%2Fmonosnap.com%2Ffacebook%2Fgenerate_image_preview%3Fid%3DZzPivBbeWXUUWws0BTH87urTQQsHDu)

It's probably not necessary to show all these digits but it's tricky because the significance of fractions varies from currency to currency. (E.g. 0.05ETH are $30 while 0.05SNT are some cents)

[2018-04-26 16:16] EugeOrtiz opened #441 "New Org Dashboard UI feedback (Cont.)"
### New Org Dashboard UI feedback (Cont.)

**General**
- [ ] Welcome message should only appear the first time a new user encounters the screen (even if he didn’t close it).
- [ ] Welcome message > “Chat with us” should open SOB chat room https://chat.status.im/#/room/#openbounty:status.im in a new tab
- [ ] Distance between blue marker in tabs and first card should be 24px instead of 32px (it sho

[2018-04-26 16:17] siphiuel opened #442 "Store transaction hashes in a separate table"
### Description

There is currently a plethora of various tx hashes that are stored in the `issues` table. These pertain to different stages of tx lifecycle and include:
  - `transaction_hash` - set when contract is deployed
  - `contract_address` - set when tx referenced by `transaction_hash` has been mined
  -  `execute_hash` - set when the PR was merged and fund withdrawal procedure is initiate

[2018-04-26 16:34] #218 closed

[2018-04-26 16:34] #361 closed

[2018-04-26 16:34] #297 closed

[2018-04-26 16:34] #377 closed

[2018-04-26 17:39] iSasFTW commented on #195
@martinklepsch @PombeirP I’m not yet familiar with that repo, but I'll take a look :) I was originally thinking of doing this in Python, but JS should be fine too. Should i just create a new file in the bot_scripts directory, or is there extra configuration required? (Not really familiar with probot)

[2018-04-26 17:46] PombeirP commented on #195
@iSasFTW yeah, just add a new file in `bot_scripts` and require it in `index.js` like the others. You can then look at `lib/token-payments.js` to see how we're using the `ethers.js` library (only to do payments atm though) and `lib/slack.js` for the Slack integration. `bot_scripts/tip-kudos-recipients.js` is a script which leverages both of those files, so you can look in there too.
For debugging

[2018-04-26 18:07] iSasFTW commented on #195
@PombeirP Ok, thanks! Does lib/slack.js work without dependencies from the bot repo, so I can use it in a separate nodejs project for testing, or does it require some specific files? I also took a quick look at ethers.js, and it looks like it has a pretty simple way to get balances, provided it’s connected to the network. (Which I assume the bot is, if it is making txs)

[2018-04-26 18:09] PombeirP commented on #195
`lib/slack.js` requires the [`@slack/client` npm package](@slack/client). I wouldn't worry much about that, since it's a one liner that'll be pretty easy to add at the end.

[2018-04-27 10:51] churik opened #444 "Issues with titles longer than 256 chars cannot be a bounties"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: if you create an issue with long title (> 256 chars) and put bounty label on it -  contract is not deployed because issue_title in DB has restriction 256 chars

#### Expected behavior
[comment]: # (Describe what you expected to happen.)
contract is deployed

#### Actual behavior
[comment]: # (Describe what actuall

[2018-04-27 12:08] EugeOrtiz commented on #438
@arash009 Do you want to keep the same questions from the current form?

[2018-04-27 13:12] leonprou commented on #398
@churik Ok I started working on it, the part of grabbing the contract address from link is already done. Hope you'll hear from me soon!

I'm just not sure If I need to check in the open bounties app that I started working on this.

[2018-04-27 14:23] churik opened #445 "Closed issues are still presented on `Manage bounties`"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
*Summary*: closed bounties are displayed on new dashboard (`Manage bounties` tab).

#### Expected behavior
[comment]: # (Describe what you expected to happen.)
closed bounty is not displayed in `Manage bounties`(like in `Bounties` )
#### Actual behavior
[comment]: # (Describe what actually happened.)
closed bounty is  displa

[2018-04-27 15:14] churik commented on #398
@leonprou do you mean to sign up to https://openbounty.status.im/?

You can do this when you want, but I suggest to do it before your PR will be merged.
All that you need to claim bounty - you can find [here](https://github.com/status-im/open-bounty/blob/develop/doc/testing.md) - section for **Bounty Hunter**

Feel free to ask any questions.

[2018-04-27 15:54] iSasFTW commented on #195
@PombeirP Hey! I made a script for this in a separate nodejs project, and i'm wondering how i might go about integrating with probot? Do i have to use the module.exports or how does that work?

[2018-04-28 07:45] leonprou commented on #398
@churik ok, cool.

You know I though a little about that test. You want to check that a specific bounty - https://github.com/NewOrGanizationSOB/RepoSOB1_2/issues/145 (which already deployed) can be funded.

But actually you test the same contract again and again. Even if you change your codebase this test will always work. So actually you kind of testing the Ethereum Ropsten network.  This test al

[2018-04-30 07:30] churik commented on #398
@leonprou I just put as bounty actions required for real test. Of course, I haven't in mind to test Ropsten.
So after these steps will be implemented I'm going to check that values are updated everywhere - in SOB GitHub bot comment, in `Bounties` list, in `Activity` list, in `Manage bounties`.

[2018-04-30 11:37] PombeirP commented on #195
Hey @iSasFTW. Testing with Probot requires some non-trivial setup (creating an app in GitHub, deploying it and configuring the .env file with the values from that deployment). If you want, you can point me to your script and I'll try integrating it on status-github-bot to check that it works as expected.

[2018-04-30 11:48] iSasFTW commented on #195
@PombeirP Here is my script: https://gist.github.com/iSasFTW/2f24a52e4f1e9743ab75e2dc4b395388
I don't have any of the slack stuff in there, just wanted to see if it works properly with the rest of the bot. Right now it's configured to check the address every 10 seconds, and uses the default ropsten provider. (so it will have to be configured for mainnet)

[2018-04-30 13:47] PombeirP commented on #195
Thanks @iSasFTW. No problem, that configuration is something that is already in place for probot, so it is easy to adapt the script. I'll test it and let you know how it goes.

[2018-04-30 13:52] EugeOrtiz commented on #438
@arash009 @rcullito
[Desktop design @ Zeplin](http://zpl.io/VOWp3Al)
[Mobile design @ Zeplin](http://zpl.io/aRq9kXr)

Let me know if you have any comments!

[2018-04-30 15:06] PombeirP commented on #195
@iSasFTW here is a patch that implements a working version in probot. Please make a PR that implements this so that you can receive the bounty.

[code]

[2018-04-30 17:12] iSasFTW commented on #195
@PombeirP Alright, i'll send the PR. But do the bounties work across repos, since it is set to this repo (open-bounty) but the PR would be to status-github-bot?

[2018-04-30 17:14] PombeirP commented on #195
hmm, I think we'll need @andytudhope's help to recreate the bounty in the status-github-bot repo.

[2018-04-30 19:12] andytudhope commented on #195
Yeah, I can handle it manually seeing as it is going to be submitted in a different repo, no big stress 👍

[2018-04-30 19:17] iSasFTW commented on #195
Okay, made a pull request @PombeirP @andytudhope https://github.com/status-im/status-github-bot/pull/22

[2018-05-01 08:16] PombeirP commented on #195
Merged.

[2018-05-01 08:16] #195 closed

[2018-05-03 12:46] #432 closed

[2018-05-03 20:22] debragail opened #449 "Bounty went to an incompatible wallet and was lost"
Openbounty advertises being able to be paid in the crypto current of choice and I was never prompted to choose the currency and was paid the wrong currency to the wrong type of wallet.

Bug:

I created an ETH wallet on Coinbase
I added my address to my payment profile in openbounty
I was paid SNT to that address
That is forever lost because Coinbase does not accept alt coin.

Expected behavior:

P

[2018-05-04 19:27] debragail commented on #449
also when i tried to change my wallet to something null so this can't happen again until I find out what to do I got a blank error alert box
<img width="1648" alt="screen shot 2018-05-04 at 12 21 44" src="https://user-images.githubusercontent.com/552529/39648271-89a5333c-4f96-11e8-8cbf-0f51c71d1061.png">

[2018-05-04 19:32] debragail opened #450 "Add search to openbounty.status.im"
Currently there is no way to search open bounties.  The bounties are show in order of date posted and in a list with a previous and next button.  There should be a way to search bounties since it is difficult to find bounties.

Suggested:

Implement a search api like Algolia to be able to search and query the list of bounties.

[2018-05-04 19:34] debragail commented on #449
also notice that bounty information in the git issue says to update your Ethereum address...

<img width="1649" alt="screen shot 2018-05-04 at 12 30 37" src="https://user-images.githubusercontent.com/552529/39648569-76ae1f54-4f97-11e8-9d01-cf3d9180afb4.png">

[2018-05-04 19:35] debragail commented on #449
Also note that existing bounty comments in git issues say to update payment details with Ethereum address:

<img width="697" alt="screen shot 2018-05-04 at 12 34 58" src="https://user-images.githubusercontent.com/552529/39648609-9fe1a940-4f97-11e8-9a5e-6bee3fdb724f.png">

[2018-05-11 18:25] iSasFTW commented on #195
@andytudhope Hey! Could you close this bounty and release the tokens? 🙂

[2018-05-11 18:34] andytudhope commented on #195
@iSasFTW done: https://etherscan.io/tx/0xd1026f9b9c6860c094aa962547024e0dba45d03f23e918577516e514a61b2112

Apologies for the delay here and nice work brother ❤️

[2018-05-11 19:45] iSasFTW commented on #195
Thanks @andytudhope 👍

[2018-05-11 21:25] john-light opened #451 "Make it possible to change the payout address in My Payment Details"
### User Story

As a user, I want to change my Ethereum address so that I can receive payouts at a new address.

### Description

*Type*: Bug

*Summary*: I cannot change my Ethereum address on the My Payment Details page.

#### Expected behavior
I should be able to add a new address so it is my current payout address. Bonus: I should also be able to delete addresses I have added in the past but no

[2018-05-14 17:02] georgiemathews commented on #384
@martinklepsch I've started it. let me know if you have any questions

[2018-05-21 13:07] EugeOrtiz opened #454 "Revoke function bugs/issues"

[2018-05-25 13:34] #385 closed

[2018-05-29 05:12] debragail commented on #242
do we need to fix this anywhere else?

[2018-06-01 08:12] churik opened #464 "If transaction takes more than several hours, bounties stuck in "Pending maintainer confirmation""
### Description

*Type*: Bug
*Summary*: when I confirm payout for bounty or revoke bounty with too low Gas Price (i.e. 6 GWei instead of 15 GWei) transaction can hang several hours before including to block. In this case when transaction is finally completed, bounty stays in "Pending maintainer" state.

#### Expected behavior
Bounty is in final state (Paid to "Winner")

#### Actual behavior
Bounty

[2018-06-01 08:34] churik opened #465 "Profile pictures are not displayed for logged in users"
### Description

*Type*: Bug
*Summary*: profile picture in top right corner is not displayed

#### Expected behavior
the profile picture is displayed correctly

#### Actual behavior
the profile picture is not displayed
![profilepic](https://user-images.githubusercontent.com/4557972/40830631-96f6a4bc-658f-11e8-91f6-33493e25b5f9.png)

### Reproduction

- Open Status
- Log in

### Additional Informat

[2018-06-12 21:55] stellarmagnet commented on #326
Hi @arash009 sorry for the late reply.

We plan on still utilizing Status Open Bounty for the initial planning app integration.

One thing that we would like (that I'm not even sure Standard Bounties is capable of) is for it to be possible to add bounties to an issue of yet-to-be-minted non-transferrable tokens that a DAO owns and can mint on a continuous basis. It's likely we will also want to su

[2018-06-15 15:15] endenwer commented on #384
@siphiuel @martinklepsch Can I just save png to filesystem when creating `issue_comment` and store image hash in db. If that's ok I can start working on it.

[2018-06-21 11:47] jjperezaguinaga opened #467 "Bounties show zero balance when funded with a token different to SNT, ANT, SWT or ETH"
[comment]: # (Please replace ... with your information. Remove < and >)

### User Story

As an organisation, I want to fund bounty issues with my own ERC-20 tokens, so that my community gets rewarded by helping the product they support.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

[comment]: # (Describe the feature you would like, or briefly summarise the bug and wha

[2018-06-21 11:48] jjperezaguinaga commented on #467
@rcullito just mentioned in the chat channel the following likely reason why the token hasn't shown up:

![image](https://user-images.githubusercontent.com/1128312/41717358-1e449ade-751f-11e8-939f-0a1f7e3def91.png)

Since the MYB token used did a token swap recently, the Parity Registry hasn't been updated.

[2018-06-28 14:05] jjperezaguinaga commented on #467
@rcullito we finally managed to update the token registry with the new token. I think we now only need a cache refresh from your side :blush:

[2018-06-28 16:56] rcullito commented on #467
believe we can close this down for now as we seem to be over the hurdle with the `MYB` token. from our end, we'll try and make it more explicit in our documentation that new tokens require a ping in riot to let us know.

thanks for bringing up @jjperezaguinaga

[2018-06-28 16:56] #467 closed

[2018-06-29 15:40] endenwer commented on #384
Hey @andytudhope. Is there anyone who can review my pr?

[2018-07-16 16:01] #425 closed

[2018-07-16 16:05] #284 closed

[2018-07-16 16:06] #438 closed

[2018-07-20 07:18] virneo commented on #258
I can take this.

[2018-07-26 11:04] kdeme commented on #223
Is this still needed? If so, can give it a go.

[2018-08-23 18:44] andytudhope commented on #258
Closing this issue because it is stale and out-of-date.

[2018-08-23 18:44] #258 closed

[2018-08-31 10:11] #398 closed

[2018-08-31 14:38] #223 closed

[2018-08-31 17:01] #312 closed

[2018-09-04 07:26] debragail commented on #242
I think this was fixed?

[2018-09-10 23:58] pablanopete commented on #384
Sorry for the long wait @endenwer -- @siphiuel may be able to review but we're putting a resource hold on Open Bounty for now so this bounty would be considered out of commission for the time being.

cc @andytudhope for revoking

[2018-09-11 00:00] pablanopete commented on #242
To be revoked @andytudhope

[2018-11-06 12:12] cryptomental opened #474 "Cannot claim a bounty using cross-repository issue reference"
### Description

Hi I am trying to open a claim for a bounty where pull request lives in a different repo than the bounty.

To be more specific https://github.com/MyBitFoundation/MyBit-Network.tech/issues/197 vs https://github.com/MyBitFoundation/MyBit-Trust.website/pull/4 .I tried to use cross-references https://blog.github.com/2011-10-21-github-secrets/#cross-repository-issue-references but it d

[2018-11-10 04:11] samthomson opened #475 "'jobs' in footer is a dead link 404"
'Jobs' in footer is a dead link (leads to 404)

![image](https://user-images.githubusercontent.com/6588340/48297362-8af03d80-e4d4-11e8-8415-0d64e9eb05c5.png)

![image](https://user-images.githubusercontent.com/6588340/48297389-27b2db00-e4d5-11e8-9737-d646d4f56f36.png)

### User Story

As a site visitor, I want to click the jobs link in the footer and be taken to a relevant jobs page.

### Descript

[2018-11-10 04:15] samthomson commented on #475
I'd be happy to fix this issue if you would like. If you assign the issue to me I can submit a quick PR :upside_down_face:

[2018-12-03 23:30] #396 closed

[2018-12-03 23:31] #426 closed

[2018-12-12 16:59] corpetty opened #476 "GitHub Vulnerability Alert: urllib3 version 1.22"
Github has sent us a vulnerability alert of one of our dependencies: `urllib3 version 1.22`, which has been labeled `High Severity`.

You can find more information [here](https://nvd.nist.gov/vuln/detail/CVE-2018-20060).

## Suggested fix from Github:
upgrade to `urllib3>=1.23` in `test/end-to-end/requirements.txt`.

Notes:  there seems to be breaking changes going to 1.23, and the current version